[2018-01-22 20:38] LexiconCode opened #1 "Add Gitter channel to project"
Greetings, first off I want to thank you for pursuing adding CMU Pocket Sphinx as a backend for dragonfly. It has been a long hope to see alternative speech recognition engines especially open source projects integrated into dragonfly.

I found gitter as excellent tool to help the exchange of ideas and community. Typically ideas might be formed in gitter chat and when formalized opened up as an gi

[2018-01-23 02:16] Danesprite commented on #1
Hey thanks! I think the main thing left to do at the moment is full action support on non-Windows systems.
I was thinking of some way to foster a community around this and it sounds like gitter would be good. I might also post on the [dragonfly Google group](https://groups.google.com/forum/#!forum/dragonflyspeech) about it.

[2018-01-23 02:26] Danesprite commented on #1
I've made a gitter: [sphinx-dragonfly](https://gitter.im/sphinx-dragonfly/).

[2018-01-23 23:22] #1 closed

[2018-02-10 11:56] Danesprite opened #3 "Engine methods for key phrase spotting"
There is support in Pocket Sphinx for listening for a single key phrase or a list of key phrases from a file. This is the same as the 'wake up' command that Dragon has.

It might be nice to have an engine method for registering a key phrase to listen for:

`engine.register_keyphrase_search(keyphrase, threshold, function)`

and also perhaps unregistering key phrases:

`engine.unregister_keyphrase_s

[2018-02-10 12:31] Danesprite opened #4 "Rules using command chaining and Dictation don't work for the Sphinx engine"
Command chaining (repetition) of rules using `Dictation` elements/extras doesn't work at the moment. This is due to such rules needing to be spoken in sequence with utterance pauses.

I have some work and tests on this using a `Timer` thread which processes the complete repetitions of rules so far after a timeout period, similar to the timeout period that starts after speaking part of a rule. This

[2018-04-06 12:04] Danesprite opened #6 "Sphinx engine methods for recognising from .wav files / streams"
The Pocket Sphinx API allows for this and the built-in `wave` package could be used to validate files (correct sample rate, no. of channels, valid format) using the engine configuration. This would make the engine usable over a network or with a machine that doesn't have a microphone attached.

Methods could be `recognise_from_file` and `recognise_from_buffer`. Both would use the `PocketSphinx` pr

[2018-04-08 08:30] gerrish opened #7 "Dragonfly monitor returns rectangle of wrong dimensions if windows dpi scaling is enabled"
This is a bug originally detected in Caster development. Windows has a dpi scaling option which is mandatory for higher resolutions to make text readable. When this is set to anything but 100%, dragonfly monitor returns a smaller rectangle than the actual screen size. The rectangle's area and dimensions are exactly divided by the dpi scaling. Thus, the function which is used inside dragonfly is pr

[2018-04-09 14:41] Danesprite commented on #7
`EnumDisplayMonitors` is used to get the values already. Getting the monitor attributes every time sounds like a good way to fix this issue, as they are indeed only calculated at startup. I'll have a look into this tomorrow for you. I'm unable to test with multiple monitors in my Windows VM at the moment unfortunately.

According to `git blame`, most of `monitor.py` hasn't been updated since 2008,

[2018-04-10 07:42] gerrish commented on #7
I meant the function from win32api which returns proper results compared to the current implementation. I'm not sure if it is enough to calculate every time without this fix because as I said it also reports wrong values. Even with startup calculation, it should always return the dimensions of the screen when dragon was started which it doesn't.

[2018-04-10 15:01] gerrish commented on #7
If it doesn't hurt performance, which I doubt it will, it would be best if the monitor variable is rebuilt when needed since it will be annoying to reboot dragon every time something changes. This includes getting the rectangles.
Alternatively, keep it on startup but add a method to refresh the variable so that in sensitive applications like Mouse grids we can explicitly ask for the latest setting

[2018-04-10 15:14] LexiconCode commented on #7
Should we consider implementation for Linux and Mac OS as well? Since Windows relies on `win32api.EnumDisplayMonitors`?

[2018-04-11 04:57] Danesprite commented on #7
I think `EnumDisplayMonitors` could just be called every time, it returns fairly quickly. Maybe the `Rectangle` objects for monitors could be reinitialised instead, so you don't end up using invalid ones. I'll make some changes shortly and do some testing.

@LexiconCode I had the same thought. Either the `xrandr` command or [python-xlib](https://github.com/python-xlib/python-xlib) could be used fo

[2018-04-11 09:48] Danesprite commented on #7
Let me know if that fixes it for you. I've done some testing on Windows 10 and it seems to be working.

[2018-04-11 12:51] gerrish commented on #7
Works great on my computer as well (Windows 10 125 % scaling).

[2018-04-11 13:38] Danesprite commented on #7
So I'll close this for now, can always reopen it if I've broken something else with those changes.

[2018-04-11 13:38] #7 closed

[2018-04-12 15:02] Danesprite opened #8 "Cross platform support"
There have been discussions on making dragonfly more cross platform by using packages that support cross platform user input and window management on Windows and Linux (X11). [Aenea](https://github.com/dictation-toolbox/aenea) already does a lot of this in its server implementations, so it may be a good starting point.

### TODO
- [X] Implement cross-platform clipboard class using [pyperclip](http

[2018-04-14 13:04] gerrish commented on #8
I can try making an adapter for keyboard keys to keep the same convention on their spec.also,care should be given to avoid the sudo requirement of some of these midules

[2018-04-14 16:25] LexiconCode opened #9 "Add a documentation tag related to changes in source code where Docs need to be updated"
As we continue to make changes to the dragonfly source code we need to keep track of updating the documentation. Could we add a `documentation` tag so we can look back and refer to issues and projects?

[2018-04-15 04:08] Danesprite commented on #9
Sure. Just to clarify, you meant a new label in GitHub, right?

[2018-04-15 04:48] Danesprite commented on #8
Thanks :+1:

At least some of these projects already do the adaption for platform specific key tables, e.g. [PyUserInput's implementations](https://github.com/PyUserInput/PyUserInput/tree/master/pykeyboard), so that should make things easier. There is also work in Aenea for translating from dragonfly keys to what [xdotool uses](https://github.com/dictation-toolbox/aenea/blob/master/server/linux_x1

[2018-04-15 11:15] LexiconCode commented on #9
Yep

[2018-04-15 12:42] #9 closed

[2018-04-19 13:01] LexiconCode opened #11 "Support Microsoft's UI Automation API on Windows"
Microsoft's UI Automation API (UIA) allows interacting with system UI elements (e.g. task bar, menus, etc.) and programs running as administrator. Dragonfly's `Key`, `Text` and `Mouse` actions cannot currently do this.

A full end-to-end proof of concept working of the [helper app](https://github.com/chilimangoes/CasterUIAutomation_POC) for interacting with apps that are running as administrator i

[2018-04-20 19:36] LexiconCode opened #12 "UnicodeDecodeError: 'ascii' codec can't decode byte 0x83 in position 52"
This may be related to porting Dragonfly to Python 3.
It was first discovered when enabling Caster filter rules. It can be reproduced on initialization of Caster by adding in `_caster.py` and adding `from builtins import str` and `from __future__ import unicode_literals` to the top.

[code]
Full issue is posted https://github.com/synkarius/caster/issues/236

Let me know how I can help!

[2018-04-20 20:07] LexiconCode opened #13 "null"

[2018-04-20 20:08] LexiconCode commented on #13
nvm

[2018-04-20 20:08] #13 closed

[2018-04-23 04:58] Danesprite commented on #12
Thanks for filing this. I remember you mentioned something similar in the gitter channel a while ago concerning window titles. I'll do some testing and see what I can do. It may be a good idea to add a test method in `dragonfly/test/test_parser.py` for testing this, it only covers ascii at the moment.

It may be an issue with Python 3 porting too I guess. There is a lot of encoding/decoding betwee

[2018-04-29 13:56] Danesprite commented on #12
Okay I've made a few changes which seem to stop a `UnicodeDecodeError` being raised. Adding `from __future__ import unicode_literals` to the top of `_caster.py` also seemed to fix it for me. Oddly, the modified parser tests pass either way. Let me know if it works for you.

[2018-04-29 14:35] LexiconCode commented on #12
Excellent, I will take a look! Thank you for looking into it!

That is indeed strange. Is this before or after implementing your fix and are you testing and the caster development branch (shouldn't make a difference but...)?

The imports look like the following?
[code]
I will test your fix today or tomorrow then let you know!

[2018-04-29 16:31] Danesprite opened #14 "Unicode/multi-language support for grammar specs"
At the moment dragonfly's parser only accepts ASCII characters. The `string.letters` string used by the parser is not locale-dependent and will only work with English characters ([see the docs](https://docs.python.org/2.7/library/string.html)). There have been other issues about this, including [dragonfly/t4ngo #11](https://github.com/t4ngo/dragonfly/issues/11) and [Aenea #156](https://github.com/

[2018-04-29 16:48] Danesprite commented on #12
You're welcome!

Never mind actually, I just tested again without the fix and no, the `__future__` import doesn't fix it. I must have tested with the fix accidentally that time.

[2018-05-05 08:45] gerrish opened #15 "Clipboard multiplatform overhaul"
I had some problems with the dragonfly clipboard implementation, specifically the get System text method not working at all Due to that it requests a unicode clipboard format which doesn't exist in some applications like visual studio code.
Instead of fixing the problem in Windows, I added pyperclip which works great. I thought we could use it to overhaul the entire clipboard class. There are some

[2018-05-06 05:17] Versatilus commented on #15
It would be great if you could provide a sample file. I don't seem to be
having the same issue, but I also only have UTF-8/ASCII files.

On Sat, May 5, 2018 at 1:45 AM, Sotiris Dragonas <notifications@github.com>
wrote:

[2018-05-06 16:06] Danesprite commented on #11
Sorry I haven't responded to this for so long, I've been a bit busy with other projects. I've just had a look at some of the code and it looks great. I'll do some testing with it and dragonfly tomorrow. From the example Python code in the project, it looks like it will be pretty easy to interact with it from dragonfly.

[2018-05-06 17:07] Danesprite commented on #15
I did mention pyperclip in issue #8, but yes, this would be nice if everything still works.

I'm not sure about other clipboard formats being made obsolete by using unicode though. Perhaps `Clipboard.get_system_text` could check the current format rather than assuming the content is unicode? [win32clipboard.IsClipboardFormatAvailable](http://timgolden.me.uk/pywin32-docs/win32clipboard__IsClipboard

[2018-05-06 18:39] gerrish commented on #15
I implied that get_system_text would use the pyperclip.copy method instead of fixing the current Windows only implementation.  I was thinking this Could be done for all the class methods. If we do this, formats are dealt with by pyperclip, so there's no point in the clipboard class containing things like the Dictionary with content mapped to format. Furthermore, if pyperclip doesn't support a form

[2018-05-08 13:40] Danesprite commented on #15
Alright then, I'll add a feature branch on this with some unit tests. I'd also be happy to review pull requests on issues like this.

I agree with @Versatilus, if you're copy/pasting non-ASCII text, that might make a difference in some way.

[2018-05-08 14:53] gerrish commented on #15
It was actually python 2.7 code so I doubt there was anything non-ascii in the file. It was one of caster's files.
I will try to contribute something in the next days.

[2018-05-08 15:22] Shoggomo opened #16 "Add support for different keyboard layouts"
Right now different keyboard layouts can cause problems like not being able to write `{}` with `Text()`.
In [Monospark's fork](https://github.com/Monospark/dragonfire) this bug was fixed with ebc094c69ad364b1c217b9e6d4af23aa97711314. This should be fixed here, too.

[2018-05-09 04:51] Danesprite commented on #16
Thanks for that. I'll make a PR to merge that change without the other changes in his fork.

[2018-05-09 05:37] Danesprite commented on #15
Ah okay, thanks for clarifying that.

I have some work done on this already. I've tried to keep the changes backwards-compatible with the format->contents dictionary approach. I'll put it up soon.

[2018-05-09 05:41] LexiconCode commented on #11
Excellent, if you can think of any good names for the project we're needing suggestions :) right now it's a bit of a mouthful.

[2018-05-09 05:45] LexiconCode commented on #12
Sorry my computer went nuclear and blew up the MBR. Which I'm trying to pain stakingly rebuild the save my windows install. I don't want to lose the one of the activations for DNS. As soon as the PC is functional I'll get back to this.

[2018-05-09 05:57] Danesprite commented on #12
Oh no! I'm very sorry to hear that :cry:
Don't worry about it, no rush.

[2018-05-09 07:11] Danesprite commented on #11
Yeah it is a bit. Maybe something like AdminUIKit? I don't know. It's not strictly tied to having dragonfly or caster in the name apart from the spec parsing it does for keys.

[2018-05-09 08:58] Danesprite commented on #15
The changes are in the feat/multi-platform-clipboard branch. I've run the new tests on Windows 10 and on my Linux machine with success. Let me know if it works for you.

Are there applications which work with the Windows-only implementation and not with `pyperclip`? I'm a little uneasy about removing support for the other clipboard formats altogether.

I was thinking that having the `Clipboard` cl

[2018-05-09 15:34] Danesprite commented on #16
This works nicely, although I uncovered an interesting Windows limitation while testing it: switching between and using multiple layouts doesn't work properly for layouts other than what the process started with. This appears to be due to Windows storing locale information like this with each thread and not updating it on a layout change by the user.

This can be fixed by calling `GetKeyboardLayou

[2018-05-09 15:47] #16 closed

[2018-05-12 05:43] Danesprite opened #18 "Continuous integration with Travis-CI"
Dragonfly has a large number of unit tests, some of which are platform/engine specific. It would be nice to use [Travis-CI](https://travis-ci.org/) for unit tests which aren't platform/engine specific, like the parser and element tests, so that it's obvious when new commits/PRs break tests or if certain functionality doesn't work with specific Python versions.

At the moment Travis-CI only support

[2018-05-19 00:06] Versatilus commented on #12
One place this happens for me is where Dragon tries to process (for `AppContext`) the title of certain windows that have non-ASCII characters in them such as the – (emdash) in the title of Atom windows because the default codec is `ASCII`. I haven't looked at it since to try debugging further.

[2018-05-22 16:15] Danesprite commented on #3
Functionality is almost identical to what I wrote above except that the new engine methods are `set_keyphrase` and `unset_keyphrase` instead. I've tagged this to have documentation written about it or generated from docstrings at some point.

On an unrelated note, `unload` functions like the one shown above don't do anything with the Sphinx engine loader at the moment.

[2018-05-22 16:15] #3 closed

[2018-05-22 16:25] Danesprite commented on #12
Yep, that is a related issue. The parser needs to be updated to use `utf-8` instead of `ascii`. I'll be looking into this some more soon.

[2018-05-26 14:35] Danesprite commented on #4
I've been doing a little more investigation into this lately and fixing this completely is absurdly difficult to do IMO.

The best way of having this functionality is probably by using n-gram language models interspersed with grammar literals like [Silvius](https://github.com/dwks/silvius) does. I believe that CMU Pocket Sphinx and [Kaldi](http://kaldi-asr.org/doc/about.html) (what Silvius uses) b

[2018-06-26 15:23] Danesprite commented on #12
I've just verified that 9fe1d04 did fix this. The related window title bug is probably fixed too, if not by that commit, then by 253dd15203c7f382943f4f97b27ad77e6fce6f43 when it gets merged to master.

[2018-06-26 15:23] #12 closed

[2018-06-26 16:28] LexiconCode commented on #12
Excellent I will take a look and pass on the awesome news!

[2018-07-10 10:50] #15 closed

[2018-07-14 03:29] #14 closed

[2018-07-18 11:30] Danesprite commented on #18
I've set up Travis CI for the parser tests and added a build status badge in the readme. Additional tests can be run for each build by adding to the test files specified under `setup:` in `.travis.yml`.

[2018-07-29 14:33] Danesprite opened #22 "Training program/mode for the Pocket Sphinx engine"
A method for easily training the acoustic model used for the Pocket Sphinx engine would make it much more useful than it currently is. The default US English model is trained for (essentially) dictation/prose use, rather than for sequences of commands. This is (partly) why the accuracy is less than ideal.

The idea I have in mind is to train the active model using data from the engine, rather than

[2018-08-01 22:10] LexiconCode commented on #22
Could this be read from the grammars then generated into a list?

[2018-08-02 11:42] Danesprite commented on #22
Yes, the phrases can be generated from grammars. Did you mean as an alternative to using .wav files and recognised phrases from the engine?

It might be useful to have a training mode where recognition processing does not occur. For example, I could say 'start training session', say a bunch of commands in sequences that I want to train, then finish by saying 'end training session', after which the

[2018-08-02 19:40] LexiconCode commented on #22
That clarified for me recognized phrases which are loaded from grammars. I like your good idea how to implement the commands for training while maintaining their context.

[2018-08-07 13:45] Danesprite opened #23 "Pocket Sphinx free-dictation mode"
The Pocket Sphinx engine has no free-dictation mode at the moment. If no key phrase or grammar rule is recognised, then "Sorry, what was that?" will be printed. Given how Pocket Sphinx grammar searches [do not reject out-of-grammar words](https://cmusphinx.github.io/wiki/faq/#q-can-pocketsphinx-reject-out-of-grammar-words-and-noises) at the moment, I think it might be better to have a separate mod

[2018-08-08 13:43] LexiconCode opened #24 "GUI framework using RPC"
Many of the people who use Dragonfly have limitations with interacting with the traditional interfaces as keyboard and mouse. Principally a GUI displays information and interface elements they can be interacted with voice, touch, eye tracking, mouse, and keyboard.  A cross-platform GUI framework could enhance the Dragonfly platform. Some end-user use cases are:

- Listing available commands and gr

[2018-08-16 17:02] LexiconCode commented on #24
Thank you for putting in the legwork into put launching the proof of concept!  Your thoughts in implementing this have been invaluable. I look forward to see how this continues to develop.

The size of grpc packages are not insubstantial. I think initially and we can keep them separate. Depending how this evolves and becomes more the core functionality of the Dragonfly project the grpc packages ma

[2018-08-17 08:54] Danesprite commented on #24
Thanks, I'm hoping to integrate it with the `EngineBase.grammars` property I added.
Yeah I guess we'll have to see. I'll remove 2.6 from that file now.
Thanks for those links, I didn't think of looking for TkInter design tools.

[2018-09-03 13:16] Danesprite opened #25 "Python 3 IntegerRef bug"
I think this bug is related to the classes and methods that build the rules that `IntegerRefs` use. The following Python code can be run in both versions, but results in different outputs:
[code]

Using Python 2.7, the expected rule that will match any number from "one" to "twenty" (exclusive) is built and printed:
[code]

Using Python 3.5, a very long rule is printed that allows speaking numbers

[2018-09-15 16:06] Danesprite commented on #22
The training session mode has been added to develop now. You can say `"start training session"` to start it or call `SphinxEngine.start_training_session()`. To end a session, you can say `"end training session"` or call `SphinxEngine.end_training_session()`. `"end training session"` doesn't start the training program GUI because it does not exist yet.

As I said in an above comment, the only diffe

[2018-09-17 07:01] Danesprite opened #29 "Simplify Git branching scheme"
This was decided in this project's [gitter channel](https://gitter.im/sphinx-dragonfly/Lobby?at=5b9f47030cfe7f30f1a67685), but I wanted to say it here too. We're switching from using a develop and master branch to just using a master branch for the latest changes, replacing develop. There are a few reasons for this:

- There is a pretty decent [Keep a Changelog](https://keepachangelog.com/en/0.3.0

[2018-09-17 22:06] LexiconCode opened #31 "Clarify dragonfly documentation regarding user selected language of the SR engine."
Currently users have to manually edit [language](https://dragonfly.readthedocs.io/en/latest/engines.html?highlight=language) We should clarify the documentation with the example. This should be clarified by each supported speech recognition engine.

[Nuance Documentation for DNS 15 supported languages](https://nuance.custhelp.com/app/answers/detail/a_id/6280/kw/Dragon%20NaturallySpeaking%20languag

[2018-09-18 04:52] Danesprite commented on #31
Thanks for the language listing, but the [natlink engine's implementation](https://github.com/Danesprite/dragonfly/blob/master/dragonfly/engines/backend_natlink/engine.py#L215) should automatically get the current language from Dragon through the Windows COM interface. If that's stopped working for Dragon 15, we might need to add a work around. I believe you can get the language from natlink too.

[2018-09-18 06:41] #4 closed

[2018-09-18 06:53] #6 closed

[2018-09-18 06:55] #29 closed

[2018-09-19 05:28] wolfmanstout opened #32 "All rules are activated when initializing Dragonfly, causing BadGrammar error"
This was discussed on Gitter, but I'm filing a proper issue here and will fix shortly.

The bug is here:
https://github.com/Danesprite/dragonfly/blob/master/dragonfly/grammar/grammar_base.py#L349

The bug is much more obvious if you look at what this used to look like: `if rule.active != False`. This looked too silly to be a mistake, and indeed it was not. It turns out that _active is a tri-state

[2018-09-19 05:59] #32 closed

[2018-09-25 04:18] Danesprite opened #35 "Window class implementations for other platforms"
Re: cross-platform support (issue #8).

Dragonfly's [Window class](https://github.com/Danesprite/dragonfly/blob/master/dragonfly/windows/window.py) could be abstracted somewhat to have implementations for Windows, X11 and MacOS. `from dragonfly import Window` should import the implementation for the current platform. As with the cross-platform `Clipboard` class, implementations for other platforms

[2018-10-11 03:14] Danesprite opened #36 "Test engine implementation and module loader"
It would be useful to have a test engine implementation without any additional dependencies. This way there can be better automated test coverage with Travis-CI. It would help catch bugs like #33.

A module loader script using the test engine would also be useful for debugging grammars and rules efficiently without restarting the running engine. Another way this could be done is by adding a script

[2018-10-11 07:29] Danesprite commented on #31
For reference, this issue was opened due to [this stack overflow question](https://stackoverflow.com/questions/34700823/dragonfly-integerref-getting-a-typeerror-nonetype-object-is-not-callable-erro/34702371#34702371). @LexiconCode I think that was the one you linked to. That was for an older version of dragonfly. A `DragonflyError` is raised for more recent versions.

I'll add a page to the docs o

[2018-10-12 00:20] dylan-chong opened #37 "Mappings get executed when the grammar does not match"
https://github.com/t4ngo/dragonfly/issues/71

[2018-10-12 06:33] Danesprite commented on #37
I'll have a look into this soon. It could be a problem in one of dragonfly's decode methods related to rule references if `exported=False` didn't fix it for you.

[2018-10-13 02:04] Danesprite commented on #36
I think the test loader should allow mimicking via keyboard input. So you could type/dictate some text into the terminal window and press enter to test if the rule/mapping is working as expected.

[2018-10-17 23:03] LexiconCode commented on #36
Is a speech recognition engine needed to run test?

[2018-10-18 00:04] Danesprite commented on #36
No, the idea is that it works by using `engine.mimic()`.

[2018-10-20 23:35] wolfmanstout commented on #35
Agreed, this would be very useful, and is something I bumped into with my Google engine. I would say more broadly that Dragonfly needs a cross-platform interface for everything including what is described here, plus mouse and keyboard input, and also accessibility-based control of applications. Basically, all interactions to and from the operating system UI. In principle, this is functionality tha

[2018-10-24 11:17] Danesprite opened #39 "Automatically load and write tests for other supported dragonfly languages"
I noticed there are integer and digit content implementations under [dragonfly.language.other](https://github.com/Danesprite/dragonfly/tree/master/dragonfly/language/other) for Arabic, Indonesian and Malaysian. I suspect these have been left here because neither Dragon NaturallySpeaking or Windows Speech Recognition supports them. Now that dragonfly supports using other speech recognition engines,

[2018-10-28 14:05] LexiconCode opened #40 "Invalid"

[2018-10-28 14:07] #40 closed

[2018-10-30 04:34] dylan-chong commented on #37
Hey just wondering if you managed to get a chance to look at this bug. If you've been busy, that's okay i can manage @Danesprite

[2018-10-30 07:52] dylan-chong commented on #37
Ah,  I mustn't have tested this properly previously, as using the fix that @t4ngo suggested seems to fix the problem. Sorry for wasting time :(

[2018-10-30 09:13] Danesprite commented on #37
@dylan-chong No problem. I'll close the issue now.

[2018-10-30 09:14] #37 closed

[2018-10-30 21:15] LexiconCode opened #41 "Grammars with Sapi5SharedEngine containing rules with <n> do not load."
This was initially discussed on Gitter, summarized here and discovered during testing synkarius/caster#305.

Mapping like '[use] function <n\> [<text\>]' with rules containing `<n>` don't load on windows speech recognition.  Dragonfly's `get_engine` method uses `Sapi5SharedEngine`. WSR module loader uses `Sapi5InProcEngine` which loads `sample.py` loads properly.

[t4ngo/dragonfly#3](https://githu

[2018-10-31 00:10] Danesprite commented on #41
Thanks for the issue. I'm wondering if this is a problem with the engine's compiler. Perhaps the integer rules aren't being compiled correctly?

[2018-10-31 03:35] Danesprite commented on #41
So there are some debug options that can be enabled for dragonfly's Sapi5 compiler [here](https://github.com/Danesprite/dragonfly/blob/master/dragonfly/engines/backend_sapi5/compiler.py#L46) and [here](https://github.com/Danesprite/dragonfly/blob/master/dragonfly/engines/backend_sapi5/compiler.py#L105). Maybe Microsoft has some documentation on error codes for WSR?

[2018-11-11 19:07] wolfmanstout opened #42 "Mouse wheel scrolling fails with loud beep if set to high repeat value"
I have some commands which scroll the wheel 10 times in a row to effectively scroll a page at a time. Since the new scrolling logic was added, this sometimes fails with a loud beep. I can stably reproduce this if I change the repeat value to 50. The reason appears to be the difference between sending multiple  events to the OS in high sequence versus sending a larger multiple as the value of the e

[2018-11-12 00:43] #42 closed

[2018-11-12 23:05] LexiconCode commented on #41
With a little more testing from other sources I'd like to confirm but I believe the issue has been fixed by https://github.com/Danesprite/dragonfly/issues/25

[2018-11-30 15:31] Danesprite commented on #36
I've added some work on this (ff05ecf). `engine.mimic()` will work for a few rules now, but it still needs to work correctly with dictation elements.

Dragonfly's recognition decoding classes cannot differentiate between words recognised from grammar rules and those that are dictation words, probably because speech recognition engines can usually do that for us. In this case there is no speech rec

[2018-12-03 15:18] Danesprite commented on #35
I've done a little research on this for MacOS. As I understand it, the accessibility APIs for MacOS are difficult to use from Python without knowledge of Objective-C. I was thinking that it would be easier to write a Swift command-line program using [Swindler](https://github.com/tmandry/Swindler) and/or [AXSwift](https://github.com/tmandry/AXSwift) and use it from Python as a subprocess like xdoto

[2018-12-16 17:44] calmofthestorm opened #48 "Discuss moving Dragonfly into dictation-toolbox"
Danesprite invited me to discuss this in https://github.com/dictation-toolbox/dictation-toolbox/pull/1#issuecomment-447642069; this issue is to discuss whether it would make sense to move Dragonfly into dictation-toolbox. We're currently working with Caster in https://github.com/synkarius/caster/issues/321 to do the same.

dictation-toolbox is intended to be a lightweight organization for collecti

[2018-12-18 02:06] Danesprite commented on #48
Thanks for opening this issue :)

I noticed that GitHub's documentation on [repository transfers](https://help.github.com/articles/about-repository-transfers/) indicates that the process is pretty painless. Links will redirect to the transferred repository, which includes links used in Git remotes.

To extend the contingency plan mentioned for dictation-toolbox, I think it would be good if there w

[2018-12-19 02:45] calmofthestorm commented on #48
Good point on the external projects. I'll defer to how you want to handle that -- we could cross grant to the public admins of the org, or do something else.

[2018-12-20 01:57] Danesprite commented on #48
Granting access to admins of the org sounds good to me.

[2018-12-20 03:38] LexiconCode commented on #48
Well as everyone already probably knows I'm in support of this as well :)

[2018-12-22 17:06] LexiconCode opened #50 "Integrate eye tracking platforms"
Eye tracking technology allows bypassing of cumbersome elements of coding by voice. Perhaps the slowest element coding by voice is navigation. Navigation also requires many dictated elements to achieve the desired location on a screen. In turn this increases the probability of symptoms related to voice strain.

There are two main implementations for categories of eye tracking. Dedicated hardware w

[2018-12-22 20:00] wolfmanstout commented on #48
:+1:

[2018-12-23 12:17] Danesprite commented on #50
This is an interesting idea. I don't have a Tobii EyeX, so I would be unable to test that myself. I would say that there should be a standard way of interacting with the eye tracking platforms from dragonfly if this were to go ahead.

I think that it would be easier to redistribute or point to binaries from that project (and perhaps others for webcams) instead of integrating the C/C++ code somehow

[2018-12-30 19:58] calmofthestorm commented on #48
If no one objects by Jan 2, and we're all on board with this, I think the next step is for me to add the admins of Dragonfly (just @Danesprite ? Or others too) to dictation-toolbox admins, and then we can reach out to Github to do the repository transfer. I assume you'll want to initiate that request, but of course I am happy to be a point of contact on dictation-toolbox side.

Anything else I sho

[2018-12-31 06:55] Danesprite commented on #48
Sounds good. I'll initiate the request when the time comes. @LexiconCode would be an admin too, although he'll already be part of the organisation from Caster's migration.

There is something else you can do regarding the external projects. I can send invites to other RTD and PyPI users. When convenient, could you please create accounts on each site and send me the usernames? No rush.

Indeed :-)

[2018-12-31 21:46] caspark opened #51 "Backwards incompatible change to Text action is missing from changelog"
In 0.10, the Text action seems to have been changed (in pull request #44 by @versatilus ?) so that it no longer respects modifier keys being held down.

Although this is a backwards incompatible change, it seems worthwhile for easier typing of Unicode characters, especially since the original dragonfly documentation says

which implies that Text and Key do not work the same.

However it would be a

[2019-01-01 05:45] Danesprite commented on #51
Thanks for noticing this. I'll update the changelog and documentation for `Text` to reflect the changes.

To get the previous behaviour, `unicode_keyboard` can be set to false in `~/.dragonfly2-speech/settings.cfg` or `use_hardware` can be set to `True` for individual `Text` actions:

[code]

I'm wondering whether an [additional] `use_unicode` parameter would make more sense. What do you think @Ve

[2019-01-01 14:59] Danesprite commented on #51
On second thoughts, an additional parameter seems unnecessarily complicated. Documenting the `use_hardware` parameter as I have done should be fine.

[2019-01-01 21:15] wolfmanstout commented on #51
Thanks Caspar for bringing this to my attention! The reason why I use Text to send keystrokes in combination with control characters is simply that I don't want to have to remember the arbitrary list of typeable names:
https://github.com/Danesprite/dragonfly/blob/master/dragonfly/actions/typeables.py

It doesn't make sense to me to have alternative names for keypresses which have an obvious printa

[2019-01-02 02:52] Danesprite commented on #51
Adding aliases for typeables sounds good to me. If I'm not mistaken, ':', '/', '-' and ',' would need to be excluded from that because they are used for modifiers, keypress delays and character repetitions in `Key`.

Thanks for the comments. I'll see what I can do to help out there.

[2019-01-04 04:05] Danesprite opened #52 "Dragonfly's unit and doc tests are broken"
The tests don't run properly at the moment (at least for me) because of relative importing. I'm working on fixing this. I'd like to make the test suites work properly so they can be run through Travis CI.

Various tests in [test_engine_text.py](https://github.com/Danesprite/dragonfly/blob/master/dragonfly/test/test_engine_text.py) are duplicates or should be moved elsewhere so that they apply to a

[2019-01-05 05:43] Versatilus commented on #51
After reading this, I think the correct solution is to hot fix this code to be disabled by default. People should be a able to opt in for the time being.

Part of the rationale for these functionality changes can be read in the newest comments added to the pull request at https://github.com/Danesprite/dragonfly/pull/44#discussion_r245466740.

[2019-01-06 01:10] wolfmanstout commented on #52
I hope this wasn't my changes, sorry if it was (I think I had some relative imports). I ran tests against my own test suite manually, but not against the whole thing. Should I be following these instructions before sending out pull requests, or is there another recommended (i.e. faster) method?
https://dragonfly2.readthedocs.io/en/latest/tests.html

[2019-01-06 05:16] Danesprite commented on #51
@caspark version 0.10.1 should resolve this issue. You just need to modify/delete the *~/.dragonfly2-speech/settings.cfg* file. I've mentioned that in the changelog and added a section to [Text's documentation](https://dragonfly2.readthedocs.io/en/latest/actions.html#windows-unicode-keyboard-support).

[2019-01-06 07:13] caspark commented on #51
Got it. Thanks for everyone's quick work to resolve this!

[2019-01-06 07:13] #51 closed

[2019-01-08 06:31] calmofthestorm commented on #48
Ok, I have invited @Danesprite and @LexiconCode to be admins of dictation-toolbox, and am ready to accept the transfer once initiated within 24h. I'll be home all week so should be able to reply within the window.

[2019-01-08 06:36] calmofthestorm commented on #48
I registered as calmofthestorm on both readthedocs.org and pypi.

[2019-01-08 11:14] Danesprite commented on #48
Thanks Alex! I have accepted your invitation to dictation-toolbox and have added you as an additional maintainer on readthedocs.org and pypi.

I was going to initiate the transfer request, although apparently as a member I was able to transfer the repository myself. I will update the repository hyperlinks to dictation-toolbox/dragonfly shortly.

[2019-01-12 03:16] #48 closed

[2019-01-14 01:11] wolfmanstout opened #56 "Text action intermittently ignores hardware_apps override"
@Versatilus FYI

I'm about to send a pull request to fix this. The symptom is that when unicode_keyboard is enabled and the active application is in hardware_apps, some Text actions may still attempt to send Unicode-style keyboard events. The problem is that the action checks whether or not to use hardware-style events in _parse_spec, which may be resolved at declaration time instead of execution

[2019-01-14 13:40] #56 closed

[2019-01-14 13:51] #52 closed

[2019-01-14 13:59] Danesprite commented on #39
I'd rather not write tests for languages I don't know, so I'll close this for now.

If someone reads this in the future who is willing to help out with testing these languages, feel free to comment or open another issue.

[2019-01-14 13:59] #39 closed

[2019-01-14 13:59] #18 closed

[2019-01-21 06:31] Danesprite opened #59 "Unforking this repository"
There has recently been [discussion on Gitter](https://gitter.im/sphinx-dragonfly/Lobby?at=5c3a32de0999400604de2c59) on making GitHub code search work with this repository. At the time of writing, code search [doesn't work with forks](https://help.github.com/articles/searching-in-forks/). While it is not a must-have feature, it would be nice to have. Detaching this repository from t4ngo/dragonfly

[2019-01-21 14:07] LexiconCode commented on #59
I agree this would be the best course of action both from a long-term and short-term perspective.

[2019-01-22 07:52] Danesprite commented on #59
I have given GitHub support the go-ahead now. Forks of this repository should remain intact. They have assured me there aren't any downsides other than not being able to submit pull requests to t4ngo/dragonfly.

[2019-01-29 08:50] Danesprite commented on #24
Sorry there hasn't been a great deal of progress on this recently! I'll hold off merging feat/rpc for the moment because it's still more of a proof-of-concept. The engine 'servicer' should probably have RPC methods implemented for all public methods of the `EngineBase` class.

The problem with implementing those methods is that the RPC server's threads would need to be synchronised with the engine

[2019-01-29 14:21] LexiconCode commented on #24
That is troublesome, managing threading. I think would be good idea to wait until we have a working solution for the issues you've mentioned before integrating it even as an optional dependency in the main branch. For now just keep it synchronized with releases.

[2019-01-30 04:15] Danesprite commented on #24
Agreed. Hopefully I will have a working solution soon. The changes to the test suites should make that easier.

[2019-01-30 14:07] LexiconCode commented on #41
That makes sense. In addition I should probably add an upstream label as well.

[2019-01-30 14:12] #41 closed

[2019-02-01 10:09] Danesprite commented on #24
I don't think gRPC is the right tool to use for this. I'm running into some problems using the generated code with Python 3. Plus, anyone who wants to use the RPC server would have to generate code for their language using the *dragonfly.proto* file. IMO this is a barrier to entry and also means that standard tools like curl can't easily be used. This might make sense for Google-scale systems, but

[2019-02-01 15:11] Danesprite commented on #24
Okay then. I'll re-implement what is done so far using json-rpc and werkzeug. For what it's worth, I noticed that werkzeug also has [SSL context support](http://werkzeug.pocoo.org/docs/0.14/serving/#ssl).

There are a few benefits to grpc, I just don't think they really outweigh the downsides.

Indeed :-)

[2019-02-05 04:44] LexiconCode commented on #50
After some internal discussion this is viewed out of scope of the dragonfly project. Dragonfly's accessibility integrations should be on an OS level, rather than device specific.

[2019-02-05 04:46] #50 closed

[2019-02-28 22:12] mrob95 opened #63 "Mimic and Playback do not work for "press letter" commands"
Example:
[code]

I believe the words are interpreted correctly by Dragon, but they are just executed as normal dictation - so you get the text "press alpha" rather than "a". Strangely, `Mimic("press", "hash")` works fine.

For reference, the reason why I want to do this is so that I can create a command to paste from the clipboard using dragon commands, allowing interaction with admin windows. I s

[2019-03-01 02:52] Danesprite commented on #63
Try using the "press a" command instead, that works for me. I would say the equivalent commands not working is probably a bug with Dragon.

[CasterUIAutomation_POC](https://github.com/chilimangoes/CasterUIAutomation_POC) is a proof of concept for the correct way of supporting Window's UI access scheme for privileged applications. I never managed to get that working though because I had some troubl

[2019-03-01 20:53] LexiconCode commented on #63
I can confirm that `"test command": Mimic("press", "a"),` works. @Danesprite if you need help getting in touch with @chilimangoes I could try to facilitate that.

[2019-03-01 23:08] mrob95 commented on #63
Thanks @Danesprite, problem solved! Strange bug though.

[2019-03-01 23:08] #63 closed

[2019-03-02 09:29] Danesprite commented on #63
@LexiconCode Thanks, but I have enough on my plate at the moment. Besides, I don't interact with Windows admin applications/prompts very often. I think the issue would be better suited to someone who does.

If anyone else is interested in tackling #11, I'd be happy to review their work.

[2019-03-25 05:29] calmofthestorm commented on #8
You may want to consider libxdo instead of shelling out to xdotool.

[2019-03-25 08:37] Danesprite commented on #8
Yep, that would be better. I was hoping to just rely on a Python library instead. I'm currently leaning towards [pynput](https://pynput.readthedocs.io/en/latest/). [PyUserInput](https://github.com/PyUserInput/PyUserInput) is also promising. Both of them work for me on a mac and on Linux with xfce4/xfwm4. Both do the input via python-xlib, which is kind of neat. I'll update the top post.

Any sort

[2019-03-28 14:44] Danesprite opened #68 "Windows Speech Recognition context bug"
WSR locks contexts in at speech start before dragonfly activates/deactivates rules and grammars based on the window attributes. This causes recognitions to fail until the second or later utterance in a specific context.

Notepad grammar example:
I say "save" in notepad after switching it. WSR won't recognise what I said. So I repeat myself and say "save" again without switching windows. It recogni

[2019-04-09 15:35] Danesprite opened #69 "Allow speaking Dictation with the Sphinx backend again"
The CMU Pocket Sphinx engine implementation does not currently allow matching `Dictation` elements by speaking, although they can be matched with mimic.

The old way of doing this was removed in #62 (release 0.12.0) because it really didn't work well. I'd like to add two ways of using dictation:

1. Speaking Dictation words after utterance breaks via the default language model search (the old beha

[2019-04-24 07:26] Danesprite commented on #11
@LexiconCode I've changed this issue's title and edited the top post. Hope you don't mind!

[2019-05-04 11:08] #68 closed

[2019-05-04 14:05] Danesprite opened #77 "Missing documentation"
There are a number of parts of dragonfly that are not documented. I'll list some of them below.

- [Code style section](https://dragonfly2.readthedocs.io/en/latest/code_style.html).
  Dragonfly mostly follows [PEP-8](https://www.python.org/dev/peps/pep-0008/). Perhaps a *pylintrc* file should be added too?

- `List` and `DictList` classes.

- Classes in the `dragonfly.language` sub-package (except

[2019-05-05 01:15] LexiconCode commented on #77
I approve of adding _pylintrc_. In fact I would go as far to find a system that automatically formats pull requests to Prep8.

[2019-05-05 05:25] Danesprite commented on #77
@LexiconCode Possibly. I'd prefer something that just checked the code, e.g. using pylint in the Travis CI build. Aenea does something like this with pyflakes.

[2019-05-08 05:24] Danesprite commented on #8
I'd like to note here that it is not possible to fully support Wayland in its current state. This is because emulating keyboard and mouse input, getting window info, etc was left out of the Wayland protocol specification for security reasons. I don't know why these things can't be done securely via [policy-kit](https://en.wikipedia.org/wiki/Polkit) somehow, similar to MacOS handles this, but there

[2019-05-08 19:10] dwks opened #79 "pynput can't do some OS shortcuts on X11"
I switched from the xdotool linux port to pynput (on master), and discovered that my ctrl-alt-m shortcut for launching a terminal no longer works. ctrl-alt-right to switch desktops is fine. I made the keypress delay very large (1s) and it still didn't work. This might be a problem with pynput that we can't address; I used xev to observe the X11 events that are actually generated, and the 'm' is ma

[2019-05-08 19:22] dwks commented on #79
P.S. This may be a simpler problem description. If I ask pynput to generate 'm', I get
[code]
But with xdotool I get different values for synthetic and same_screen. This is the behavior I want.
[code]

[2019-05-09 07:08] Danesprite commented on #79
Thanks for reporting this problem. I can confirm the same behaviour occurs for me. It would be nice if this could be fixed upstream. There are some problems with OSX too. I'll have a look into it.

[2019-05-16 16:41] GoNZooo commented on #79
Is this perhaps also the reason a "a-" key input seems to not really only hold Alt? "a-d" gives "^[d". I've been trying to make macros that allow me to interact with screen/workspace navigation in XMonad and I assumed I was simply doing something odd, but I noticed that the supposedly working bindings for browser navigation ("a-d" for address bar) were exhibiting the same issues.

I'm using the si

[2019-05-16 20:55] LexiconCode opened #80 "Recognition history through JSON-RPC"
Currently we can pull grammars from the supported engine system through JSON-RPC. It would be useful to have the ability to pull recognition history as well.

Commands: All recognized commands
Free dictation: All recognized dictations
A message for Dictations that are not recognized by the engine. DNS (say that again)

[2019-05-18 18:06] kendonB opened #81 "KeyboardLanguageContext class?"
We have noticed some trouble getting commands working with non- English Language / English Keyboard setups https://github.com/dictation-toolbox/Caster/issues/512.

Is it possible to create something like `AppContext` that will test Language + Keyboard like AppContext tests Apps?

Reposting the "carat" behavior from the linked issue:
[code]

[2019-05-19 03:15] kendonB opened #83 "macron not printing"
I get the following error when trying to print the macron "a" in ngā mihi.

[code]
My function is:
[code]
Is dragonfly able to handle this situation when passing a UTF-8 character through `Function` and `Text`? If so, help!

[2019-05-19 07:48] Danesprite commented on #81
A context class is certainly one way to handle this. Typing characters that require key composition would be hard to get right universally, but an option could be added for it. The problem should also be mentioned in the documentation.

A related issue is what happens if you switch layouts and use dragonfly to type. Windows stores locale information with each thread and doesn't automatically updat

[2019-05-19 08:22] Danesprite commented on #83
Dragonfly can type "ngā mihi" through `Text`. The problem you're having here is that you should be using `unicode` instead of `str`:

[code]

You may also need to change the `unicode_keyboard` setting in your configuration file for this to work. See dragonfly's documentation on [Windows Unicode keyboard support](https://dragonfly2.readthedocs.io/en/latest/actions.html#windows-unicode-keyboard-supp

[2019-05-19 09:06] Danesprite commented on #80
That's a good idea. It's not too difficult to do it either. Something like this:

[code]

You could then get the history with `curl`:

[code]
You would need to use the server's security token for requests, a custom history class for recognition failures and call `history.unregister()` and `server.stop()` somewhere eventually.

The RPC function could also have a history limit parameter.

The main p

[2019-05-19 17:59] kendonB commented on #83
Thanks so much! I will try this out and reopen if needed.

[2019-05-19 21:06] kendonB commented on #83
I'm still seeing an error here. It's probably some small thing I missed but I can't figure it out.

I have changed `unicode_keyboard = True` in the config file, and added that change to my function. My full caster file is:

[code]
And I get this error:
[code]

[2019-05-19 21:11] kendonB commented on #83
I had some "rubber duck"-style success. I just needed to add `u` as a prefix to the string `u"ngā mihi"`. I have changed it up there for Googlers.

[2019-05-19 21:11] #83 closed

[2019-05-20 02:46] Danesprite commented on #83
Yep, using `u"ngā mihi"` works. I suggested `unicode(word)` because I assumed `word` was referencing a `Dictation` element rather than a `Choice`. You could also use `unicode(word, encoding='utf-8')`.

[2019-05-23 06:08] Danesprite commented on #81
There are some differences with how keyboard layouts work in Windows 8 and above, so I'm not sure if the problem is really worth fixing if it doesn't affect newer OS versions.

I've done a little research into it anyway. According to [this Stack Overflow answer](https://stackoverflow.com/a/17908270), the [`WM_INPUTLANGCHANGE` message](http://msdn.microsoft.com/en-us/library/windows/desktop/ms63262

[2019-05-25 06:58] Danesprite commented on #81
An easier way of consistently typing characters like this is to use the `Text` action's [Unicode keyboard support](https://dragonfly2.readthedocs.io/en/latest/actions.html#windows-unicode-keyboard-support). The `Key` action doesn't support that because modifier keys (e.g. ctrl and alt) are ignored.

@seekM This is a little easier than the solution you came up with in dictation-toolbox/Caster#512.

[2019-05-28 16:24] lexxish opened #84 "Accept "too" and "to" as equivalent to "two" for English Integers"
Sometimes "too" is interpreted instead of "two" when using an Integer or Short Integer which causes failure to recognize the spec as matching.

[2019-05-29 15:31] jcaw opened #86 "`FocusWindow` sometimes fails."
The method used by `FocusWindow` sometimes fails. I'm not sure why this happens.

When it fails, it produces an error. A fallback I've used in the past is minimising, then restoring the target window. Here's the relevant method:

[code]

Discussing on Gitter, it seems like it would be a good idea to add this as a fallback when the primary method fails. I'm happy to integrate it if everyone approve

[2019-05-29 17:54] jcaw commented on #86
Implemented this patch, and it looks like it isn't foolproof.

I initially developed this to swap between sub-windows in Stata. It seems like the patch only works if the focussed window belongs to the same process as the target window.

It looks like this issue has popped up before, and been solved by `pywinauto`, which looks like a pretty robust system. Would people be comfortable adding `pywinau

[2019-05-29 21:20] jcaw commented on #84
@lexxish - is this resolved?

[2019-05-30 05:02] Danesprite commented on #86
Thanks for looking into this! I would not be opposed to requiring `pywinauto` on Windows. We could also just use their code in the `Window` class with attribution if that is easier.

[2019-05-30 13:23] jcaw commented on #86
Yep, I'm thinking it offloads the hard UI interaction work onto a library dedicated to it.

[2019-05-30 14:35] Danesprite commented on #86
Yep, that sounds like a good idea to me.

[2019-05-30 15:46] Danesprite commented on #79
@GoNZooo Sorry I've taken a little while to get to this.

This would be the reason that "a-d" gives "^[d". Fixing this is a little beyond me really. I didn't anticipate these issues when choosing pynput over `xdotool`, so I'm happy to just use Aenea's `xdotool` or `libxdo` implementations instead.

In hindsight, I should have expected these issues given how complicated [xdo's source code](https://

[2019-05-31 20:53] lexxish commented on #84
@jcaw yes I've tested it and it works. @Danesprite can you please close.

[2019-06-01 03:25] #84 closed

[2019-06-01 13:41] kendonB opened #87 "Functionality to remap integer phrasings?"
Caster currently re-implements the integer class from dragonfly to allow for changing the phrasing of single integers to "one", "torque", "traio", "fairn", "faif", "six", "seven", "eigen", "nine". It would be nice to be able to allow a user to do something like this directly with the dragonfly classes. Would it be feasible to allow a user to pass a list to replace the phrasings in īnt_1_9 to their

[2019-06-02 12:44] Danesprite opened #88 "Change dragonfly.timer._Timer class to use 'engine.create_timer'"
Dragonfly's [`_Timer`](https://github.com/dictation-toolbox/dragonfly/blob/master/dragonfly/timer.py#L36) class predates the [`engine.create_timer()`](https://dragonfly2.readthedocs.io/en/latest/engines.html#dragonfly.engines.base.EngineBase.create_timer) method that works with all engines. These two ways of using natlink's `setTimerCallback` function are incompatible because either one will overr

[2019-06-02 15:31] Danesprite commented on #87
I think adding configuration for this under `.dragonfly2-speech` could work. When you think about it, the `language` sub-package essentially defines language-specific grammar rules. The configuration toolkit (`dragonfly.config`) could probably be used somehow.

Would it only be these digits? Things could get quite complicated if we wanted to expose configuration of larger numbers. The approach sho

[2019-06-02 15:41] mrob95 commented on #87
It is reasonably simple to make alterations in a subclass with something like:
[code]

Does it need to be simpler than this?

[2019-06-02 18:49] kendonB commented on #87
@mrob95 that approach is quite easy, yes. I will close

[2019-06-02 18:49] #87 closed

[2019-06-03 03:58] Danesprite commented on #87
@mrob95 You're right, this is simple enough. Caster should probably do it this way. Thanks :+1:

[2019-06-03 05:03] #88 closed

[2019-06-04 22:50] LexiconCode commented on #80
This looks excellent and I will test this weekend.

However one question does come to mind. Is there way the server can push updates to the client? The current implementation has the client of requesting x (default 10) recognition history. For most usage scenarios for this type of feature we want to stream updates to the client as they are recognized by the engine. Why not have the server push upd

[2019-06-25 06:47] alexboche commented on #86
just wanted to mention the Unimacro stuff for switching windows which is called the task grammar. code [here](https://paste.gg/p/anonymous/5a08115a0a044e468554979cb3477803). I like the command "task give name <dictation>" which can be followed by "task <name>" . gives temporary names to Windows. see the function rule_taskaction (366) if this is of any interest.

[2019-06-25 13:44] daanzu commented on #86
FWIW, a simple temporary mitigation: for me, a command that does alt-tab usually fixes it (until the next time).

[2019-06-25 14:22] Danesprite commented on #86
@alexboche Thanks for mentioning the Unimacro code for this. Looks like Quintijn has also discovered that window switching helps ([see natlinkutilsqh.py line 1549](https://sourceforge.net/p/unimacro/code/HEAD/tree/trunk/natlinkutilsqh.py#l1549)). He also checks `win32gui.IsWindow(handle)` and `win32gui.IsIconic(handle)` before calling `win32gui.SetForegroundWindow(handle)`.

@jcaw Have you had any

[2019-06-25 14:43] jcaw commented on #86
Haven't tried from NatLink yet - I've only tested in toy scenarios. I'm still running an older version of dragonfly, the newer versions break my chaining system. I'm holding off on migrating until draconity is a viable backend, and probably until Caster is unfrozen after the rewrite.

[2019-06-25 14:48] jcaw commented on #86
Have a look at the `pywinauto` [commit](https://github.com/moden-py/pywinauto/commit/5e4735b53e2aff614361567eca8045c92275fbbc#diff-15d5f7fcb9b44b6d434fd5703b7da29aR1580) they used to fix the issue - the threading logic is interesting. It seems to be an issue with thread permissions. Programmatic window switching _seems_ to put the thread permissions into a weird state, I guess alt+tabbing resets t

[2019-06-26 03:40] Danesprite commented on #86
Thanks! That threading logic is interesting. I was not aware of the `AttachThreadInput` function. The [documentation](https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-setforegroundwindow) for `SetForegroundWindow` also sheds some light on its behaviour.

I don't use Unimacro, but it looks like Quintijn falls back on giving natspeak.exe the last input event via the DragonBar

[2019-06-26 05:51] seekM opened #94 "Language 'de' does not implement 'ShortIntegerContent'."
After updating dragonfly I get the following error when starting Caster with a german DNS profile:

[code]

[2019-06-26 08:25] Danesprite commented on #94
Thanks for reporting this problem. I am unable to implement this because I don't know German, but I'm happy to take pull requests on it and other features that are unimplemented for specific languages.

In the meantime, a simple fix would be for `ShortIntegerContent` to alias `IntegerContent` for each unimplemented language. Perhaps it should also emit a warning message when it is first used/impor

[2019-06-27 02:28] LexiconCode commented on #94
A possible workaround but you'll have to verify by testing.

Under `"miscellaneous"`in settings.toml set `"short_integer_opt_out": False,` to `True`

[2019-07-10 07:40] Danesprite opened #98 "Add dragonfly commands for loading and recognising from command modules"
This would be a new command for dragonfly's command-line interface (see the [CLI documentation](https://dragonfly2.readthedocs.io/en/latest/cli.html)). I guess the command would be `dragonfly load <files>`.

It would be similar to dragonfly's `test <files>` command, but would call the relevant engine method to recognise speech from the microphone. Most of the arguments for `test` could be re-used,

[2019-07-12 10:30] TonyWhitley opened #99 "Build error in backend_sapi5/engine.py"
Two problems when I ran wsr_module_loader_plus.py
1.   _File ".....env\lib\site-packages\dragonfly\engines\backend_sapi5\engine.py", line 336, in recognize_forever
    WinEventProcType = WINFUNCTYPE(None, HANDLE, DWORD, HWND, LONG,
NameError: name 'WINFUNCTYPE' is not defined_

which I fixed by moving the import of WINFUNCTYPE in that file

    from ctypes import windll, WinError
    from ctypes.w

[2019-07-12 12:56] Danesprite commented on #99
Thanks for reporting these errors and your solutions. They are fixed on master now. I should be releasing version 0.16.0 this weekend, which will include these fixes.

Please let me know if you come across other issues with SAPI5.

[2019-07-12 13:10] Danesprite commented on #94
This was fixed by 5a62892. Dragonfly will fallback to `IntegerContent` if you try to use `ShortIntegerRef` with a speaker language that isn't English. A warning message will also be printed. This applies to all engines.

As I have no way of testing with a German DNS profile, I tested this by adding an optional `--language` argument to the `python -m dragonfly test` command:

[code]

The `_test.py`

[2019-07-13 11:25] #80 closed

[2019-07-13 12:44] #79 closed

[2019-07-21 08:31] #99 closed

[2019-07-21 08:31] #94 closed

[2019-07-26 04:40] Danesprite commented on #86
@jcaw I've just been having a look into this again. The threading logic you linked to doesn't fix the problem for me on Windows 7. In fact, `pywinauto` now just moves/clicks the mouse before calling `SetForegroundWindow()`. I guess this satisfies the following condition (see [SetForegroundWindow remarks](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-setforegroundwindow#rema

[2019-07-28 13:19] Danesprite commented on #81
A few updates on this issue.

# Improving keyboard input
I've managed to get dragonfly to type into the current window using the correct keys for the current keyboard layout. It wasn't working before because the [`MapVirtualKeyW()`](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-mapvirtualkeyw) function is used in [sendinput.py](https://github.com/dictation-toolbox/dragonfly

[2019-08-04 05:21] Danesprite commented on #86
This should be fixed now. There are some cases where it can still fail:

1. If the current window is running in elevated mode / as administrator. There is no documentation on this limitation that I can find, but we can assume it has been put in place for security reasons.
2. If the current window is the metro app menu or a [UWP app](https://en.wikipedia.org/wiki/Universal_Windows_Platform_apps). T

[2019-08-04 05:21] #86 closed

[2019-08-04 09:49] daanzu opened #109 "Greedy Timers"
Currently, if a Timer falls behind in getting called, it can start monopolizing execution. This is a valid option for the wary user, but seems a dangerous default.

It'd be safer to reset the next time to from now. Perhaps with a warning that calls were skipped.

https://github.com/dictation-toolbox/dragonfly/blob/e50b0006e1b4ab45ad4413f362c85c57ff9dfc60/dragonfly/engines/base/timer.py#L89

[2019-08-06 07:22] alexboche opened #110 "Autoformatting with dictation"
This is kind of a repeat of a caster [issue](https://github.com/dictation-toolbox/Caster/issues/623) but I'm beginning to think this is more appropriate in dragonfly than caster?

Dragon does autoformatting with spacing and capitalization. for example,after you say a period, it will capitalize the next word. Regarding spacing, typically with dictation it is good to have a space inserted at the beg

[2019-08-07 07:29] Danesprite commented on #109
Sounds like a good idea to me. So it should be something like `self.next_time = time.time() + self.interval` instead?

[2019-08-07 10:54] Danesprite commented on #110
Thanks for this. I think adding an auto-formatting parameter for `Dictation` elements could work. There is an *autofmt* parameter for the `Text` action already ([see action_text.py](https://github.com/dictation-toolbox/dragonfly/blob/master/dragonfly/actions/action_text.py#L273)), but I'm not sure how well it works. There are definitely some use cases for cross-utterance state-keeping behaviour. I

[2019-08-08 02:31] daanzu commented on #109
Yes. I wonder whether to put in a option for it, or adding a warning when a timer call is late, but a timer that cares that much about it should probably just track it itself?

[2019-08-08 09:56] quintijn commented on #110
@alexboche If issues arise when using nsformat, please notify. It is a function that is from quite a while ago, and not very intensively used, I think.

[2019-08-08 10:52] alexboche commented on #110
I got the nsformat.py thing to work with a tip from Quintijn. For the scratch that thing,  we can just store the length of the last dictation string printed out, and then press backspace that many times (using control backspace or control shift left repeated followed by backspace would be faster though not as reliable).  See the code below for a working example. (full code [here](https://gist.gith

[2019-08-10 04:34] Danesprite commented on #110
Thanks again for looking into this. It's good to see there are different ways to implement "scratch that", although I was thinking about it and realised you could probably use "scratch that" and other commands normally by deactivating the `<dictation>` rule during `mimic()` calls rather than reinventing the wheel! ;-)

As to how you would do that, a [`FuncContext`](https://dragonfly2.readthedocs.i

[2019-08-10 07:23] MatthijsBurgh opened #114 "Unknown Char because of wrong keyboard layout"
When importing dragonfly, I get the following message:
[code]

I have tracked down that `layout = windll.user32.GetKeyboardLayout(0)` either returns `0` or ` -268368887`. I have tried this on two windows 10 machines. One actual machine, one virtualbox. The host of the virtualbox is not the same machine as "the actual machine".

I have found that it happens on US English, US International Keyboard.

[2019-08-10 07:36] MatthijsBurgh opened #115 "No handlers could be found for logger "typeables""
When importing dragonfly I get the following logging message:
[code]
If I execute the following lines before importing dragonfly, I don't get this message.
[code]
I suggest to add the `logging.basicConfig()` in the `actions/typeables.py` directly after importing `logging`.

If you agree, I can create a PR for you.

[2019-08-10 18:44] comodoro opened #116 "Some accented words as commands with Dragon do not work"
When using some characters in `MappingRule` specs, they are not recognized (or rather, are recognized just with the warning below, actions are not executed). Sample script:
[code]

The first one ("Düsseldorf") acts correctly, types "Been there", the others do nothing except warnings in the Natlink window:

[code]

DPI 15, Windows 10, Python 2.7.16, Dragonfly current master (commit 5885b08)

[2019-08-11 11:13] Danesprite commented on #114
Thank you for opening this issue. I am aware of this problem generally, although this many unknown character errors is unusual for an English layout.

The problem is complicated, but put simply it occurs because dragonfly doesn't use the keyboard layout of the current foreground window when typing keys. Virtualised or no, the errors will occur on any modern version of Windows, although I understan

[2019-08-11 12:37] Danesprite commented on #115
Thanks. It looks like calling `logging.basicConfig()` in `dragonfly/__init__.py` should fix this and other similar issues. I'll do that and also fix some other logging issues.

[2019-08-11 12:39] Danesprite commented on #109
I'd say just log an *INFO* message. If a timer cares that much, then yes it should just keep track of that.

[2019-08-11 13:40] daanzu commented on #109
Want me to submit a PR?

[2019-08-11 13:50] Danesprite commented on #109
Sure! I would have done it earlier, just been a little busy!

[2019-08-11 14:04] daanzu commented on #109
Ha, no problem, I will send one in this evening.

[2019-08-12 13:25] daanzu commented on #109
Fixed in #119

[2019-08-12 13:25] #109 closed

[2019-08-13 11:50] #115 closed

[2019-08-14 15:38] Danesprite commented on #116
Thanks for opening an issue on this. I should be able to fix this problem in the next few days.

[2019-08-14 15:44] Danesprite opened #123 "Unicode keyboard doesn't work correctly in Python 3"
I've noticed that the `Text` action isn't typing non-ASCII characters properly in Python 3.5 on Windows with the Unicode keyboard enabled. For instance, it will type "Düsseldorf" as "DÃ¼sseldorf".

[2019-08-14 15:59] Danesprite opened #124 "New functions for recognition state change callbacks"
It would be nice if it was easier to register callback functions for `on_start()`, `on_recognition()` and `on_failure()` events. At the moment, you need to override `RecognitionObserver` and register an instance of the new class with the engine.

6 functions could be added to make this easier, whilst still keeping observers around:

- `register_beginning_callback(function)`, `unregister_beginning_

[2019-08-21 11:21] Danesprite commented on #116
@comodoro Sorry I took a while to get to this.

I've figured out that an encoding mismatch is causing this problem. The mappings are encoded with *utf-8* here, but the engine uses `locale.getpreferredencoding()` internally, which is typically *windows-1252* / *cp-1252* on Windows. So nothing matches when dragonfly tries to decode the recognition text to grammar rules. If you change `# coding: utf-

[2019-08-24 09:39] comodoro commented on #116
One thing is not clear to me - what does Natlink use and what does Dragon use for encoding. Because if they are hardcoded for `windows-1252`, `getpreferredencoding()` may differ and encoding errors will just shift there. Note that Windows ANSI is not always `windows-1252`. I am on `windows-1250` and I expect many people to be on localized systems with different encodings.

[2019-08-24 17:50] wolfmanstout commented on #110
I would vote to keep this kind of autoformatting functionality (as an optional feature) in Text, not Dictation. Dictation is just capturing what you are saying, where is this is a property of the action behavior. I do think that the accessibility API functionality I added would provide a clean way to implement this, because that way it integrates smoothly with text changes coming from outside Drag

[2019-08-25 12:30] Danesprite commented on #116
It looks like natlink assumes that strings are encoded with windows-1252. That is a good point about the different encodings, it's definitely something that needs to be further addressed in dragonfly.

[2019-09-09 15:15] #116 closed

[2019-09-09 15:15] #123 closed

[2019-09-15 05:51] Danesprite opened #138 "Commands are sometimes not recognised by Dragon NaturallySpeaking"
It has recently been brought to my attention that some commands aren't recognised properly using the natlink engine backend. This only seems to occur in very specific circumstances. The commands, even if exactly matched by Dragon, are recognised as dictation instead. This was discovered when trying the [_notepad_foodgroups.py example](https://github.com/dictation-toolbox/dragonfly/blob/master/drag

[2019-09-16 14:26] multimeric opened #139 "DeepSpeech Engine"
Hi all, I've used [DeepSpeech](https://github.com/mozilla/DeepSpeech) before to pretty good effect. It's a deep-learning based recognition tool, which could give us advantages by being:
* Cross platform
* GPU enabled
* Models provided
* High accuracy
* Streamable

It also has a published python package, and is regularly updated. Would there be any interest in an engine that uses DeepSpeech? Does a

[2019-09-17 03:22] Danesprite commented on #139
Thanks for posting this. DeepSpeech has come up before in the [Gitter channel](https://gitter.im/dictation-toolbox/dragonfly). From memory, I think there were some questions raised about how accurate models would be given that Dragonfly grammars are typically command-based, rather than free-form dictation. Having said that, it would be nice to try it.

It is my understanding that you need to set u

[2019-09-17 04:33] daanzu commented on #139
I have done some work with DeepSpeech, and considered implementing a dragonfly backend for it, but I decided Kaldi was a more appropriate choice.

In my opinion, a huge part of dragonfly are the strict command grammars, and DeepSpeech does not currently support anything other than free form dictation. Implementing such support is possible but would be a significant undertaking in the internals of

[2019-09-17 05:46] TMiguelT commented on #139
My concern was mostly with the accuracy of free text. I was concerned that, outside of fixed commands, Kaldi would be inaccurate for dictating actual sentences, whereas DeepSpeech is ideal for that use-case. I'm interested in voice coding, and I'm not sure how effective that would be without high accuracy free text, in addition to command grammars.

[2019-09-17 10:52] daanzu commented on #139
I would say free dictation is the ideal case for DeepSpeech, but not necessarily vice versa. The "state of the art" is highly debatable, but Kaldi is certainly in the top tier: https://github.com/syhw/wer_are_we (I actually haven't run that benchmark on my current Kaldi model but I intend to). Note that the Mozilla streaming implementation is less accurate than the older bidirectional implementati

[2019-09-21 02:55] Danesprite commented on #139
Modifying the Kaldi backend's cloud dictation option to use any local Python package sounds like a good idea to me.

[2019-09-21 03:05] TMiguelT commented on #139
Yep, that sounds like an excellent compromise. Would that involve a kaldi PR? Or a PR here?

[2019-09-21 05:28] daanzu commented on #139
Most of the changes will be in Kaldi active grammar, but the options to the dragonfly backend may need to be adjusted as well.

However, I just realized that DeepSpeech requires python3, even for inference, correct? Kaldi active grammar currently only runs under python2, though I hope to get python3 support completed soon.

[2019-09-21 06:12] TMiguelT commented on #139
Ah, it quite possibly is Python 3. In any case, it would be a better use of time finishing Python 3 support in active grammar than trying to hack Deepspeech into working with Python 2.

[2019-09-21 06:15] TMiguelT commented on #139
Am I correct in saying that active grammar only currently works with the (paid) Google cloud dictation service? So DeepSpeech sound like it could be a huge improvement on that front.

[2019-09-21 10:45] daanzu commented on #139
The cloud dictation feature only works with google currently, though it should not be hard to add others depending on their interface. However, the cloud dictation feature is just optional. By default, full dictation is supported locally by Kaldi.

[2019-09-21 12:56] quintijn commented on #138
Hi Dane,

Andrew Zumchak brought this to my attention, and I did similar tests. In "pure Natlink" you can indeed quote words, making one word for the speech engine. Succes is certainly not guaranteed, although your experiment suggests that (quoted) 'an orange' is easier recognised than (two grammar words) 'an' 'orange'.

If you want to be as close to the speech engine possibilities, it should be w

[2019-09-22 15:40] TMiguelT commented on #8
I just had a look at `python-evdev`, and I'm happy with how it works, and the fact that it works under Wayland, and doesn't depend on X11 like a lot of the other libraries. Would a PR be accepted that adds this capability? I realise the permissions on `uinput` are annoying, but they can be modified by a superuser to be more permissive where necessary, so it's not unreasonable to want to use it.

O

[2019-09-23 03:01] Danesprite commented on #138
Hi Quintijn,

Thanks for "weighing in". I appreciate your insight on this issue! :-)

I agree that Dragonfly grammars should also allow quoting, especially given your observation that Dragon seems to favour dictation over commands in recent versions.

I have verified that Dragonfly's Natlink compiler also works with quoted words, so that doesn't really need changing. I did have to hackily modify D

[2019-09-23 04:02] Danesprite commented on #8
It would be nice to have the keyboard and mouse input parts of Dragonfly work with `uinput` like this. [ydotool](https://github.com/ReimuNotMoe/ydotool) is a similar project which looks promising. It's also nice that this would allow using Dragonfly in TTYs.

I suppose requiring root / changing the permissions of `uinput` would be better than just not supporting Wayland at all, so feel free to mak

[2019-09-23 04:55] TMiguelT commented on #8
I've had a think about some of these options. The main issue is that we have to deal with keymapping, since we can't assume QWERTY.

* `ydotool` sounds promising, but I can't get its dependencies to compile, and even people in the AUR repo seem to complain about it. In addition, it seems to have trouble with non-QWERTY layouts: https://github.com/YukiWorkshop/libevdevPlus/issues/2. So I'm ruling o

[2019-09-23 06:40] Danesprite commented on #8
Thanks for looking into this so thoroughly!

[Aenea](https://github.com/dictation-toolbox/aenea) also has an [evdev keyboard implementation](https://github.com/dictation-toolbox/aenea/tree/4ef9ee309d1faa691e4109a425e928a5d83ea5a9/server/linux_wayland), but has the same keymap issues. A few keymaps are hardcoded in at the moment, which works for most people, but isn't really ideal.

I agree that it

[2019-09-23 07:17] TMiguelT commented on #8
Hmm, I think the Wayland protocol would let us get the window size, but I don't think you can manipulate windows. Wayland tries hard to stop applications interfering with each other.

[2019-09-23 08:07] Danesprite commented on #8
Ah, okay then. I figured as much. I don't keep up with Wayland development, but I hope they plan to implement some sort of authorised way to "interfer" with other applications for accessibility purposes. It would make this sort of thing easier.

The current window dimensions would actually be useful. That would allow relative mouse movements to work whenever we get the `Mouse` action working on Li

[2019-09-23 08:15] TMiguelT commented on #8
I think relative movement is a built-in capability to evdev: https://python-evdev.readthedocs.io/en/latest/apidoc.html#evdev.device.InputDevice.capabilities. You just provide inputs as either relative or absolute movements. So we don't even need the window for that.

[2019-09-23 08:35] Danesprite commented on #8
Oh sorry, I meant mouse movements relative to the current window's dimensions, not desktop-relative movements: https://dragonfly2.readthedocs.io/en/latest/actions.html#example-mouse-actions
Still, it's good that we get that type of relative movement for free. It is the same with xdotool.

[2019-09-23 08:38] Danesprite commented on #8
I might do some work on porting the `Mouse` action today now that I'm thinking about it. It's the only major thing left for X11.

[2019-09-24 08:06] comodoro commented on #8
I have a question about Wayland: there should be a [compatibility layer with X](https://en.wikipedia.org/wiki/Wayland_(display_server_protocol)#Compatibility_with_X), is it necessary to implement separately?

[2019-09-24 08:10] TMiguelT commented on #8
Yes, it is necessary to implement separately. XWayland is just another Wayland client that itself exposes an X server (see diagram below). Which means, it's still limited in functionality by what Wayland clients can do. And Wayland clients can't do things like moving the mouse, injecting keys, identifying the current window etc. Thus, we still have to resort to `uinput` as the primary input simula

[2019-09-24 09:57] comodoro commented on #8
Thanks. I see you had made an issue in `pynput`, https://github.com/moses-palmer/pynput/issues/184, so maybe few changes will be necessary on this end, apart from perhaps needing permissions on install

[2019-09-24 14:14] TMiguelT commented on #8
Just updating here to share my conclusion from the other thread: There are some Wayland protocols in the works that would solve this in a much cleaner way, so I think it would be best to hold off on implementation until they're accepted, rather than using the uglier `uinput` method.

[2019-09-26 11:00] Danesprite commented on #8
Yep, there would only be a few changes on this end.

Thanks for sharing that. Good to know there is some work on Wayland protocol extensions for this, although I can also see some uses for a `uinput`-`pynput` implementation.

This Python package supports keyboard and mouse input through `uinput` on Linux: https://github.com/boppreh/keyboard
It does explicitly require sudo though.

[2019-09-26 12:11] TMiguelT commented on #8
Oh, I missed that library entirely. But it seems like our best bet for non-X11 Linux at the moment. And it uses the `dumpkeys` + `uinput` strategy I was envisaging. I might try to hook up `keyboard` (and `mouse`) to Dragonfly if I get the chance.

[2019-09-26 13:01] Danesprite commented on #8
Yep, it seems like it. It would be good to have that in the meantime, even if it is replaced later on.

I should have #140 merged soon enough. That will make the job easier for `mouse` if you get to it.

[2019-09-29 12:03] Danesprite commented on #8
With #140 merged, `Mouse` and `Monitor` should now work on X11 and Mac OS! 🎉

I've edited the TODO items in the top post with the things that are left.

[2019-09-30 13:37] TMiguelT opened #142 "Constructing grammars with elements don't work and are poorly documented"
I'm finding this very confusing. The [documentation](https://dragonfly2.readthedocs.io/en/latest/object_model.html) goes on at length about the Object Model, in which grammars are made up of rules, which are made up of elements. However, not a single Dragonfly grammar I've ever seen constructs grammars this way. They all use `MappingRule` or `CompoundRule` to write their grammars using strings.

I

[2019-09-30 14:07] daanzu commented on #142
I believe `Rule` is an abstract base class, not intended to be used directly, because its `process_recognition` method is left blank. A good minimum for what you want is probably simply:

[code]

[2019-09-30 14:09] TMiguelT commented on #142
Is it not possible to formulate a grammar without using a `CompoundRule`? This seems very strange

[2019-09-30 14:12] daanzu commented on #142
I think that and MappingRule are the two included concrete implementations.

[2019-09-30 14:14] daanzu commented on #142
It is probably a good idea to add a `SimpleRule` like the above to the library.

[2019-09-30 14:17] TMiguelT commented on #142
Ohhh, that explains my confusion. But that's very strange if it's true. Because that means that you can't bypass the `spec` string parsing. Surely there must be some way to combine elements directly into a rule without using a string `spec`?

[2019-09-30 17:41] mrob95 commented on #142
The reason why every user facing rule uses `Compound` elements is because this is the only way (I think) of mapping string commands to values to be acted on e.g.:

[code]

If you want to get all of the functionality of a mapping rule using individual elements then I think you'll need something like:

[code]
and
[code]

This should allow you to build up rules like:
[code]

Maybe something like this

[2019-10-01 07:07] daanzu commented on #142
Ah, I always forget that `Rule` has default `exported=False`. Probably because it is an abstract base class and not meant to be used directly.

[2019-10-01 14:09] daanzu commented on #142
By the way, I'm putting together a PR for this.

[2019-10-01 14:14] TMiguelT commented on #142
I like the idea of a `BasicRule` that has a single base element and is exported by default:

[code]

But simply adding `exported=True` is satisfying enough for me.

Also, as I was kind of getting at, I think the documentation could do with some good examples for this, and for `CompoundRule`s (is the `spec` grammar documented anywhere?)

[2019-10-02 14:51] Danesprite commented on #142
I agree that this part of Dragonfly is poorly documented and clearly wasn't designed to be used directly. I think adding a `BasicRule` class is a great idea.

Compound specs aren't documented properly either, just the examples on the [rules page](https://dragonfly2.readthedocs.io/en/latest/rules.html). The `Compound` class's documentation should specify what is accepted by its parser. That could b

[2019-10-02 16:16] mrob95 commented on #142
On a slightly related note. Do you think dragonfly should offer an implementation of CCR? It's probably a feature that the vast majority of users want for most of their commands, but at the moment we don't really offer any guidance or examples of how to do it well.

[2019-10-03 02:27] daanzu commented on #142
Re CCR: Do you mean just an easier interface to `Repetition`?

[2019-10-03 07:02] mrob95 commented on #142
Kind of, but the desired behaviour is something like "all of the rules I have added which match the current context are active, and I can say any of them in any order as many times as I want".

[2019-10-04 02:19] Danesprite commented on #142
This has come up before. There is a documentation section on CCR: https://dragonfly2.readthedocs.io/en/latest/ccr.html

I'm not willing to maintain something like Caster's CCR merger or Dragonfluid's `FluidRule` within Dragonfly. One thing we could do is add a modified version of the `SeriesMappingRule` class used in [dragonfly-scripts](https://github.com/dictation-toolbox/dragonfly-scripts/). Tha

[2019-10-04 02:45] daanzu commented on #142
Hmm, yeah, supporting that in dragonfly seems like a big addition. However, I need to think about it a bit more, but supporting that easily just in the Kaldi backend might not be hard at all.

[2019-10-04 19:20] dusty-phillips opened #144 "GrammarError: Unknown speaker language: 0xf809"
I'm getting a GrammarError: Unknown speaker language: 0xf809 when trying to connect to Caster via Natlink and Dragon NaturallySpeaking. I suspect this is because I configured Dragon to use Canadian English. Any advice?

Full traceback:
[code]

[2019-10-05 04:51] #144 closed

[2019-10-05 13:34] LexiconCode commented on #144
Thanks for reporting and submitting a fix! Awesome work.

[2019-10-06 05:06] Danesprite commented on #142
Yeah, it's a bit much.

Supporting that in the Kaldi backend would be interesting. I guess it could be done with optional attribute(s) on `Grammar` and `Rule` objects like what you've done recently with the optional `weight` attribute.

[2019-10-06 18:27] mrob95 commented on #142
FYI I'm working on this at the moment as a separate project - essentially a command definition API with automatic CCR. I think it's possible in a way that isn't totally horrible. We'll see!

[2019-10-07 01:59] Danesprite commented on #142
Oh cool! That sounds interesting :+1:

[2019-10-07 14:10] daanzu commented on #142
@mrob95 Very interested to see it!

[2019-10-12 06:45] #124 closed

[2019-10-30 11:51] Danesprite commented on #142
I'm reopening this because this could still be documented a little better. You also you wouldn't be able to use the base `Rule` class as above:
[code]

Defining the `element`, `name`, `context`, `imported` and/or `exported` parameters on the class-level won't currently work like they do with the `CompoundRule` and `MappingRule` classes.

[2019-11-08 02:14] yondu22 opened #160 "wav decoding kaldi"
Is there any example of how to to do file based decoding with kaldi engine?

[2019-11-09 23:55] Danesprite commented on #160
No, this isn't possible with Kaldi at the moment, but I don' t think it should be difficult to implement.

@daanzu What do you think? Could this be done, perhaps by re-using the Sphinx engine's [`process_wave_file()`](https://github.com/dictation-toolbox/dragonfly/blob/master/dragonfly/engines/backend_sphinx/engine.py#L894) method somehow?

[2019-11-10 13:08] daanzu commented on #160
I definitely intend to implement decoding from wave files, particularly to do full automated integration testing. I will try to get it done soon.

[2019-11-10 23:35] Danesprite commented on #160
That would be a good use for wave file decoding. I wonder if implementing this could be done as part of unifying the audio code for the Kaldi, Sphinx and Silvius/VoxHub engines. We talked about that a while ago on one of the Gitter channels.

[2019-11-23 00:00] Danesprite commented on #114
@MatthijsBurgh Just an FYI, this should be fixed on `master` now. I will be releasing a new dragonfly2 version this weekend. Sorry it took so long to fix!

[2019-11-23 01:22] Danesprite commented on #81
@kendonB The inconsistent behaviour between keyboard layouts described in your original post should be fixed in `master` now. Dragonfly's `Key` and `Text` actions should always type the correct keys for the current foreground window, e.g. `^` will always press the `^` key instead of `&`. I've updated the [documentation](https://dragonfly2.readthedocs.io/en/latest/actions.html#windows-key-support)

[2019-11-23 08:46] MatthijsBurgh commented on #114
Thanks for the heads up.

[2019-11-24 06:35] daanzu commented on #160
This is implemented in #175 with `KaldiEngine.recognize_wave_file()`.

[2019-11-26 14:24] Danesprite commented on #160
Dragonfly2 version 0.19.0 includes the new `recognize_wave_file()` method. I'm closing this as resolved now.

[2019-11-26 14:24] #160 closed

[2019-11-26 14:26] Danesprite commented on #114
No worries!

All done now. Releasing version 0.19.0 took a bit longer than expected. You should be able to upgrade using pip.

[2019-11-26 14:26] #114 closed

[2019-11-26 14:32] Danesprite commented on #81
Closing as resolved because dragonfly2 version 0.19.0 fixes most Win32 keyboard-related issues and my solution above is a good enough fix for the other part of the issue. I'll re-open this if I find a way to reliably get at current keyboard & language names.

[2019-11-26 14:32] #81 closed

[2019-12-07 10:03] daanzu opened #182 "Key Actions with held keys are intermittently problematic on Windows with Kaldi engine"
This spec used to work, but recently, started instead typing a plain `p` instead of with `ctrl` held. Removing the outer pause, "c-p" still seems to work fine.

[2019-12-07 11:32] daanzu commented on #182
More strangeness: `Key("ctrl:down/200") + Mouse("left/200") + Key("ctrl:up")` seems to operate as if ctrl isn't held, but separate actions performed with separate voice commands work as intended (tested in chrome BTW). This used to work fine until recently.

[2019-12-07 12:05] Danesprite commented on #182
Thanks for reporting this. I haven't tried to reproduce it yet, but I suspect this is related to #122.

[2019-12-07 12:35] Danesprite commented on #182
I am unable to reproduce these problems on Windows 7. I'm testing by control clicking desktop icons and trying to print with `Key("c-p/10")` in Notepad. Can you please tell me what OS and Python version you are using and what applications you are testing with?

Also, are you running the current version of dragonfly (`master`)?

[2019-12-07 13:55] daanzu commented on #182
I have been testing on py2.7 and Windows10. The `c-p` problem was in Sublime Merge; the mouse one in Chrome. It is pretty much `master`. I will test some more.

[2019-12-07 14:23] daanzu commented on #182
Hmm, now i have both working, but not sure what fixed it. Investigating.

[2019-12-08 04:58] Danesprite commented on #182
That is strange. Do you swap between keyboard layouts at all?

[2019-12-08 11:41] daanzu commented on #182
Nope, always the standard en-us layout. It is very perplexing. The problem occurs in my normal setup with a vendored dragonfly, and doesn't occur in my dragonfly checkout. Both using the same virtual environment. Diff shows very few differences, none of which should be remotely related to these actions.

[2019-12-08 12:42] Danesprite commented on #182
That is indeed perplexing. Does the problem consistently occur in your normal setup or only sometimes?

[2019-12-09 07:46] daanzu commented on #182
Well, it was completely consistent: problems in one setup, and none in the other. But then, it inexplicably resolved itself. I'm not sure what changed. Mysterious, but I guess I'll close for now. 🤞

[2019-12-10 02:07] Danesprite commented on #182
Huh. Mysterious.. Feel free to reopen if the problem occurs again.

[2019-12-18 13:53] Danesprite commented on #35
The macOS `Window` class has now been implemented and will be released in the next version of dragonfly2. Wayland is the only other desktop platform that comes to mind, but I don't think we can implement a `Window` class for it.

[2019-12-20 21:47] LexiconCode commented on #139
Some changes have been made to make the in  [kaldi-active-grammar
v1.0.0](https://github.com/daanzu/kaldi-active-grammar/releases/tag/v1.0.0) to make it easier to add other alternatives like DeepSpeech for dictation!

[2019-12-21 02:06] TMiguelT commented on #139
Excellent! Where can other cloud dictation engines be hooked in?

[2019-12-21 06:34] daanzu commented on #139
Unfortunately, I don't have a "pluggable" interface for it yet, but the basic infrastructure is there. I'll try to improve it when I can.

[2019-12-21 08:27] daanzu commented on #139
Okay, you made it bother me 😉, so I wrote a pluggable interface. See #184. It should be trivial to hook up deepspeech. Let me know if you have trouble.

[2019-12-21 15:27] TMiguelT commented on #139
Wow, amazing work. I had a look through the PR but I can't find mention of the interface itself. Would you mind pointing me to the right code?

[2019-12-22 05:31] daanzu commented on #139
Oops, I'll post documentation for the interface.

[2019-12-22 13:33] daanzu commented on #139
Set `alternative_dictation` to a ``callable`` object. The callable must accept at
  least one argument (for the audio data) and any keyword arguments. The
  audio data is passed in standard Linear16 (``int``) PCM encoding.

[2019-12-23 07:16] daanzu commented on #139
Oh, the callable should return the recognized text.

[2019-12-23 23:31] zilch42 opened #185 "Mouse clicks don't account for Windows 10 primary mouse button assignment"
I mostly use a left-handed mouse because my main issue is with my right hand, and I just realised that Caster's mouse click rules don't account for Windows 10's primary mouse button settings.

I.e. if your primary mouse button is set to "Right" in Window's settings, "Kick" gives you a right click rather than a left click and "Psychic" gives you the opposite as well.

It would be great if those lef

[2019-12-25 09:05] daanzu commented on #182
Okay, I appear to have a genuine Heisenbug. I finally turned off logging of `action.exec`, and it came back immediately. I have narrowed it down to [this logging line](https://github.com/dictation-toolbox/dragonfly/blob/2046550ee67519e28570244d3d347d89235e1840/dragonfly/actions/action_base.py#L89). If it is enabled, no problems. If it is disabled or commented out, almost always problems described

[2019-12-25 11:44] Danesprite commented on #182
Heisenbug! I like that. Thanks for tracking it down. Very strange that a logging line is causing the problem. I'll have a look into this soon. I'd also like to check if the problem occurs under X11.

[2019-12-26 07:43] Danesprite commented on #185
@LexiconCode No worries. You need to use `SwapMouseButton()` via `ctypes.windll` BTW; `Pywin32` doesn't include it.

I think it's debatable whether or not this is a bug. I wouldn't expect *simulated* mouse events for the left and right buttons to be effected by Windows' primary mouse button setting. That's assuming device drivers don't use `SendInput()` too, I don't know how that all works.

[2019-12-26 15:11] LexiconCode commented on #98
An adjunctive to the CLI could be that dragonfly has a configuration file that defining engine loading module and path to directory containing dragonfly scripts. That way a third-party program such as Caster could create the configuration file or reconfigure programmatically.

[2019-12-27 03:14] Danesprite commented on #98
I can see where you're coming from, but I think it would be easier to add another command that takes a directory path instead of multiple command module paths like the `test` command currently does. For example:

[code]

This command could also have options like `-e/--engine`, `-l/--language`,`-q/--quiet` and `-c/--config`.

[2019-12-27 05:57] daanzu commented on #98
@Danesprite This seems like a nice idea. I wonder if there is a simple enough way to integrate it with the module loaders, so that it calls them (using CLI args or directly in python) to do the loading/etc, calling the appropriate one based on the requested engine. That would mean less code duplication. It would make the examples more complex, but any one needing to modify them is probably knowled

[2019-12-28 13:03] Danesprite commented on #98
It should be easy enough to change the module loaders to call functions that implement my proposed CLI commands. The `get_engine()` calls would be left in-tact before the CLI command function calls so that optional engine arguments can still be specified. The `-c/--config` argument could be used to pass optional arguments to `get_engine()` if using the CLI command.

With that in mind, perhaps an o

[2020-01-02 04:50] #185 closed

[2020-01-03 03:54] Danesprite commented on #35
I'm closing this now that `Window` classes for X11 (Linux) and macOS are now implemented.

[2020-01-03 03:54] #35 closed

[2020-01-03 04:06] Danesprite commented on #24
@LexiconCode Should this be closed now? The RPC part is done and is useable from regular GUI libraries.

I think the RPC requirements should be made optional and no longer imported in `dragonfly/__init__.py`. The tests could be changed to only run when the RPC requirements are installed.

[2020-01-03 04:48] LexiconCode commented on #24
Yes this should be closed. Let me know how to included as an optional argument when installing or initializing dragonfly.

[2020-01-03 04:48] #24 closed

[2020-01-04 00:35] Danesprite commented on #24
Installing RPC requirements would be similar to installing engine-specific requirements: `pip install dragonfly2[rpc]` or `pip install -e .[rpc]`.

[2020-01-05 20:46] tbenst commented on #139
Just wanted to post this resource for [real-time streaming using microphone from python or web browser with DeepSpeech](https://github.com/mozilla/DeepSpeech-examples/tree/r0.6/mic_vad_streaming).

Another approach is to follow the example set by Common Voice and actually obtain a corpus for voice coders. This could be bootstrapped for e.g. the Casper vocabulary by recording audio from users + cap

[2020-01-06 03:25] daanzu commented on #139
Thanks for the interest! Though actually, I wrote that module for DeepSpeech 😀.

As you referred to in Gitter, handling the command grammars is a difficulty. I have worked some with DeepSpeech, and considered implementing a decoder for it that would support command grammars, but I am not sure its performance justifies that currently. So I chose to work on Kaldi instead, which I expect to perform b

[2020-01-08 08:07] Danesprite commented on #110
Thanks for your thoughts on this @wolfmanstout and sorry for the (very) late response! Implementing optional autoformatting functionality like this would be nice, although I think it would get pretty complicated even with the abstraction you mentioned.

I wanted to touch on the points in your previous posts @alexboche. Having moved to mostly using the Kaldi Dragonfly engine backend, I figured I ne

[2020-01-10 04:32] LexiconCode commented on #98
Something else to consider here is to have more than one module loader active.
- My primary thought is for [noise recognition](https://github.com/daanzu/dragonfly_daanzu_tools) module loaders

[2020-01-10 11:08] daanzu commented on #98
Actually, my noise recognition module shouldn't need a separate loader. It should work just by putting the file in your usual dragonfly directory.

[2020-01-10 13:22] Danesprite commented on #98
Most of this is implemented in PR #191 now.

`argparse` doesn't seem to like multiple optional arguments like `-o model_dir=. -o vad_padding_end_ms=300`, so I opted for separating the `argument=value` parts with commas instead. It won't work for all arguments yet though, e.g. the VAD argument will cause a type error during engine initialization.

I don't think a `-c/--config` argument would be eas

[2020-01-10 14:48] daanzu commented on #110
@Danesprite This sounds great! I am looking forward to some nice formatting. I threw together a hacky version of what you are describing, but haven't gotten around to cleaning it up to be generally usable. I would love to try yours out.

[2020-01-11 12:01] Danesprite commented on #110
@daanzu Yeah, I'm finding it really useful! I'll try to upload it somewhere today so you can try it out :)

[2020-01-11 15:59] LexiconCode commented on #7
@Danesprite now that Dragonfly is cross-platform is this something that we need to address in Mac and Linux?

[2020-01-12 01:55] Danesprite commented on #7
It doesn't look like this is a problem on X11 because the monitor list is already updated. It would be an issue on macOS because I don't know how to get updated monitor information using `pyobjc`. You need to restart the interpreter after changing the monitor configuration on macOS.

[2020-01-13 13:31] Danesprite commented on #110
@daanzu Here is a Gist with the command module and the text formatting code: https://gist.github.com/Danesprite/413895d62a4a699f14a48796f9fda7e7

Place both files with your other command modules and you should be good to go. It is an exclusive grammar with enable/disable commands. Say `"enable dictation"` to turn it on and `"disable dictation"` to turn it off. The grammar keeps track of the active

[2020-01-14 05:18] daanzu commented on #110
@Danesprite Thanks, I'll try it out!

[2020-01-16 07:05] #98 closed

[2020-01-22 06:24] Danesprite opened #196 "Document and unify engine audio & metadata retention"
Re: #194

CC @daanzu

The Kaldi engine has [well-documented](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html#retaining-audio-and-or-recognition-metadata) and flexible optional functionality for retaining audio and or recognition metadata for each spoken utterance. The natlink, WSR and sphinx engines also have functionality like this, but they aren't as well documented. There are also

[2020-02-07 16:32] LexiconCode opened #203 "Cannot print dictation words like `dash` in Python 2.7"
Saying Dash will produce `–`. Therefore therefore Dragonfly trying to use a keyboard symbol in the dictation element. Looks like it's an coding issue with the character.

[code]

Traceback
[code]

[2020-02-08 07:33] Danesprite commented on #203
This is happening because the [CP437 character set](https://en.wikipedia.org/wiki/Code_page_437) doesn't define the '`—`' dash character. CP437 is the character set used by your `sys.stdout` stream. The fix would be to adjust the `_on_recognition` function to encode the words before printing them:

[code]

What this does is encode the words with stdout's encoding or ASCII if `sys.stdout.encoding`

[2020-02-08 19:01] LexiconCode commented on #203
Thank you for such a detailed explanation. This isn't a big issue and could go on the back burner until Python 2.7 is dropped in my opinion.

[2020-02-09 01:00] Danesprite commented on #203
No problem. I agree that it's a minor issue. I've renamed the issue. Would the external bug tag be appropriate?

[2020-02-15 03:48] LexiconCode opened #205 "Importing the win32ui module crashes Natlink if used out of process"
Simply importing `win32ui` crashes Natlink if used out of process. The issue does not occur when using in process method through Natlinks GUI. The crash manifests itself through an absence of recognition through Dragon and natlink's waitForSpeech gui freezes. Ultimately natlink's process has to be ended using to the task manager. After the process is terminated DNS resumes recognition.

To reprodu

[2020-02-15 20:45] AcademyOfF opened #207 "Add the latest version of Dragon software that dragonfly will work with in the documentation"
Whenever I Google about programming with Dragon software, there's always something saying that software only works with an old version, like Dragon 12. The latest version of Dragon software is 15. Does dragonfly work with the latest version? Regardless, I think it's worth mentioning the latest version dragonfly Is known to work with in the documentation.

[2020-02-15 21:13] AcademyOfF opened #208 "Frontload the readme with information about what this tool does"
I mean no offense by what I'm saying, but it's challenging to figure out what dragonfly does. From what I can tell with the example at the bottom, it gives me a way to write some code in Python that will generate text.  Like, I think it's an alternative way of creating commands in Dragon software (or other software).

- [ ] In my opinion, the example at the bottom is missing a section: somewhere i

[2020-02-16 22:33] LexiconCode commented on #207
Yes there's lots of outdated information out there. To let you know it works with Dragon 13 through 15. Possibly even 12 through but I can't recall.

[2020-02-16 22:39] LexiconCode commented on #208
No offense taken, The dragonfly framework utilizes Python it can be used to to create a grammar program in any programming language. While the following wouldn't be included in the readme, this might be helpful to you.

[code]

[2020-02-17 23:59] AcademyOfF commented on #208
Yeah that helps a lot. I think some of this should be added to the readme. Thanks

[2020-02-18 03:05] AcademyOfF opened #209 "question four OT should I do nearby exercises"

[2020-02-18 03:11] caspark opened #210 "Kaldi backend doesn't handle Empty element"
Kaldi's compiler doesn't handle the `Empty` element, which means that grammars which use this element as a no-op (useful for e.g. programmatically building grammars) won't load under the Kaldi backend.

The fix seems to be straightforward: implement `_compile_empty` on the Kaldi backend compiler with an empty body, as natlink's compiler does.

[2020-02-18 03:45] #209 closed

[2020-02-18 03:54] daanzu commented on #208
FYI, for just trying stuff out, it might be easier to use the Kaldi backend, which can be installed a bit more simply, or the portable distribution from https://github.com/daanzu/kaldi-active-grammar/releases.

@LexiconCode That is a great demo example grammar! And I don't think it is too big for the README at all, especially considering how useful it would be. Although if you are worried about ho

[2020-02-18 04:23] Danesprite commented on #208
Hello @AcademyOfF,

Thank you for your suggestions! No offence is taken by me either; issues like this can occur when software documentation in general is not written or reviewed with different perspectives in mind. As the maintainer of this project, this is something I will try to keep in mind in the future.

I agree that the usage example should be before the installation part and it should be m

[2020-02-18 04:33] Danesprite commented on #207
As far as I know, the latest versions of Natlink and Dragonfly2 work with Dragon versions 10 to 15. I'll add the supported versions into the documentation and the `README` file.

[2020-02-18 04:39] LexiconCode commented on #208
@daanzu I appreciate the feedback and specially the gist with <details>. However I can't take credit for example grammar. It was buried in the Caster documentation which may not be its place of origin either.

[2020-02-18 05:42] Danesprite commented on #208
Perhaps a separate FAQ page would also be useful?

[2020-02-18 15:21] LexiconCode commented on #208
That would be one way to go about it and would probably work just fine.

[2020-02-19 02:05] AcademyOfF commented on #208
I also want to add that, as a user, the fact that it uses a high level object model is pretty inconsequential and may intimidate people. Right off the bat, I think the readme should start with answering the question of, "what does this project do?" `Dragonfly is a speech recognition framework.` Kind of answers that, but it can be interpreted many ways. The next sentence of `It is a Python package

[2020-02-20 11:44] #210 closed

[2020-02-20 14:30] Danesprite commented on #182
@daanzu I still haven't been able to reproduce this bug, even with the logging changes you mentioned above and in the linked issue.

Do you know if the problem occurs if you use actions like `Key("c-p/10")` from the REPL or with WSR? Just wondering if it's something to do with Kaldi. Unfortunately, I can't test with Kaldi on Windows at the moment.

[2020-02-20 15:05] Danesprite commented on #182
It just occurred to me that modifier issues like this one could be caused by this code in `Win32Window.set_foreground()`:
https://github.com/dictation-toolbox/dragonfly/blob/b2f63bc4e58c8a110b8e4ceedcc97b2302ff386a/dragonfly/windows/win32_window.py#L234-L237

I'll change that method to use [`GetKeyState()`](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getkeystate) to check

[2020-02-20 15:33] daanzu commented on #182
I keep meaning to go back and test this more, but haven't yet. I have been lazy and just left in the logging, which bizarrely (temporarily) fixed it.

I can't remember if it was happening under WSR or not. I don't think I tested with REPL, but that is a good idea. I will try it after you put in that Window fix you just mentioned.

[2020-02-21 03:39] Danesprite commented on #182
Okay then. I still have no idea why that logging change works for you!

I've fixed the control key bug in PR #213, although it might not be what's causing this issue. Let me know how the testing goes.

[2020-02-21 05:12] daanzu commented on #182
Ha, yeah, it's pretty crazy. I will give it some more testing and let you know.

[2020-02-23 06:47] Danesprite commented on #208
@AcademyOfF Thank you for this! I will rewrite the README with these things in mind.

The README currently includes a link to Stack Overflow posts tagged with "python-dragonfly" as the FAQ. While those questions and answers are useful, many of them are related to issues that were fixed some time ago. We also have no control over what questions Stack Overflow lists and in which order. I'll start pu

[2020-02-23 20:06] AcademyOfF commented on #208
I agree. Creating a FAQ is something I can get behind, but it's unrelated to my original request. Could we create a separate issue for the FAQ?

[2020-02-24 00:27] Danesprite commented on #208
Sure, good point. I'll create a separate issue for it.

[2020-02-24 01:57] Danesprite opened #214 "Add a proper FAQ"
CC @AcademyOfF

The README currently includes a link to Stack Overflow posts tagged with "python-dragonfly" as the FAQ. While those questions and answers are useful, many of them are related to issues that were fixed some time ago. We also have no control over what questions Stack Overflow lists and in which order. I'll start putting together a proper FAQ for Dragonfly, post a link to it here and

[2020-02-25 02:26] AcademyOfF commented on #208
great, thanks a lot

[2020-02-27 19:10] LexiconCode opened #216 "Dragonfly Execution of Key TypeError python 3"
This is a bug in Python 3.8.2 with Dragonfly `set_foreground`
[code]

[2020-02-28 05:21] LexiconCode commented on #216
Actually it's a conflict between pynput and ctypes.

https://stackoverflow.com/questions/53643273/how-to-keep-pynput-and-ctypes-from-clashing

[2020-02-28 06:27] caspark opened #217 "Kaldi engine recognizes empty Dictation elements while Dragon engine does not"
**Reproduction steps:**

1. Load the following rule into a Dragon grammar

[code]

2. Say the two utterances `alpha hello` and `alpha`
3. Load the same rule up into Kaldi and say the same utterances

**Observed:** Dragon will recognize `alpha hello` but not `alpha` on its own, because it doesn't allow empty `Dictation` elements to be recognized. Kaldi will recognize both `alpha hello` and `alpha`

[2020-02-28 06:51] Danesprite commented on #216
Thanks for opening this. I've come across this problem before and wondered whether it was worth making an issue on. The problem, as you've discovered, is that Dragonfly doesn't set `SendInput.argtypes`, but pynput [does](https://github.com/moses-palmer/pynput/blob/d5db66dc22a6a856657a75c18cb853356512136c/lib/pynput/_util/win32.py#L129). This makes the `SendInput` function break when we use it in D

[2020-02-28 07:39] moses-palmer commented on #216
Thanks for the mention. The added type signatures in *pynput* are mostly for documentation, so I will look into whether removing them is possible.

[2020-02-28 10:09] moses-palmer commented on #216
The *master* branch of *pynput* now contains a presumed fix for this.

It unfortunately proved impossible to remove the `argtypes` specifications---the `int`s were incompatible in my test system---but *pynput* no longer specifies internal types, but rather `ctypes.c_voidp`, which should be compatible with whatever is passed to the functions from *dragonfly*.

[2020-02-28 11:39] Danesprite commented on #216
No worries about the mention.

I have tested using *dragonfly* with the master branch version of *pynput* and the libraries are now indeed compatible and working nicely together. You didn't need to fix this problem so promptly, so thank you! :-)

[2020-02-28 14:20] #216 closed

[2020-02-28 14:50] daanzu commented on #217
Hmm, I was afraid this could become an issue at some point, but I didn't have a grammar myself where this occurred. I don't think there is an easy fix for this. I have an idea, but it will take a little work. Thanks for the thorough explanation!

By the way, you could try adjusting the weights some and see if that helps, although it won't fix the empty dictation problem. It might help to encourage

[2020-03-05 13:49] Danesprite commented on #8
I will be closing this issue once PR #218 is merged and the changes are released in a new version (0.22.0). That PR adds macOS support for the [Kaldi engine](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html), which gives us a very usable speech recognition engine backend on each major desktop platform, making Dragonfly truly cross-platform at last! 🎉

Of course, that doesn't mean Drag

[2020-03-10 11:48] Danesprite opened #220 "Modifier and other issues with Xdotool under X11"
Much of Dragonfly's X11 support relies on shelling out to Xdotool. I have noticed that if I interrupt the running Python process using `Key("c-c")`, the Xdotool sub-process gets interrupted before it can release the 'c' key, so it just keeps typing 'c'. I'm sure there are other issues that could be caused by this.

I think the best way to fix this is to fork the Xdotool sub-processes with `os.sets

[2020-03-11 12:23] #220 closed

[2020-03-12 13:41] LexiconCode opened #222 "Verify Natlink on Python path when launching out of process"
Natlink 4.2 is supposed to add itself to the Python path via the registry. On a rare occasion for some users this fails.

From the end-user's perspective
1. They have Python version 2.7.17 32-bit including the option to put Python in the path.
2. Downloaded and installed Natlink 4.2.
3. run `python -m dragonfly load --engine natlink _*.py --no-recobs-messages`
4. See the error message below

[code

[2020-03-13 02:39] LexiconCode commented on #222
I've made a test script to help people troubleshoot and test the suggested fix above.

[code]

[2020-03-13 20:16] LexiconCode commented on #222
Given that Natlink for Python 2.7 is end-of-life a fix like this does not need actualized in a merge. Good to have it referenced at least in an issue.

[2020-03-15 04:45] Danesprite commented on #222
I wouldn't mind merging a fix for this. Even though Python 2.7 is end-of-life, it's safe to say most users of Dragonfly and Caster still use it.

[2020-03-15 22:13] LexiconCode commented on #222
Okay that sounds like a plan. I'll see what I can come up with. The implementation will be be similar but it'll check the python path first for `...NatLink\\MacroSystem\\core` and verify `natlink.pyd` is in `core`. (import natlink)

[2020-03-16 06:22] Danesprite commented on #222
Okay then :+1:. I don't mind just adding your fix in a new PR

[2020-03-16 08:41] #222 closed

[2020-03-17 03:48] #203 closed

[2020-03-20 01:56] #207 closed

[2020-03-20 01:56] #208 closed

[2020-03-20 01:56] #214 closed

[2020-03-20 11:41] Danesprite commented on #8
I'm closing this issue now that version 0.22.0 has been released.

[2020-03-20 11:41] #8 closed

[2020-03-22 21:23] LexiconCode opened #226 "Expose clipboard formats in Mac and Linux"
Currently pyperclip does not support exposing the format of contents in the clipboard besides plaintext in Mac and Linux.

### Mac OS
For Mac OS we can dump the formats using `richxerox` module [details](https://stackoverflow.com/questions/32959928/accessing-alternate-clipboard-formats-from-python)

### Linux
xclip may be the best option
https://askubuntu.com/questions/705620/xclip-vs-xsel
https:/

[2020-03-23 01:17] Danesprite commented on #226
Thanks for this detailed post! I like the idea of exposing other clipboard formats for each platform. I will have a look into your links and figure out the best way forward.

[2020-03-27 23:03] MarkRx opened #228 "Triple Monitor - Unable To Move Mouse To Left Monitor"
In a triple monitor setup dragonfly.monitors is reporting the x coordinate of my left monitor as being negative. The Mouse command treats a negative value as an offset from the right edge. It thus seems the monitor coordinate system is different than the one that the Mouse action uses. I am not able to get the Mouse command to move the mouse to my left monitor because of it.

I suspect you can rep

[2020-03-28 09:33] Danesprite commented on #228
Thanks for reporting this bug and including all this detailed information! I'm fairly certain I know what's causing the problem. I'll see if I can fix it today or tomorrow.

[2020-03-29 21:42] MarkRx commented on #228
See https://github.com/dictation-toolbox/dragonfly/pull/230#issuecomment-605702887

[2020-04-02 00:20] #228 closed

[2020-04-02 09:17] Danesprite commented on #205
@LexiconCode Should this issue be documented in the [FAQ](https://dragonfly2.readthedocs.io/en/latest/faq.html), perhaps along with the other unfortunate limitations with running Python code with Natlink?

[2020-04-02 12:14] LexiconCode commented on #205
I think that would be appropriate place.

[2020-04-03 00:10] Danesprite commented on #205
Okay. I'll add a question and answer into the FAQ. Something like "Why doesn't multi-threaded or GUI code work when using Dragon and Natlink?"

[2020-04-05 04:51] Danesprite commented on #205
I added two questions on GUI and threading code to the FAQ in #232. I've referenced this issue from one of them.

[2020-04-05 06:11] cohomology opened #233 "Documentation: please clarify what you mean by DNS!"
As there is no product "Dragon Naturally Speaking" for a long time now, could you clarify prominently what you actually mean by this (i.e. is Dragon Home sufficient or do I need some 1000$ version of it)?

[2020-04-05 08:03] Danesprite commented on #233
Hello @cohomology,

I will adjust the documentation to mention *Dragon* instead of *Dragon NaturallySpeaking*. The interface that Dragonfly and Natlink use for old and new versions of Dragon is very much unchanged, so it makes very little difference to us what Nuance calls it today.

As far as I know, Dragonfly and Natlink work with all editions of Dragon. They definitely work with *Dragon Home* a

[2020-04-05 08:23] #205 closed

[2020-04-05 08:52] Danesprite commented on #233
I've updated the README and other documentation files. Please let me know what you think.

[2020-04-05 12:45] cohomology commented on #233
Thanks! Super!

[2020-04-05 12:45] #233 closed

[2020-04-08 12:11] Danesprite commented on #23
My formatted dictation Dragonfly grammar ([found here](https://gist.github.com/Danesprite/413895d62a4a699f14a48796f9fda7e7)) actually works pretty well with Pocket Sphinx and the changes introduced by #236. The changes don't allow using dictation and command words in the same utterances. It is enough for a free-dictation mode however, which resolves this issue.

[2020-04-15 12:00] Danesprite commented on #69
I will only be making dictation work as far as PR #236 makes it work, which is for single dictation utterances using the language model hypothesis if no other grammar rules match. This means that I will **not** be implementing mixed grammar and dictation rules for the Pocket Sphinx engine (e.g. `"type <dictation>"`). My reasoning for this decision is that dictation will work well enough for what P

[2020-04-15 12:09] Danesprite commented on #22
I don't think this is really needed. Even if it was, I cannot commit to working on this. I hope my ideas above and in Dragonfly's source code are helpful for those attempting the task in the future.

As it is a considerably easier task than this, I still plan on unifying the training data output by the Pocket Sphinx engine to be similar to the output from other engines (see #196).

[2020-04-15 12:09] #22 closed

[2020-04-15 12:35] Danesprite commented on #110
@alexboche It would be trivial to add an optional parameter to `Dictation` that allows for text using the state of the *previous* utterance versus the text formatted only using the state of the current utterance (current behaviour). Perhaps `persistent_formatting=False`?

If set to `False`, the `format` parameter of the dictation class covers your third option:

I only implemented that parameter r

[2020-04-16 00:46] cjbassi opened #238 "Modularize dependencies"
I'm writing a program that only needs the grammar and kaldi backend and it would be nice if i only had to pull in dependencies for those two features. Kaldi is already hidden behind a feature flag which is nice, but i still don't need rpc features and pynput. I think it would be nice if the sub packages were modularized behind feature flags. Also, would it be possible to drop the six dependency no

[2020-04-16 02:11] cjbassi commented on #238
Unfortunately it is not possible to specify default features in python: https://github.com/pypa/setuptools/issues/1139

So if the dependencies are modularized, it would be a breaking change and dependent projects would have to specify all of the features that they need.

[2020-04-17 11:01] Danesprite commented on #238
Yes, I'm sorry about this. I should have made the RPC dependencies, pyperclip, pynput and others optional from the start.

One way I could see around this problem is to have a separate `dragonfly2` project on PyPI.org with a different name so you can still import dragonfly, e.g. `dragonfly2-minimal`. To avoid `ImportErrors` relating to missing dependencies, you should be able to remove lines from

[2020-04-17 14:05] LexiconCode commented on #238
I would be in support of this as well. Ultimately would help diversify Dragonfly use case to different applications.

It would be nice not to have to split releases but it looks like we are a constrained with packaging technical limitations.

[2020-04-18 16:13] cjbassi commented on #238
I'm glad that this is something that's open to being fixed. Another idea might be to split dragonfly into a bunch of sub packages and publish those separately, like dragonfly_grammar, dragonfly_kaldi, etc. Just an idea.

[2020-04-18 16:29] cjbassi opened #239 "Repetition with CompoundRule"
Is it possible to use repetition with the CompoundRule? Is there some syntax that can be used in the spec to achieve this? Is there any documentation for this that i missed? Thanks!

[2020-04-19 04:05] daanzu commented on #239
Not currently. There has been some discussion of it in the past on Gitter (most of which I'm afraid I have forgotten). The question of how to design it is non trivial. It is definitely worth discussing here, as it is a pain point currently!

[2020-04-19 12:45] mrob95 commented on #239
Could you give an example of what you're trying to do?

[2020-04-19 15:43] cjbassi commented on #239
I'm trying to create a compound rule where certain words can be repeated. For my use case, the syntax that I would most prefer is `word*` for repetitions of 0 or more and `word+` for repetitions of 1 or more. Although maybe we need to instead specify the repetition in the extras, so that you can be more precise with specifying the repetition parameters. Also, it needs to work with other extras lik

[2020-04-19 16:13] mrob95 commented on #239
Ahh I see. You can obviously use a `Repetition` to create a new extra which does this but there is no syntax at the moment, though it would be possible.

`*` would need to produce `Optional(Repetition(object))` and `+` Repetition(object). Hard part is that we would probably also need to do some trickery with the names so that you could refer to both the repeated version and the normal version of s

[2020-04-19 16:24] cjbassi commented on #239
Oh you can specify it as an extra already? Is there some documentation for this that I missed? I specifically need it to work with a Choice extra, if that's possible. Thanks for the help.

[2020-04-19 16:36] mrob95 commented on #239
Ah yeah you're right, there is a docstring for it but I can't find it in the docs. Basically it's just another extra you can wrap around others, couple of example usages:
[code]

It will return a list of the matched elements, and you can specify a default as normal if it's going to be optional.

[2020-04-20 01:31] cjbassi opened #240 "Consider adding ccr support"
I saw that the documentation references some external libraries for ccr support but I was wondering if this was something that could be added to dragonfly, since it seems like something that a lot of people would want (including me :) ). Thanks.

[2020-04-20 18:18] LexiconCode commented on #240
The following projects implement CCR and abstraction to create grammars.

[Dragonfluid](https://github.com/chajadan/dragonfluid) by chajadan (Deceased)
[Breathe](https://github.com/mrob95/Breathe) by @mrob95
[Voca](https://github.com/python-voca/voca) by @akb
[Osprey](https://github.com/osprey-voice/osprey) by @ cjbassi
[Caster](https://github.com/dictation-toolbox/Caster) by synkarius and maintai

[2020-04-20 20:51] cjbassi commented on #239
I got it to work based on the examples you provided, so thanks for that. At this point, the only question here is whether the CompoundRule should provide syntax support for `*` and `+`. I'm not really sure i have an opinion on this, but I think it might be nice.

[2020-04-21 04:16] caspark commented on #217
This is fixed in kaldi-active-grammar-1.4.0 (though note that you need to be using an updated language model such as `daanzu_20200328_1ep-mediumlm` to get the fix, as I believe the fix was to the language model).

Thanks @daanzu !

[2020-04-21 04:16] #217 closed

[2020-04-21 06:42] daanzu commented on #240
I don't personally use CCR, but I know that many do.

For the Kaldi backend, I think it would be almost trivial to implement an optional automatic CCR, if this is something that would be very helpful to folks.  (It is possible I am missing an important difficulty.)

The other backends are another matter, however.

[2020-04-21 09:00] alexboche commented on #240
Don't mean to highjack this thread, but curious how much @daanzu has tried using ccr. I think ccr is a must have. I could be wrong, but I would very surprised if after a few weeks of daily use that one did not find a dramatic benefit from using ccr, no matter how complex their command set was.

[2020-04-21 09:20] LexiconCode commented on #240
I'm willing to sponsor this issue and I would hope others would join me. I'm willing to start with $600 to have CCR implemented in dragonfly that would work with all engines as many of the projects do above.

[2020-04-21 14:58] cjbassi commented on #240
@alexboche I asked him the same question on gitter because i was confused too and he said:

although I do still use some Repetitions in select places

Also to clarify, you're saying caster can only support up to 16 commands in a row?

@LexiconCode Very cool! Thanks for doing that.

On another note, this is the main issue blocking https://github.com/osprey-voice/osprey from being usable.

[2020-04-21 15:10] LexiconCode commented on #240
Actually Caster could support more than 16 commands in a row however it comes at the expense of grammar complexity and therefore less commands that could be made CCR. However there is potential to have optimize CCR which may lower grammar complexity.

As a side note I have not heard of many people going over 16 commands in one utterance besides Anna.

[2020-04-21 15:29] cjbassi commented on #240
Yeah, 16 does seem like a lot. What do you mean by 'grammar complexity' and how would that prevent comments from being added to ccr?

[2020-04-21 15:37] LexiconCode commented on #240
Take a look at this [blog post](https://explosionduck.com/wp/introduction-to-voice-programming-part-four-grammar-complexity/)

[2020-04-21 15:40] LexiconCode commented on #240
Take a look at this [blog post](https://explosionduck.com/wp/introduction-to-voice-programming-part-four-grammar-complexity/) as it should answer most of your questions. If I can clarify let me know.

[2020-04-21 15:45] LexiconCode commented on #240
Take a look at this [blog post](https://explosionduck.com/wp/introduction-to-voice-programming-part-four-grammar-complexity/) as it should answer most of your questions. If I can clarify let me know.

[2020-04-21 16:27] cjbassi commented on #240
Thanks, i should have read that earlier.

Question: Implementing ccr in dragonfly would be nice so that it works with all engines by default, but i'm wondering if we should actually implement it per engine if it makes more sense that way from a technical perspective, so we don't have to deal with grammar complexity and max repetitions. Modifying grammars to get ccr to work actually kind of seems l

[2020-04-21 16:30] mrob95 commented on #240
Breathe works well for me on both kaldi and dragon. I'm happy for it to be incorporated into dragonfly or moved into Dictation Toolbox if that would be more useful

[2020-04-21 19:21] LexiconCode opened #242 "Dragonfly Failed to decode recognition"
This happens when the engine successfully recognizes a grammar rule, but Dragonfly couldn't find which rule was recognised. I have personally experienced this issue once. However I have at least 2 to 3 people that experience 100% with fresh installs with commands utilizing a dictation element.

Users are experiencing this with other commands but here is an example:
`gum bow <some words> brunt`

Us

[2020-04-21 20:28] LexiconCode commented on #240
All speech recognition engines that consume grammars have grammar complexity. I don't see why optimizations can happen both on dragonfly and on the engine to manage grammar complexity. Dragon NaturallySpeaking does not have its own implementation of CCR nor does any other commercial speech recognition engine to my knowledge that runs locally.

[2020-04-21 20:30] LexiconCode commented on #240
That would be an interesting discussion to have been incorporated into Dragonfly. How does Breathe tackle some of the issues I mentioned in my the earlier post?

[2020-04-21 21:11] cjbassi commented on #240
You're right, what i meant to say was 'so we don't have to deal with the additional grammar complexity of ccr'.

That's good to know. So we are definitely going to need a ccr option in dragonfly.

I think it would be great if kaldiAG was able to implement ccr on its own. And then for the rest of the engines, they could just use the dragonfly ccr implementation. But of course we will have to see ho

[2020-04-22 11:05] daanzu commented on #240
Certainly! I just wanted to point out that the difficulty varies greatly between different engines. Not that I want to bifurcate engine support in dragonfly.

Indeed, it might be best to implement it "natively" per engine, possibly with a general fallback mechanism if necessary. For instance, if my sketchy plan for implementation of CCR in Kaldi works, there should be no additional grammar complex

[2020-04-22 14:16] cjbassi commented on #240
Yeah, it is for me. It's not really something i noticed or paid attention to before though. And it seems like most of my command chains are pretty short anyway, unless it's a bunch of short ones.

[2020-04-22 17:54] LexiconCode commented on #242
All right thanks to @tlappas we have a few more details.

- A complete debug log of the command failing not truncated.
[debug-decode-error.txt](https://github.com/dictation-toolbox/dragonfly/files/4518031/debug-decode-error.txt)
- The issue occurs regardless if it's a `mappingrule` or of CCR `mergerule` which utilize dragonfly repetition. This should rule out dragonfly's repetition optimization fr

[2020-04-23 07:55] Danesprite commented on #242
Thanks for putting this together @LexiconCode! :+1:

I have been trying to figure out if this is a bug with Natlink or Dragonfly. So far, I can't find anything obvious that could be causing this. Natlink's code for results just forwards the rule integer value (`dwCFGParse`) given by Dragon to the results callbacks of grammars. It doesn't change it, neither does Dragonfly's code.

The only possibil

[2020-04-23 13:54] Danesprite commented on #238
Sorry for the late response!

It's certainly possible to split Dragonfly into a bunch of sub-packages to be published separately. Some of us are considering splitting Dragonfly's actions and related OS control code into a separate dictation-toolbox repository with similar code from [Unimacro](https://qh.antenna.nl/unimacro/features/actions/index.html).

[2020-04-23 14:15] Danesprite commented on #239
Use of `Repetition` elements, either for continuous command recognition (CCR) or for more simple use cases, is currently poorly documented.

@mrob95 Would you mind if your examples were included in the docstring for the `Repetition` element class?

As @daanzu said, this has come up in the past and has unfortunately been forgotten about. I would be in support of adding this syntax to `Compound` spe

[2020-04-24 13:55] daanzu commented on #239
I think this could come in handy fairly often. The main design question is how to handle the `extras`: does the extras variable get assigned an array of all of the matches? I seem to remember coming up with various possibilities, but I haven't considered it lately.

[2020-04-24 15:06] cjbassi commented on #239
I've already implemented this in an application I'm writing: https://github.com/osprey-voice/osprey/blob/master/osprey/voice.py#L130, and the way I've implemented it is both `*` and `+` return an array of the matches. `*` is implemented with an Optional so I just said it's default to `[]`.

[2020-04-25 13:30] LexiconCode commented on #240
Here's the most straight forward implementation I've seen of CCR from @wolfmanstout.
http://handsfreecoding.org/2015/04/25/designing-dragonfly-grammars/

[2020-04-30 00:53] lexxish opened #245 "Add wav2letter engine support"
Wav2letter would be valuable because it is one of the lowest latency speech engines (significantly faster than even Kaldi).

See chart of latencies on page 2: https://arxiv.org/pdf/1812.07625&ved=2ahUKEwj8wpnF8o7pAhWEmHIEHagZBA8QFjANegQIAxAB&usg=AOvVaw31lEtWMzIMj6acvVN9UrSH

[2020-04-30 03:33] daanzu commented on #245
Regarding latency, I don't think that is correct. Which chart are you referring to, @lexxish? My Kaldi model has a latency on the order of ~10ms for commands in my experience, and that would be hard to beat.

More engines are welcome, but I haven't been convinced that wav2letter is superior for our usage yet.

[2020-04-30 04:03] lexxish commented on #245
Sorry the chart is at the top right of page 3 not page 2.

[2020-04-30 07:01] daanzu commented on #245
Figure 3 is for time spent _training_, not for _decoding_ (normal usage). (Also, frankly, I question the relevance of including Kaldi in that figure. Kaldi uses a completely different architecture and was likely trained on far fewer epochs, making the per-epoch comparison of questionable relevance, although the paper doesn't provide enough detail to say for sure.)

[2020-04-30 12:37] Danesprite commented on #245
David is more knowledgable on this subject than me. I have to agree that the Kaldi engine backend would be hard to beat at this point. I suppose it would be nice if training was easier.

I would welcome pull requests for wav2letter support. I am not however willing to develop or maintain such an engine implementation myself; maintaining Dragonfly is difficult enough with all the components it curr

[2020-04-30 12:45] lexxish commented on #245
It looks like table 2 on page 4 might be decoding time although for some reason they didn't include Kaldi. After reading more about it perhaps you are right Kaldi may be as good or in some ways better depending on how it's trained/configured.

Is it possible to configure Kaldi to reduce latency?

[2020-05-01 09:09] Danesprite commented on #240
Sorry for taking a while to respond to this.

I am hesitant to add some form of built-in CCR support to Dragonfly since CCR is, as @LexiconCode pointed out, fairly complex. I cannot commit to developing or maintaining such a complex addition. It is good to know there is considerable interest though. If anyone wants to maintain something like this in Dragonfly, then it would be preferable for it to

[2020-05-02 03:15] daanzu commented on #245
@lexxish

Table 2: They are a bit vague about how they set up the decoding test, but I think it is probably also quite different from our usage, which might also be why they didn't include Kaldi in the comparison. They are probably batching the utterances, whereas we only have one voice at a time (though I would like to have a multi threaded voice). Also, they are running on massive servers with b

[2020-05-05 08:17] #23 closed

[2020-05-05 15:37] LexiconCode commented on #240
It would be nice if this implementation had minimal abstraction that doesn't disturb the current API. Since we have direct access to dragonfly versus further layer of abstraction as demonstrated through the other projects we have an advantage. So to that end I wonder if we could do something like this.

`grammar = Grammar('sample', ccr = True)`
or
`grammar.add_rule(MainRule(), CCR = True)`

This m

[2020-05-06 10:52] Danesprite commented on #238
I believe modularisation of dependencies should be done for Dragonfly version 1.0.0.

[2020-05-06 11:21] Danesprite opened #247 "Dragonfly distribution changes"
CC @LexiconCode

Christo Butcher (@t4ngo) has kindly allowed us the use of the original ['dragonfly' PyPI](https://pypi.org/project/dragonfly/) channel for distribution and has archived the original [t4ngo/dragonfly](https://github.com/t4ngo/dragonfly) repository. I'd like to start releasing new versions via the original channel instead of via [dragonfly2](https://pypi.org/project/dragonfly2/).

@

[2020-05-06 12:16] Danesprite commented on #240
I like this idea! It's quite similar to how CCR is specified in @mrob95's [Breathe library](https://github.com/mrob95/Breathe).

@daanzu I just wanted to mention that if you want to make Kaldi CCR optimizations, the `Repetition` element has an `optimize` parameter that could be used. It is `True` by default and was added with Dragon in mind, but can be used by any SR engine's compiler. Optimizatio

[2020-05-06 13:47] daanzu commented on #240
@Danesprite Thanks, yes, the Kaldi backend already uses the `optimize` parameter when possible, and it definitely simplifies things (although it can't if the element can be empty, which basically creates an infinite loop in the kaldi decoder).

For the Kaldi CCR optimizations, I think I can just make a CCR rule that basically just consists of RuleRefs to the other rules. I assume there is a reason

[2020-05-08 11:51] Danesprite commented on #240
Okay then, that's good to know.

A CCR rule consisting of RuleRefs to the other rules does work properly with natlink. It is basically the right approach, it doesn't allow for referenced rules to have contexts though. I think it would be easier to implement CCR in the `Grammar` class, as mentioned above, rather than just for Kaldi.

[2020-05-08 13:59] daanzu commented on #240
You mean you just have to rebuild the CCR rule to not include the rules that are not currently in context, right?

[2020-05-08 14:09] mrob95 commented on #240
The way it is done in Breathe is to overload the `Grammar.process_begin` method to check the context every time an utterance begins and construct a new CCR rule if necessary. This works well and avoids any of the inflexibility you get if you try and precompile all of the grammars you are ever going to need on start-up

[2020-05-09 15:46] LexiconCode commented on #240
So the functional difference is decreased startup time and doing merger during first utterance. How does that scale with as the number of grammars increase in number and complexity?

This trade-off could be decreased by checking context on foreground window change and utilizing checking context on first utterance. That way merger takes place as soon as the window changes. Not all context are activ

[2020-05-10 04:13] daanzu commented on #240
To confirm: with natlink, if a Rule is disabled by its context not being active, a RuleRef to that rule from another rule that is active will still work fine?

@LexiconCode Are there any features from Caster's CCR implementation that are missing in Breathe's? Or just the possible performance difference between the two approaches? How does Caster handle merging upon context changes, if not in `Gram

[2020-05-10 10:56] mrob95 commented on #240
I don't think the scaling is a problem, merging a new grammar for a context combination that hasn't been seen before is very cheap - basically just building a list of references. With kaldi there is a noticeable (a few seconds) lag when a new grammar needs to be compiled, but once all of the grammars you use regularly have been cached by kaldi it is no longer an issue.

[2020-05-10 12:22] mpourmpoulis commented on #240
I believe there is some overlap with Some of the issues discussed [here](https://github.com/dictation-toolbox/Caster/issues/798)

@LexiconCode In the general case, the number of combinations that can arise from CCR's is exponentially with the number of grammars With context, so computing them all in advance does not scale well. In practice, at least for the moment, I believe it is highly unlikely

[2020-05-10 14:05] mrob95 commented on #240
That's correct. Each command is only parsed into a `Compound` element once, and then those are reused for all grammars that need them. The merge process looks like:
* Generate a list of (references to) `Compound` elements (commands) which match the current context
* Wrap the list in an `Alternative` element
* Wrap that in a `Repetition` element
* Create the rule

Parsing is the biggest cost on the

[2020-05-10 15:30] LexiconCode commented on #240
There's one other feature that Caster implements during the merger and for all grammars is global spec complete / partial replacement. These have access to the entire grammar including extras / defaults. This is known as simplified transformers. This is a highly used feature in Caster.

Another feature that breathe implements is custom top level grammars which allows for greedy dictation.

There a

[2020-05-13 05:27] Danesprite opened #249 "Consolidate common Dragonfly engine code"
CC @daanzu

This would make changes to Dragonfly's engine code much easier and help with issues such as #196. To start with, I think all engines should be using a `GrammarWrapperBase` class.

[2020-05-20 04:46] #138 closed

[2020-05-21 02:21] thatch opened #252 "Missing files in sdist"
It appears that the manifest is missing at least one file necessary to build
from the sdist for version 0.23.2. You're in good company, about 5% of other
projects updated in the last year are also missing files.

[code]

[2020-05-21 07:22] #252 closed

[2020-05-22 05:18] #69 closed

[2020-05-22 23:24] cjbassi commented on #239
Is it possible to have an unbounded number of repetitions? Otherwise we are going to have to put a limit on the number of repetitions for `*` and `+`. If that's the case, it might be better to not implement this feature in dragonfly since it would be opinionated.

[2020-05-23 00:33] cjbassi opened #254 "API changes"
What's the policy on API changes? I've been having a bit of trouble implementing some features due to some issues with the dragonfly API. The two features I'm trying to implement are:

Run a callback when the engine is done setting up and ready to listen in the `do_recognition` method. For this, I think it would be good to split this function up and add a `prepare_recognition` method that is suppo

[2020-05-23 02:33] daanzu commented on #239
For engines that support it (I think Kaldi and natlink), the `optimize` parameter makes the number unbounded, and ignores the min and max.

[2020-05-25 16:21] cjbassi commented on #239
That didn't work for me unfortunately. It still checks the max which is one by default. Maybe we should add another argument to the repetition called unbounded, which makes it so that it doesn't check the max value.

[2020-05-25 17:45] droundy commented on #8
Is there a new issue for Wayland support specifically? X11 has issues with my high DPI monitor setup that make it close to unusable for me, so I'd love to see even limited Wayland support.

[2020-05-26 05:33] Danesprite commented on #8
Hi @droundy. I'll open a new issue for Wayland support.

[2020-05-26 06:23] Danesprite opened #255 "Wayland support"
CC @droundy, @TMiguelT

Wayland is an alternative to the X11 protocol used for desktop environments on Linux and other systems. It is intended to replace X11.

In my view, Wayland is not ready for those who depend on accessibility software like Dragonfly because it doesn't directly support the following:
* simulated keyboard/mouse input
* ability to inspect window attributes (e.g. window title, ex

[2020-05-26 18:08] droundy commented on #255
I came across [ydotool](https://github.com/ReimuNotMoe/ydotool) which seems to address some of the Wayland issues.

[2020-05-27 11:07] Danesprite commented on #255
Yes, ydotool looks good. The only problem is that evdev normally requires the process to run as root. Ydotool does have a daemon component that might be used to work around that problem. I'll see if I can get that working and report back.

[2020-05-29 09:05] Danesprite commented on #254
Hi @cjbassi,

Sorry for the late response.

Regarding feature one, adding a `prepare_recognition()` method/callback sounds like a good idea to me. As for feature two, I was unaware that Kaldi didn't work after calling `disconnect()` and, presumably, calling `connect()` again. Perhaps @daanzu could fix that? Maybe there should be another method for updating the engine configuration or for deallocat

[2020-05-29 20:50] droundy opened #257 "nicer mechanism to select device in kaldi"
I'd love to have an API for starting the kaldi engine that allows to select the device by its name.  Just adding a mechanism to obtain the portaudio device numbers and descriptions programmatically before starting up the engine would be awesome.  Then I could search through those text descriptions to find the USB microphone that I want to use.

[2020-05-30 03:12] daanzu commented on #254
I will take a look at the Kaldi backend `disconnect()`.

[2020-05-30 03:17] daanzu commented on #257
Good idea, I hadn't thought to add support for returning the list programmatically.

[2020-05-31 01:04] cjbassi commented on #254
If we are going to do this in a backwards compatible way, we probably want to keep `do_recognition` and also add a separate set of APIs that splits its functionality into 2 functions. From here, we could probably change `do_recognition` so that it just calls these two new functions.

Question: Is `disconnect()` supposed to deallocate the engine?

For the grammar loading, it sounds like I might not

[2020-05-31 03:07] daanzu commented on #254
@cjbassi How is the proposed `prepare_recognition` different from what Kaldi currently has? It is optional, but can be called prior to `do_recognition` to minimize the time before accepting recognition.

For `disconnect`, do you mean that calling it and then calling `connect` again doesn't work? I don't think `do_recognition` is supposed to work when not connected.

[2020-05-31 23:01] cjbassi commented on #254
Oh I must have missed `prepare_recognition`. That looks like exactly what I need, thanks!

Yes, I'm calling `disconnect`, `connect`, and then `do_recognition` but it doesn't seem to be working and it just immediately returns.

[2020-06-01 01:03] daanzu commented on #254
@cjbassi https://github.com/dictation-toolbox/dragonfly/blob/master/dragonfly/examples/kaldi_module_loader_plus.py should be a good example of how to do the basic stuff, including a message closely before start of recognition.

I will take a look at the disconnect issue.

[2020-06-05 22:58] droundy opened #259 "generate grammer documentation"
It would be lovely to be able to auto-generate documentation of the grammar.  It seems like at least in principle this should be possible, and would be really convenient, either when adopting (and learning) someone else's grammar, or when developing changes to the grammar.  I'm imagining something that generates markdown, html or latex.

[2020-06-07 08:36] Danesprite commented on #259
I agree it would be nice to have this. I am familiar with the [Sphinx documentation generator](https://www.sphinx-doc.org/en/master/), which can generate HTML, LaTeX and other formats. Dragonfly's documentation uses a Sphinx extension ([sphinx-argparse](https://github.com/alex-rudakov/sphinx-argparse)) to [document CLI commands](https://dragonfly2.readthedocs.io/en/latest/cli.html). It should be p

[2020-06-07 23:13] LexiconCode commented on #259
This would be an awesome feature to have. Generating documentation from grammars is not been implemented in caster. The challenges and so much generating docs it's more of extracting the information out of the grammar in a way that is useful.

As a side note in case dragonfly implements CCR in the future.  CCR adds a extra challenge of managing grammars. It's important to expose grammars before th

[2020-06-17 12:53] Danesprite commented on #259
Sorry for the late response!

Thanks for this very detailed post! The Caster command visualisation UI is very impressive. Given that you have already solved some issues you mentioned with this, it might be a good idea to see if I can get Sphinx building documentation from it somehow.

[2020-06-18 07:11] daanzu commented on #259
I think this makes a lot of sense. May be as simple as making it an optional argument to `ActionBase()`?

Regarding how to handle documenting helper functions, have you considered using their docstrings to describe what they are doing, and then displaying that?

[2020-06-19 20:02] LexiconCode commented on #259
That's an interesting thought! In terms of space not sure how that would fit on the GUI depending on the doc string. Perhaps the command could unfold with the doc string.

[2020-06-21 11:11] Danesprite commented on #255
I haven't been able to successfully test Ydotool on my machine. Aenea has a workable server implementation for use on Wayland that I know works properly: https://github.com/dictation-toolbox/aenea/tree/master/server/linux_wayland

I just want to say here that I cannot commit to working on this myself.

[2020-06-24 13:11] Danesprite commented on #142
@mrob95 Would you be okay with your `BoundCompound` and `BasicRule` classes posted above being added to Dragonfly to make it easier to construct grammars with elements?

[2020-06-24 14:37] mrob95 commented on #142
Of course! Would be a nice simplification in Breathe to be able to remove them. The code for binding extras was mostly taken from MappingRule so you might be able to reduce complexity there if it can all be done in the Compound.

[2020-06-26 06:30] Danesprite commented on #142
Great! I'll open a new pull request for adding them in the next release version. I will look into reducing the complexity of the binding extras code.

[2020-07-02 03:08] dwks commented on #257
FWIW, this works:
https://github.com/dwks/silvius/blob/master/stream/list-mics.py

[2020-07-09 17:17] LexiconCode opened #265 "Focus Window does not seem to function consistently"
[code]

[code]

[2020-07-09 18:07] tieTYT commented on #265
this is my issue that I am experiencing. Don't really know how to reproduce this as it happens inconsistently. I will say that I found something about this on the Internet here: https://stackoverflow.com/questions/14295337/win32gui-setactivewindow-error-the-specified-procedure-could-not-be-found

This is my second time installing dragonfly, and the first time I installed it (probably about 6 month

[2020-07-10 01:32] tieTYT commented on #265
I don't know if this is just a random fluke that means nothing, but I just said "switch to cygwin" and it printed out "Manage dictation sources". I can't see anyway those 2 things sound alike. I figured I might as well tell you because it might be a clue?
The only reason it might be relevant is because that's the command that often causes the window focus error

[2020-07-10 03:30] Danesprite commented on #265
This is happening because the [`Win32Window.set_foreground()`](https://github.com/dictation-toolbox/dragonfly/blob/master/dragonfly/windows/win32_window.py#L228) sometimes doesn't press the control key before calling the Windows `SetForegroundWindow()` function. This is done to satisfy the "the process received the last input event" condition for setting the foreground window ([listed here](https:

[2020-07-10 04:21] Danesprite commented on #265
This is now fixed on the master branch. Let me know if the method still fails for you. I hope to release my fix for this soon in dragonfly version 0.25.0.

[2020-07-10 04:29] tieTYT commented on #265
thank you for the quick turnaround!

[2020-07-10 05:01] LexiconCode commented on #265
Thank you so much Dane.

[2020-07-10 06:15] Danesprite commented on #265
No worries :-)

[2020-07-10 13:04] #142 closed

[2020-07-10 14:43] LexiconCode commented on #265
@tieTYT you can test with `pip install git+https://github.com/dictation-toolbox/dragonfly.git#egg=dragonfly2`

[2020-07-10 19:46] tieTYT commented on #265
okay I ran that command and restarted Dragon. I'll let you know if I run into any problems

[2020-07-10 19:49] LexiconCode commented on #265
I updated the command above it was missing parameter that was needed.

[2020-07-10 20:16] tieTYT commented on #265
after I ran this command, i had some interesting side effects. I have a few scripts in `C:\Natlink\Natlink\MacroSystem ` Some of them work, some of them don't. Perhaps this could be an indication of something else broken in this branch?

Here's a script that still works: https://gist.github.com/tieTYT/f87a8583b7c8dfeeaa50ed1efc501b87

Here's a script that doesn't work anymore: https://gist.github.

[2020-07-10 20:18] tieTYT commented on #265
okay I tried another script that's in caster that is only supposed to run when visual studio code is focused. Same effect: all commands are printed. I suspect this change made it so that scripts won't ever activate if their activation requires a certain window to be focused?

[2020-07-10 20:25] LexiconCode commented on #265
Can you give a breakdown step-by-step using an example of how to reproduce?

1. Step one
2. Step two

[2020-07-10 20:28] tieTYT commented on #265
1. Copy that script that doesn't work into your macro system directory.
1. Restart Dragon
1. Switch to Firefox
1. Try to use one of those commands like `new tab `

Expected behavior: Firefox creates a new tab

Actual behavior: Firefox doesn't do anything

[2020-07-10 21:53] LexiconCode commented on #265
I believe it's grabbing executable incorrectly from the forefront window. Grabs 'C:' which is the beginning of the absolute path of Firefox.exe.

[code]

[2020-07-10 21:56] tieTYT commented on #265
I'm not sure if you're pointing out the change dragonfly needs to make where the change I need to make, but this works fine in .24.

[2020-07-10 21:58] LexiconCode commented on #265
My comment is simply to confirm your issue and to bring a little bit of clarity for Dane. I would like to spend some time to see why this is actually causing an issue but helping out with the wedding tonight.

[2020-07-11 03:48] Danesprite commented on #265
Thanks for finding that @LexiconCode. This is happening because of PR #261. I will have that fixed soon.

[2020-07-11 16:07] droundy commented on #257
I wonder whether accepting a string argument `k` for the device (as an alternative to the integer argument) and then searching through the names would be acceptable it would be acceptable. I'm thinking of a `k in name[I]` sort of search.

[2020-07-12 07:25] Danesprite commented on #265
The issue with trimming absolute executable paths to "C:" or equivalent is now fixed on the master branch.

[2020-07-12 08:51] Danesprite commented on #242
I'm going to partially fix this by checking recognised words against a set of the grammar and list words. That should fix the problem for most cases.

Ideally, the parser should be rewritten, but doing so would be quite difficult and time-consuming. Repetition elements and CCR make this a difficult problem to solve efficiently.

[2020-07-12 11:45] Danesprite commented on #242
This will be mostly fixed in release version 0.25.0.

I have removed the `NatLink` label because this is a quirk or bug with Dragon. Ryan Hileman has kindly [confirmed this](https://gitter.im/dictation-toolbox/natlink?at=5ea1f429afa1f51d4e172f11) for us on Gitter.

[2020-07-12 14:02] daanzu commented on #257
@droundy Definitely a good idea. I will try to add it soon.

[2020-07-12 19:13] tieTYT commented on #265
do I use the same command to install it?

[2020-07-12 22:13] LexiconCode commented on #265
@tieTYT yes

[2020-07-13 03:10] tieTYT commented on #265
Very rarely, I will get this exception:

[code]

But overall, it's working correctly.

[2020-07-14 03:41] Danesprite commented on #265
That's good to hear :+1:. I'm not sure why the mimic command is failing. I have noticed that behaviour sometimes. It is probably just a quirk with Dragon.

[2020-07-14 22:58] LexiconCode opened #270 "Clarify `Playback` documentation"
When you give dictation with the proper noun like `Buffalo Bills` that's capitalized by DNS in free dictation not as a command it causes playback to fail.

In Caster we have a command called `again do`

It retrieves raw recognition history from `from dragonfly import RecognitionHistory`

- raw history
`[('hello', 'how', 'are', 'you', 'Buffalo Bills')]`

It does postprocessing to ensure that each w

[2020-07-15 13:46] Danesprite commented on #270
Thanks for reporting this. I'll look into it. What stands out to me is `Buffalo Bills` being one "word" in the recognition history and two words after processing. I don't know if that's related.

[2020-07-15 14:13] LexiconCode commented on #270
That's a good point about it being two words and that it might expect that. That should be easy enough for me to test and let you know

[2020-07-16 06:05] LexiconCode commented on #270
Well a couple of notes here

- Recursion error can be caused by the following. The command repeats itself 71 times before trace back is produced. Not directly related to the issue but interesting to note.
[code]
[code]

- Lowercase separate words
[code]

- Uppercase separate words
[code]
`ERROR:action.exec:Execution failed: Playback failed: No matching rule found for words ['Buffalo', 'Bills'].`

[2020-07-20 13:56] Danesprite commented on #265
I'm closing this now since it is fixed in version 0.25.0.

[2020-07-20 13:56] #265 closed

[2020-07-20 13:58] Danesprite commented on #11
@LexiconCode Is this still something we want to solve in Dragonfly?

[2020-07-20 14:37] LexiconCode commented on #11
I think this can be closed as we don't have the time to implement it. Perhaps in the future but for now people can run the command line from administrator to have the same result although it is a bit less secure.

[2020-07-20 14:49] Danesprite commented on #11
Okay then, sounds good to me. Another solution would be to [use AutoHotkey](https://lexikos.github.io/v2/docs/FAQ.htm#uac), which goes about this properly. Maybe something to add to the FAQ?

[2020-07-21 06:49] LexiconCode commented on #11
That might be an alternative.

[2020-07-21 07:14] Danesprite commented on #11
IMO it would be simpler to rely on AutoHotKey instead of reinventing the wheel. I wonder if we could serialise Dragonfly `SendInput` events somehow and send them via a AutoHotkey script run by `AutoHotkeyU32_UIA.exe`.

[2020-07-21 08:08] Danesprite commented on #11
I had forgotten just how difficult Microsoft makes this. I got `[Error 740] The requested operation requires elevation` when trying to run `AutoHotkeyA32_UIA.exe` as a subprocess. So what we would need to do is send the events to an elevated process through a socket first, then send them to the OS via AutoHotkey. This would be essentially what CasterUIAutomation_POC already does, just without the

[2020-07-21 08:23] LexiconCode commented on #11
Not sure if this helps but don't they have Python bindings for auto hotkey?

[2020-07-21 08:41] Danesprite commented on #11
I'm not sure. This is all complicated by the executable signing and manifest requirements.

[2020-07-21 14:10] Danesprite commented on #11
I wonder if we could have a dedicated AHK script running a local web server using [AHKhttp](https://github.com/zhamlin/AHKhttp) or something like it. I'll give this a try and report back. If it works, then we could have an option for sending input events like that.

[2020-07-22 07:42] Danesprite commented on #11
I can confirm that this will work perfectly. I'll put together an AutoHotkey script to be run with UI-access that takes keyboard and mouse events via HTTP requests and passes them to [`SendInput()`](https://www.autohotkey.com/docs/commands/DllCall.htm) via AutoHotkey's built-in [`DllCall()`](https://www.autohotkey.com/docs/commands/DllCall.htm) function.

Since the script will allow automated cont

[2020-07-22 08:52] #242 closed

[2020-07-22 12:53] Danesprite commented on #11
So this would definitely work, I'm just a little concerned about the security implications now. I don't feel comfortable writing security-related features like this. I think it would be much safer for users to write their own dedicated AHK scripts for interacting with administrative applications. This way the automated tasks performed in elevated mode are always strictly user-defined and **not** a

[2020-07-22 17:22] LexiconCode commented on #11
Yeah I can understand that. Thanks for looking into it!

[2020-07-23 22:21] kb100 commented on #239
Most regex languages support using {min,max} or {,max} notation for bounded repetitions, in the short term that fits the model already in place. As for dragonfly, unbounded wouldnt be hard to add to repetition. Alternatively, there is a natural bound on repetitions, the number number of recognized words (except in the trivial repetition of empty element). Thus we dont need to worry about infinite

[2020-07-27 02:13] #11 closed

[2020-07-27 04:23] Danesprite commented on #11
I've added a detailed FAQ on this: https://dragonfly2.readthedocs.io/en/latest/faq.html#why-aren-t-dragonfly-actions-working-with-windows-admin-applications

@LexiconCode Does it look okay to you?

[2020-07-27 06:15] LexiconCode commented on #11
Yep!

[2020-07-29 19:56] haughki opened #272 "docs: Related resources: remove dead link to Hawkeye Parker's repo -- add link to his grammars"
My dead fork and grammars. I think the grammars are worth adding to the list. I will fork and submit fix.

[2020-07-29 20:24] haughki commented on #272
PR: https://github.com/dictation-toolbox/dragonfly/pull/273

[2020-07-31 04:10] Danesprite commented on #272
Thanks again. Let me know if you find other issues like this :)

[2020-07-31 04:10] #272 closed

[2020-07-31 13:44] daanzu opened #274 "Can't use BasicRule directly, only as a derived class"
The following way of using `BasicRule` doesn't work, because the class variable `BasicRule.element` shadows the property `ElementBase.element`, which is accessed during compilation, but is left set to `None`.

`g.add_rule(BasicRule(element=Empty(name='empty')))`

[2020-08-02 08:10] Danesprite commented on #274
Thanks! I will fix this soon. My fault for not writing unit tests for this class!

[2020-08-02 12:11] daanzu commented on #274
No problem. (I did think to myself "I'm surprised Dane's unit tests didn't catch this". 😉) I couldn't decide which fix would be best, so I figured I'd leave it to you.

[2020-08-04 13:32] #274 closed

[2020-08-04 13:35] Danesprite commented on #274
This is all fixed now. I adapted the workaround already present for the `exported` property. Next time I'll write proper tests! 🤭

[2020-08-04 14:20] Danesprite commented on #270
Sorry for the late response. I don't understand why DNS is picky with capitals like this. I'm happy to update the documentation.

The recursion error is expected in the case where you recognise "buffalo bills" and then mimic it again. An exception caught and displayed by Natlink is certainly better than it looping forever. 😉

[2020-08-08 08:16] Danesprite commented on #257
I think this can be closed now that David has added a new `audio_input_device` argument taking device names and indices. It is available in dragonfly2 version 0.26.0 and documented in the [Engine Configuration](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html#engine-configuration) section.

[2020-08-08 08:16] #257 closed

[2020-08-11 15:09] droundy commented on #257
This works and looks good.  I have one additional (and related) feature request I'll file separately.

[2020-08-11 15:12] droundy opened #280 "more helpful error message when kaldi device does not match"
Right now we get the message (not too bad):
[code]
I'd love to see this instead print something akin to:
[code]
This would be darn convenient.  Even better would be to filter out the devices without input to shorten the list, but I can imagine that being a minor pain.

[2020-08-12 03:36] Danesprite commented on #280
This is a good idea. It shouldn't be difficult to add.

[2020-08-16 07:57] Danesprite commented on #270
I think these things should be documented in a new page for the Natlink engine back-end. The documentation for `Playback` and `Mimic` can then reference that page.

Some of the other engine back-ends also have quirky mimic behaviour, e.g. SAPI 5 sometimes fails to mimic commands for no discernible reason. I'll put together a new page for that engine as well.

[2020-08-21 03:09] starwarswii opened #282 "Repetition does not allow N to N+1 loops"
i think the Repetition type is kinda bugged. it's impossible to make a repetition that loops N to N+1 times
i think what's going on is that max is exclusive if it's one away from min, otherwise it's inclusive

for example, let's try to make a repetition that accepts 5 to 6 items, inclusive:

`Repetition(Literal("a"), 5, None)` gives `(a a a a a)`, 5 to 5

Repetition(Literal("a"), 5, 5)` gives `Ass

[2020-08-21 07:58] #282 closed

[2020-08-30 20:01] Timoses opened #286 "MacOS: Bad memory access -> Segmentation fault"
This repeatedly occurs using `Caster > Dragonfly > Kaldi` on MacOS.

[code]

[2020-08-31 02:02] Danesprite commented on #286
This seems like an issue with Kaldi Active Grammar. @daanzu Any ideas?

[2020-08-31 07:05] daanzu commented on #286
Hmm. Were there any error messages printed before hand? Try running with a logging level of `10` or even `5`.

[2020-08-31 18:37] Timoses commented on #286
I'm only able to use `-l DEBUG` (no integer levels usable): `python -m dragonfly load _*.py --engine kaldi  --no-recobs-messages -l DEBUG 2> stderr`.

It does seem to be related with reloading of rules with Caster. I did leave it running for quite a long time with microphone on and singing, saying nothing, noises etc without crash.
However, beginning to start editing the rules with Caster (which t

[2020-08-31 19:05] Timoses commented on #286
Got another one:

**stderr**:
[code]

**MacOS report**:
[code]

[2020-08-31 19:29] Timoses commented on #286
And another one which looks interesting on the last line:

**stderr**
[code]

**MacOS Crash Report**
[code]

[2020-09-01 19:07] Timoses commented on #286
Some more experience with this shows that it seems to exclusively occur when Caster reloads rules (which it dynamically does when a rule file has changed).

[2020-09-03 12:59] Danesprite opened #287 "Cannot press the Windows printscreen key via the Key action"
The `Key` action cannot currently press the Win32 printscreen key. This should work using either of the `printscreen` or `snapshot` as key names, but it doesn't do anything. This is because the `VK_SNAPSHOT` virtual key has no corresponding scancode.

[2020-09-03 14:36] #287 closed

[2020-09-04 05:43] daanzu commented on #286
Thanks for the info. I am investigating. Two things to try as a guess: try the engine parameters `lazy_compilation=False` and/or `invalidate_cache=True` to see if they stop the crashes.

[2020-09-04 12:52] #270 closed

[2020-09-04 14:25] Danesprite opened #289 "High-DPI awareness issues with Win32 monitor-related functionality"
CC @LexiconCode @wolfmanstout

There can be problems with Dragonfly's monitor-related functionality on Windows Vista and above if it is run from certain (usually older) applications whose [`DPI_AWARENESS_CONTEXT`](https://docs.microsoft.com/en-us/windows/win32/hidpi/dpi-awareness-context) value is `DPI_AWARENESS_CONTEXT_UNAWARE`. Microsoft's documentation on setting the DPI awareness for a process

[2020-09-04 17:22] wolfmanstout commented on #289
Thanks Dane! I have been meaning to follow up with you on this but just haven't had time.

I can understand if you don't always want to apply this change. One of the reasons I changed it by default is that the list of monitors is automatically loaded at import time, so I wanted to avoid any inconsistency.￼

[2020-09-05 05:31] daanzu commented on #289
I don't have much to add, other than to note that I have had the following at the top of my loader for the past many years. I can't remember how I decided on it. I only use a single monitor.

[code]

[2020-09-07 10:57] Timoses opened #291 "Lunix with Kaldi: "no good block received recently, so reconnecting audio""
I receive the following on Linux with Kaldi:
[code]

[code]
successfully plays back the recorded audio.

[code]

Using `get_engine('kaldi').print_mic_list()` as documented [here](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html) yields:
[code]

Voice recogintion does not seem to be working.

Please let me know if more details or input are required.

[2020-09-08 02:19] LexiconCode commented on #286
I can't think of anything special in caster that would contribute to this particular issue outside of the optimizations mentioned above.  Since we are dealing with reloading grammars. Here's the [code](https://github.com/dictation-toolbox/Caster/blob/f495599e417a8e62f5bafc4aa0b63375dd64b85a/castervoice/lib/ctrl/mgr/grammar_container/basic_grammar_container.py#L37) that disables and then unloads ru

[2020-09-08 14:57] daanzu commented on #291
@Timoses Hmm. Is your system possibly overloaded?

You could try the engine parameter `audio_self_threaded=False`.

Alternatively, if you are comfortable modifying the files in the python package, I can tell you how to disable that check to see if it otherwise works. The reconnect check shouldn't generally be needed; it was added to cover special cases, and I am not aware of it causing trouble its

[2020-09-08 15:25] Timoses commented on #291
Unlikely. Out of 16GB there is still 2GB free. CPU utilization is at 1.3 (nprocs = 4) and idle around 50-80%. Very little IO.

I did comment out this block: https://github.com/dictation-toolbox/dragonfly/blob/master/dragonfly/engines/backend_kaldi/audio.py#L252-L256

And it works with that modification.

Note: My setup is kind of special. I use NoMachine to connect to a Linux desktop remotely and

[2020-09-09 14:12] Timoses commented on #286
It did happen on Linux (Ubuntu 18) as well today after editing a rule file in the user directory.

[2020-09-09 17:12] Timoses commented on #286
I am currently experimenting a bit **on MacOS**.

It suffices to use the following to trigger reloads of the grammar:
[code]

The rule looks like this:
[code]

Usually, before reaching about a 100 reloads of the rule/grammar the segmentation fault occurs.

When I turn down the volume of the microphone **no** segmentation fault occurs (seemingly ever). I noticed that I can accelerate the segmentati

[2020-09-09 17:14] Timoses commented on #286
Oh and I did try all combinations of

as engine options which did not seem to matter.

[2020-09-10 04:26] daanzu commented on #286
@Timoses Thanks for the valuable info! I will try to reproduce.

[2020-09-10 04:34] daanzu commented on #291
I will add an option to control whether the reconnect logic is enabled. @Danesprite, do you have an opinion on whether the default should have it enabled or disabled? I am unsure. It shouldn't really be needed very often, and perhaps it is more likely to cause trouble than to solve it. Or, I could make the default dependent on the OS: the only two cases I am sure are using it (myself and @mrob95)

[2020-09-10 14:10] Danesprite commented on #291
Given that this issue hasn't come up before, I would say the option should keep it enabled by default. As for the option being dependent on the OS, `sounddevice` and Port Audio are supposed to work the same on all supported systems. I don't think we should deviate from that.

[2020-09-12 13:41] daanzu commented on #286
@Timoses Can you (or anyone else who is having this issue) try this out: https://github.com/daanzu/dragonfly/commit/a0a6dac698d94c4b7426f0e00d87e79238e5c507 . You can either install that branch of dragonfly, or just make the minor change manually in your directory. Please tell me if it fixes the crashes, and whether you see any of the warnings being printed. Thanks!

[2020-09-13 01:12] daanzu commented on #286
Oops, make that https://github.com/daanzu/dragonfly/commit/7e795df0f7a192245056dafe878fe63dc841160e

[2020-09-13 08:52] Timoses commented on #286
Before patching I assured the segmentation still occured with KAG 1.8.1 and DragonFly 0.27.0 .
-> It did

Afterwards, I did patch manually:
[code]

The symptoms appear the same as before, unfortunately.

I adjusted `grammar_reloading:reload_timer_seconds` to `0.1` in `<user_dir>/settings/settings.toml`.
I can now pretty much trigger the segmentation fault at will:
* Staying silent, nothing happens

[2020-09-14 03:14] daanzu commented on #286
Thanks for testing. I'll look at it some more, and probably have more questions or tests for you.

[2020-09-14 04:07] LexiconCode commented on #289
Can someone verify DNS/DPI that indeed does work at the top and engine loader?

It works fine when executing through Python interpreter 3.8 and 2.7. However I'm unsuccessful to have it load even with the simple file `_test.py` with nothing else and it.

[code]

[2020-09-14 07:56] Timoses commented on #286
Keep 'em coming ; )

[2020-09-14 15:48] wolfmanstout commented on #289
@Danesprite That sounds like a pretty clean fix to me.￼

[2020-09-14 22:36] LexiconCode commented on #289
I'm aware it can be only sat once. I was expecting to have to set it as described in wolfmanstout/gaze-ocr#1 which runs out of process. However I just switch to Dragon 15.6.

[2020-09-16 04:50] Danesprite commented on #289
Okay then. So there is no problem?

I just noticed something interesting on dpi and processes that create windows:

-- Microsoft's documentation on [Setting default awareness programmatically](https://docs.microsoft.com/en-us/windows/win32/hidpi/setting-the-default-dpi-awareness-for-a-process#setting-default-awareness-programmatically)

[2020-09-16 08:25] kendonB opened #293 "platform context helper functions?"
I'm starting to do some cross platforming for Caster. There are many places where the same action just has a slightly different key combination depending on the platform. Something like `WindowsContext`, `MacOSContext`, and `LinuxContext` functions would be really helpful. I've been trying to write these based on `FuncContext` and `sys.platform == "win32"`, `sys.platform == "darwin"` and `sys.plat

[2020-09-16 08:38] kendonB commented on #293
Ok funccontext was not it. This seems to work. Is this right?

[code]

[2020-09-16 09:02] Danesprite commented on #293
Hi @kendonB. It's good you're working on cross-platforming Caster. You can do platform contexts with `FuncContext` like this:

[code]

As for the slightly different key combinations, this has come up before in [this discussion](https://gitter.im/dictation-toolbox/Caster?at=5f16805515e5e72fb366ca45) in the Caster gitter channel involving @amatveie, @LexiconCode and myself. Implementing an extensibl

[2020-09-16 11:53] daanzu commented on #286
@Timoses Can you give this dev version a try: [kaldi_active_grammar-1.8.2.dev0-py2.py3-none-macosx_10_9_x86_64.whl.zip](https://github.com/dictation-toolbox/dragonfly/files/5231938/kaldi_active_grammar-1.8.2.dev0-py2.py3-none-macosx_10_9_x86_64.whl.zip)

[2020-09-17 13:46] Timoses commented on #286
@daanzu This gives me another error:

[code]

Stack:
[code]

[2020-09-17 14:33] daanzu commented on #286
Fantastic! That settles what is causing the crash. Now just to stop that from happening in the first place. (And perplexing why I can't make Windows crash that way.)

[2020-09-17 23:07] kendonB commented on #293
Those commands above will work fine - will close. Thanks!

[2020-09-17 23:07] #293 closed

[2020-09-20 00:04] LexiconCode commented on #226
Here's some work I've done for Linux.
- `get_clipboard_formats` uses xclip to grab the contents of the clipboard.
- `enum_files_from_clipboard` clipboard contents that begins with `file://`. Then generates a list by processing into unverified absolute file/folder paths.
- `get_clipboard_files` calls `enum_files_from_clipboard` based on available contents clipboard mime. Then validates file/folder

[2020-09-20 09:06] kendonB opened #296 "Add syntax for mouse click modifiers "ctrl-click" , "shift-click" etc"
We can already achieve modified mouse clicks using something like:
[code]
however, something like the following would be nice and concise and cleaner to implement in Caster. Thanks for considering!
[code]

[2020-09-20 13:03] Danesprite commented on #296
Sounds like a good idea to me. I don't think it would be too tricky to add this.

[2020-09-20 13:31] Danesprite commented on #226
Neat! What desktop environment did you test with on Linux? Unfortunately, copied files/folders aren't showing up for me on Xfce. This is because the default file manager (Thunar) doesn't prefix copied files with `"file://"`. I wonder if there is some sort of X11 standard for clipboard formats.

[2020-09-20 14:09] #280 closed

[2020-09-20 18:09] LexiconCode commented on #226
Oh that's too bad. My Ubuntu/Pop_os windows manager gnome. How does Thunar represent files/folders in the clipboard and what does get_clipboard_formats return? If it's absolute file/folder we can simply blindly check if path is valid. There are standard mime type but as far as I can tell there's no standard files/folder.

[2020-09-21 01:11] LexiconCode commented on #289
It might mean the manifest is different between older versions of DNS/DPI and DPI 15.6. My conclusion is it still needs to be abstracted as it's needed for For at least some versions of DNS and for other backend that don't inherit High-DPI awareness.

That's an interesting point and what are its implications? That seems to suggest that once a process is started one cannot set dpi awareness? That m

[2020-09-21 14:52] daanzu commented on #289
I think dragonfly should probably have a simple method to call to set the DPI Awareness, which could be called in the example loaders and the command line loader when run on Windows.

[2020-09-22 04:36] Danesprite commented on #289
@LexiconCode Yep, maybe the manifest is different between Dragon versions.

The implication is that one cannot set DPI awareness after the process creates a window, presumably once [`CreateWindow()`](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-createwindowa) is called (what they mean by this is not clear).

@daanzu Yes, this is simpler. It doesn't really need to be automa

[2020-09-22 08:34] Danesprite commented on #182
So this elusive Heisenbug is apparently still an issue. It was reported as recently as last month (August) in the Caster Gitter: https://gitter.im/dictation-toolbox/Caster?at=5f3fd61e48237809373379a8

Given that this bug only started occurring in December after the Win32 keyboard changes introduced in release versions 0.19.0 and 0.19.1, I reckon there must be some connection.

[2020-09-22 14:37] daanzu commented on #182
I can believe that, but just reverting those changes alone didn't fix it for me back when I could produce the problem (at least as I recall -- can't retest).

[2020-09-22 19:54] LexiconCode commented on #182
If you guys can come up with reasonable standalone test case that could be distributed to Windows kaldi end-users I could facilitate finding individuals. Perhaps from there we can coordinate efforts from testing to even a 1st look into their system.

[2020-09-27 09:53] kendonB opened #301 "ContextAction runs both the default and a context if the default action switches into that context"
`example.py`
[code]
Then run `python example.py`

[2020-09-27 09:54] kendonB commented on #301
This was on Ubuntu 20.04 with the latest pip dragonfly

[2020-09-27 13:35] Danesprite commented on #301
Thanks for opening this issue. This is not really a bug with `ContextAction`, but with your `default` argument. I'm guessing this is what you wanted to do:

[code]

So, `bring_and_pause()` had already run before your `ContextAction` had been initialised. You could also do something like this instead, with the same `ContextAction` part:

[code]

This should be much clearer in any case. I will add s

[2020-09-27 19:48] kendonB commented on #301
awesome! thanks so much

[2020-09-27 19:48] #301 closed

[2020-09-27 19:49] kendonB commented on #301
Agree that a useful error message would be best for this case.

[2020-09-29 08:29] Danesprite commented on #226
Yes, Thunar represents copied files and folders as simple absolute paths. I have got this working properly by changing your `get_clipboard_formats()` and `enum_files_from_clipboard()` functions:

[code]

`get_clipboard_formats()` with my changes returns the following:

[code]

Sorry about the late reply BTW.

[2020-09-29 09:00] Danesprite commented on #301
No worries. I will add some type checking code soon and release the changes in the next version.

[2020-09-29 09:31] LexiconCode commented on #226
No problem, thanks!

@kendonB you may be interested in this.

[2020-09-29 13:42] Danesprite commented on #226
So is the idea to add a new Dragonfly `Clipboard` class implementation using `xsel` for X11 and adjust the Windows implementation?

[2020-09-30 11:17] Danesprite commented on #182
Thanks @LexiconCode. Neither @daanzu nor myself really know what is going on here. I will try to reproduce the bug again soon.

[2020-09-30 12:47] daanzu commented on #182
@LexiconCode If you have someone who can reproduce it, I do have a relatively simple idea to try that I didn't get a chance to try during the brief time I could reproduce it.

[2020-10-01 17:48] Timoses commented on #286
In response to https://github.com/dictation-toolbox/dragonfly/pull/304 :

I now get:
[code]

Used branch dragonfly2 `daanzu:kaldi-develop`, wheel `kaldi-active-grammar-1.8.2.dev0` (which you posted above) and https://github.com/daanzu/kaldi-active-grammar/releases/download/v1.8.0/kaldi_model_daanzu_20200905_1ep-biglm.zip .

[2020-10-02 14:23] LexiconCode commented on #289
Testing DPI in-process. Legion gives a good visual representation of SetProcessDpiAwareness issues.

Interestingly enough this is the result setting SetProcessDpiAwareness at the top of `_caster.py`.

[code]

![image](https://user-images.githubusercontent.com/24551569/94931748-bd6eff00-048d-11eb-9766-8bad4763efa9.png)

Versus calling it in Legion main where it was originally launched through Popen

[2020-10-02 14:58] daanzu commented on #286
@Timoses Thanks, I will test a bit more.

[2020-10-03 03:35] daanzu commented on #289
@LexiconCode Curious. Is that code snippet in `_caster.py` executed before or after the first dragonfly import (including by other files)?

[2020-10-03 04:54] LexiconCode commented on #289
Yes the snippet in `_caster.py has been test at the very top of the file even before dragonfly is imported. No other files are loaded alongside _caster.py.

[2020-10-07 06:50] daanzu commented on #286
@Timoses I'm still having trouble reproducing this error. Can you re-run your previous test, but with all logging set to DEBUG, and upload the result?

[2020-10-07 14:53] Timoses commented on #286
@daanzu : Really sorry, the comment https://github.com/dictation-toolbox/dragonfly/issues/286#issuecomment-702296488 was using a wrong caster branch.

With the following

the segmentation fault actually does not arise any longer.
I tested this both with
* original caster reload implementation
* my own reload implementation (which also yielded the segmentation fault before)

So this issue appears r

[2020-10-09 06:15] Danesprite commented on #296
I'm sorry, but I'm going to have to backtrack on this. I would like to keep the mouse and keyboard input logic separate. A simple enough solution for this problem is to compose actions together using functions:

[code]

[2020-10-09 06:16] #296 closed

[2020-10-09 07:51] Danesprite commented on #289
I have been trying to write the class method I mentioned, but I just cannot wrap my head around Microsoft's different APIs for this. Why they needed so many different ways of setting DPI awareness is beyond me. All I'm going to do for this issue is add an FAQ documenting this problem with some code snippets to include before importing dragonfly.

[2020-10-09 12:56] Danesprite commented on #289
High-DPI awareness is now mentioned in the FAQ [here](https://dragonfly2.readthedocs.io/en/latest/faq.html#why-isn-t-dragonfly-code-aware-of-dpi-scaling-settings-on-windows). I am open to a PR with code changes if you guys think this is insufficient.

[2020-10-09 13:30] LexiconCode commented on #289
My test above suggests that it may not be enough for in process DNS with the code at the top of the first loaded grammar before dragonfly.

[2020-10-10 05:15] LexiconCode commented on #226
Yes that could work that way if you prefer.

[2020-10-10 11:42] Danesprite commented on #226
Okay then. I can test with Mac OS, but I am not familiar enough with Apple's APIs to implement this. Do you want me to write an `X11Clipboard` class for `xsel` using your code? Not sure when I will get to it.

[2020-10-10 11:55] LexiconCode commented on #226
Yes that would be nice but I considerate it a low priority so take your time.

[2020-10-10 12:02] Danesprite commented on #289
Yes. I don't know why it is any different in the first instance at the top of `_caster.py`. If you are able to reproduce this consistently, can I ask what values are returned by `SetProcessDpiAwareness(2)` each time? Sorry I didn't ask this sooner.

[2020-10-10 12:14] Danesprite commented on #226
Okay then :+1:

[2020-10-10 12:14] LexiconCode commented on #289
[code]
Of the printed value `-2147024891`. Which means it did not successfully set SetProcessDpiAwareness.

[2020-10-10 12:38] LexiconCode commented on #289
Something weird is going on I need more time to test. Either way the FAQ is a good idea.

[2020-10-10 12:46] Danesprite commented on #289
`-2147024891` is `0x80070005` unsigned, the value for `E_ACCESSDENIED`. So, the DPI awareness was already set for the process. I'm not sure if sub-processes inherit awareness.

I'm starting to think we should just use @wolfmanstout's original patch, adjusted to catch errors if the `SetProcessDpiAwareness()` function doesn't exist. I don't think there should be any downside to that.

[2020-10-10 12:55] LexiconCode commented on #289
That might be the way to go as the only thing that's reliable for in/out of process with anything launch through a subprocess.

[2020-10-12 12:26] Danesprite opened #306 "German numbers are required to be spoken as separate words"
When using Dragonfly `IntegerRef` "extras" with the engine language set to German, numbers can't be spoken naturally as whole words. Instead, they must be spoken separately with short pauses. For example, one would have to say "ein und dreissig" instead of "einunddreissig" to match 31.

It should be possible to change Dragonfly's German number implementation ([number.py](https://github.com/dictati

[2020-10-13 12:05] #289 closed

[2020-10-17 05:32] daanzu commented on #286
The various errors are all caused by the same difficulty in handling reloading during utterances, so collecting them all in this issue makes sense. I'll look into the new error.

[2020-10-17 12:05] LexiconCode commented on #286
Is there an explanation why this is happening on all OSs versus Mac?

[2020-10-17 12:19] daanzu commented on #286
@LexiconCode Not that I've figured out. I assume it's something to do with Python threading or file system handling on MacOS.

@Timoses If you have a simple script to reproduce the issue, it may be helpful.

[2020-10-18 07:48] wenqiangwang opened #307 "Number two cannot be recognized with Integer/ShortIntegerRef"
Don't know it is a Dragonfly issue or Kaldi engine issue, but '2' cannot be recognized with ether Integer or IntegerRef or ShortIntegerRef.

Here is my rule to repro this. Every single digit except for 2 can be recognized.

            mapping={
                "number <big_number> over": Function(lambda big_number: Text(str(big_number)).execute())
            },
            extras=[Integer(name="

[2020-10-18 10:28] Timoses commented on #286
This is how I can reproduce the error(s):

In caster directory
[code]

Run the "changer"
[code]

Run caster
[code]

I adjusted `sed` command (on MacOS usually have to write `sed -i '' 's/...'`.

Saying:
* "Bring me caster documentation": Does not trigger the error
* "arch" -> error

[2020-10-19 11:46] Danesprite commented on #84
I am assuming this was an issue with Dragon specifically. Please correct me if I'm wrong @lexxish.

[2020-10-19 12:00] Danesprite commented on #307
Hi @wenqiangwang,

Thanks for reporting this issue. I was unaware this was a problem using Kaldi. The two extra alternatives for recognising the number two were added in response to #84, where Dragon could misrecognise "two" as "too" or "to". I'll look into adjusting this so it's only done for Dragon. IIRC the test suite for the SAPI5/WSR engine back-end fails sometimes because of these alternativ

[2020-10-19 12:10] daanzu commented on #307
I will test some when I get a chance, but I am surprised. I think I am using that in my own grammars without any problems, and similar constructions elsewhere.

[2020-10-19 12:16] daanzu commented on #307
@wenqiangwang Do you mean that when you speak "2", other numbers are recognized instead, or that some kind of error is raised?

[2020-10-19 14:18] lexxish commented on #84
I don't know if it was specific to dragon naturally speaking but I was using dragon naturally speaking when I saw this issue

[2020-10-19 20:28] wenqiangwang commented on #307
[loader.zip](https://github.com/dictation-toolbox/dragonfly/files/5404486/loader.zip)

@daanzu @Danesprite What I mean is if I say "One" then "1" got recognized, same with 3 to 9. But when I say "Two", no thing happened. It seems like that the rule is not matched at all. But I am sure my accent with "Two" does not quite matter because if I say "Pure Two", where "pure <dictation>" is my rule, it pe

[2020-10-20 03:18] Danesprite commented on #84
Okay, thanks. I'd say it's a safe assumption then.

[2020-10-22 05:53] wenqiangwang commented on #307
@daanzu I found another case to repro. I think it could be the same issue. I tried to have a list of alternative words for dictation, but found that 'read' cannot be recognized. I did a quick binary search and found that as long as 'read' and 'red' coexist, they both cannot be recognized. But if only one of them exists, everything is fine. Following is a repro for that. Please let me what I can he

[2020-10-22 06:05] wenqiangwang commented on #307
@daanzu @Danesprite  I think I found a clue. I have set the following config to 0.1 in my loader file. With 0.1, (read | red) will fail to recognized. But if I set it to 0.5, then (read | red) work, but (two | too | to) still not work. Setting it to 1.0 makes (two | too | to) work.

expected_error_rate_threshold=0.1,  # Estimated error rate above which the recognition is ignored

It seems to me it

[2020-10-22 06:35] wenqiangwang commented on #307
Here is some verbose logs. Not sure, but it seem when there are three words (e.g. two|too|to) with similar sound, the eer is 2/3 and when there are two words (e.g. read|red), then the error is 1/2.

Level 15:engine:End of phrase: eer=0.67 conf=nan [BAD], rule KaldiRule(5, keys::repeat_keys), 'number two'
Level 15:engine:End of phrase: eer=0.50 conf=nan [BAD], rule KaldiRule(4, format::FormatRule),

[2020-10-23 16:32] LexiconCode opened #309 "Issues with restarting Kaldi `subprocess.Popen` and/or `disconnect()`."
Test Rule without Caster. Test with `subprocess.Popen` and without just "disconnect()".

[code]

However there seems to be issues calling Popen on Linux after disconnect.

This problem is semi-intermittent with subprocess.Popen.
[code]

semi-intermittent `Stream is stopped [PaErrorCode -9983]` with `subprocess.Popen` and without.

[code]

Sometimes initializes twice with `subprocess.Popen` and (wi

[2020-10-24 03:18] daanzu commented on #307
@wenqiangwang Thanks for the detailed and very helpful info! With that, I think I know now the problem and what is causing it. I'll try to think of a solution that still allows for the use of expected_error_rate_threshold.

[2020-10-24 11:27] Timoses opened #310 "Remote / Client Actions"
I am trying to figure out how to send actions to a client over the network. The motivation for this is the idea to support a [client-server architecture in caster](https://github.com/Timoses/Caster/issues/14).

I would think that both server and client use the Dragonfly library/framework.

I see two issues involved in this endeavor:
1. Getting between Dragonfly's recognition and action workflow,
2

[2020-10-25 00:25] wenqiangwang commented on #307
@daanzu That's will be great, since setting a low expected_error_rate_threshold seems generates less errors. Thanks for looking into this!

[2020-10-25 22:35] LexiconCode commented on #289
Fortunately was that actually looks promising to calculate dpi per monitor
https://stackoverflow.com/questions/50253948/query-windows-10-8-monitor-scaling-from-python-script

[code]

[2020-10-26 20:35] LexiconCode commented on #310
It would need to forward more than just actions though for instance monitor and so on. This concept is embodied in https://github.com/dictation-toolbox/aenea However it is very brittle and difficult to set up and even breaks randomly. So I think in concept it's useful for reference but definitely would be building from the ground up.

[2020-10-27 04:52] Danesprite commented on #289
@LexiconCode Thanks!

[2020-10-31 14:09] Timoses commented on #310
Haven't had time to dig too much into Aenea. I'd like to spend a bit more time on looking at it.
On first sight however it seems to follow the strategy to provide proxy classes which must be used, effectively being similar to the strategy outlined above (Utilizing Actions over the network).

I have had another idea: What if we do not proxy actions but only
1. send speech from a client to a server,

[2020-11-09 23:17] MarkRx opened #311 "Dictating the word "point" removes spaces before and after the word"
**Describe the bug**
When dictating the word "point" using Caster spaces are removed before and after it. The Dragon dictation popup shows the correct words. When using Dragon in dictation it works correctly.

It's because the word "point" is treated as special at [dictation_format.py 412](https://github.com/dictation-toolbox/dragonfly/blame/master/dragonfly/engines/backend_natlink/dictation_forma

[2020-11-09 23:29] MarkRx commented on #311
While I don't know the context it seems to me that [dictation_format.py 412](https://github.com/dictation-toolbox/dragonfly/blame/master/dragonfly/engines/backend_natlink/dictation_format.py#L412) should be removed. The color of the dragonfly library should be responsible for special formatting - why does dragonfly hard code special words?

[2020-11-09 23:47] LexiconCode commented on #311
The say command simply passes through straight from the engine the formatting. Therefore it is strange to me is there's a different behavior between normal dictation with vanilla DNS/DPI and the dragonfly dictation element which the `say` command utilizes.

While I could attempt to answer that I believe @Danesprite could do a much better job with a concise answer.

[2020-11-15 07:46] Danesprite commented on #311
Thanks for reporting this @MarxRx. The reason why "point" is formatted like this is because the word can also be recognised as ".\point\point". This is used for saying numbers. For example, if you say "one point two three four", Dragon will recognise that as "one\number .\point\point two three four". The default behaviour will be to type 1.234.

Clearly, in this case it makes sense to remove the s

[2020-11-15 07:58] Danesprite commented on #311
This bug was introduced by PR #111.

[2020-11-15 12:43] #311 closed

[2020-11-15 13:10] Danesprite commented on #311
@MarkRx This is now fixed in version 0.28.1. You can upgrade to that version by running the following command:

[code]

[2020-12-23 12:19] daanzu commented on #291
This has been added as the engine parameter `audio_auto_reconnect=False`.

[2020-12-23 12:19] #291 closed

[2020-12-27 22:04] maricn commented on #255
`ydotool` is problematic with typing (unicode) characters that are not found on US keyboard https://github.com/ReimuNotMoe/ydotool/issues/9 (or more precisely in https://github.com/torvalds/linux/blob/master/include/uapi/linux/input-event-codes.h)

I personally use https://gitlab.com/interception/linux/tools/ which are also based on creating virtual `libudev` devices to simulate input devices.

Ha

[2020-12-28 07:17] Danesprite commented on #255
Hello @maricn,

Thanks for mentioning these things. The Linux interception tools do look promising. I will try to test them soon. It would be nice if they were easily installable on Debian-based systems.

[2020-12-31 14:00] Danesprite commented on #286
Closed by #304.