[2020-12-31 14:00] #286 closed

[2021-02-04 03:40] LexiconCode commented on #255
Things that look promising [wlrctl](https://git.sr.ht/~brocellous/wlrctl) / [wlroots](https://github.com/swaywm/wlroots)/[wlr-protocols](https://github.com/swaywm/wlr-protocols)

the foreign-toplevel-manager protocol addresses that to an extent. It's used for taskbars. see wlr-protocols

you can also use wlrctl for that.

So my thought is if these can provide basic functionality. Whereas composito

[2021-02-05 11:55] tom-james-watson commented on #255
Note - wlrctl for simulated keyboard only supports ascii.

[2021-02-05 18:15] LexiconCode commented on #255
I think there also be some limitations with window tile managers which don't have the concept of minimize and maximize as such for example `sway`.

Underneath it although I don't think there's a way at getting at what we need without root access. Compositors are unlikely to provide privileged access to an unprivileged process. So possibly we need to have some sort of daemon process that has elevat

[2021-02-06 13:17] Danesprite commented on #306
I have (finally) been making some progress on this issue. I should have a pull request open in the next day or so. It was difficult to come up with a general and efficient solution.

[2021-02-13 07:58] #306 closed

[2021-02-25 10:32] codebold opened #323 "Linux keyboard (pynput)"
Can anyone explain to me why libxdo or xdotool is used for Linux. xdotool always spawns a new process, which is pretty bad for action execution performance. I already started to code some evdev/uinput adapter, but found later that the pynput keyboard (currently used for mac only) works pretty good for Linux as well. So, are there any reasons why xdo is configured as Linux keyboard in the initializ

[2021-02-27 11:59] Danesprite commented on #323
Hello @codebold,

I can explain this. Xdotool is used on Linux/X11 because our original pynput keyboard implementation was simulating keys on X11 in such a way that global keyboard shortcuts weren't being triggered as expected. See issue #79. The keyboard shortcut in that issue was Ctrl+Alt+T for opening a terminal window.

I have just retried the old pynput keyboard implementation for X11 using p

[2021-02-28 16:05] codebold commented on #323
First of all, thanks for the clarification. I did not run into this problem before, but i also did not finish setting everything up. Now i can confirm issue #79, as double modifiers (or at least 'ca-*') are not executed correctly.

For me, it makes a huge performance difference. I noticed from the debug console, that the recognition finishes early, whereas the key strokes are lagging. Maybe this i

[2021-02-28 16:05] #323 closed

[2021-03-09 06:27] drmfinlay opened #327 "Engine hook for invalidating recognitions"
The ability to invalidate the current recognition before it is processed would be useful in certain scenarios. For instance, this could be used to pretend the recognition failed if the window handle changed between speech start ([`on_begin()`](https://dragonfly2.readthedocs.io/en/latest/recobs.html#dragonfly.grammar.recobs.RecognitionObserver.on_begin)) and speech end (just before [`on_recognition

[2021-03-10 02:29] daanzu commented on #327
That does sound like it could be handy. Actually, I already implemented something similar to that in the county backend: [`get_engine().ignore_current_phrase()`](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html#dragonfly.engines.backend_kaldi.engine.KaldiEngine.ignore_current_phrase). Adding support for this proposal would not be hard. And as you can probably tell from my API decision

[2021-03-23 11:21] Danesprite commented on #327
Ah, nice! I had forgotten about that method. The Sphinx engine has something similar: [`get_engine().cancel_recognition()`](https://dragonfly2.readthedocs.io/en/latest/sphinx_engine.html#dragonfly.engines.backend_sphinx.engine.SphinxEngine.cancel_recognition). I believe that Sphinx method wouldn't work with `mimic()`. Good to know this wouldn't be too difficult for Kaldi or Sphinx.

Yes, hooks, pr

[2021-03-27 01:01] daanzu commented on #327
Definitely this proposed approach is more flexible, and I am in favor of implementing it. However it may be nice to still have the simpler method available as well, so the user doesn't have to track the state of recognition through recognition observers if they don't otherwise need to.

[2021-03-27 04:27] Danesprite commented on #327
Agreed, having both sounds good to me. With that in mind, what do you think the name of the simpler method should be?

[2021-03-27 05:56] daanzu commented on #327
Sounds good. I'm not sure what name is best for the simple method: `ignore_current_phrase` made sense to me at the time, but I'm not entirely happy with it. I was trying to get across that it doesn't actually cancel or change anything in all of the processing (it doesn't start a new phrase for instance), but only ignores the eventual result with regard to actions.

[2021-04-11 06:24] Danesprite commented on #327
Hmm okay then. I think `invalidate_current_phrase()` might be better. It seems more consistent to *invalidate* the recognition and notify observers of that via `on_failure()`, rather than just doing no processing.

Thinking about it, this inconsistency is also present with the Sphinx engine training mode. That should probably be removed altogether. There are better ways to implement it anyway.

So

[2021-04-14 19:38] Treshank opened #330 "get_current_engine() says Sapi5InProcEngine() even tho I have loaded Kaldi"
I'm not sure if this is an issue or I'm making a mistake somewhere, but every time I seem to import Grammar in a file and create functions to load them in the `main.py`, the engine changes Kaldi to sapi5 and I also get this error that Natlink requires 32bit python. Then no speech is detected at all. However if I create, add and load the grammars directly in `main.py` it works.

main.py is the same

[2021-04-15 06:22] daanzu commented on #330
I haven't tested this myself to verify it, but I think your problem may be that you are importing and building the grammars before you have initially called `get_engine`. What if you move the import line to be after that? By the way, you don't actually need to load and unload your grammars for the wake/sleep: that grammar is specially marked as exclusive, so it should automatically effectively dis

[2021-04-15 09:17] Treshank commented on #330
Seems to have solved the problem. I shall test it a little more and close the issue

[2021-04-15 09:26] Treshank commented on #330
Thanks @daanzu Solved the problem

[2021-04-15 09:26] #330 closed

[2021-04-15 14:23] Danesprite commented on #330
Hmm. I realise this has been solved, but perhaps the `get_engine()` function should be adjusted. I think the Kaldi engine should be preferred over Sphinx and SAPI 5, if it is available.

@daanzu What do you think?

[2021-04-15 14:52] daanzu commented on #330
@Danesprite I think that makes sense and would be a good change. Also, I wonder if there should be a conspicuous warning message or something when this happens, where get_engine is called automatically because a grammar is loaded or whatever? This has definitely occurred other times, and been a bit confusing.

[2021-04-16 13:22] Danesprite commented on #330
Okay then, I'll open a PR for it. An info message also sounds like a good idea to me. I'll change `get_engine()` to log a message when an SR engine is decided on and returned by the function. The message should only appear once when the engine is initialised.

[2021-04-28 15:22] Treshank opened #335 "Support for Fn key."
I can't seem to be able to find documentation on the 'Fn' key. Is there support for it or any workarounds?

[2021-04-29 11:42] Danesprite commented on #335
The <kbd>Fn</kbd> key does not typically send events to the operating system when you press it. Rather, it modifies the key event(s) sent when you press other keys while holding it. Notice that [Microsoft's list of Virtual-Key Codes for Windows](https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes) does not include this key.

Anyhow, what is your use case? It is possible to us

[2021-04-29 12:11] Treshank commented on #335
Alot of keyboards now come with shortcuts mapped to it. So I was wondering if I could also map Fn key shortcuts.

[2021-04-29 12:36] Danesprite commented on #335
Yes, you should be able to do that. Which ones did you want to map?

[2021-04-29 14:27] Treshank commented on #335
The Fn and some function key (f1-f12), Fn+Del, Fn+End, Fn+(1,2 3)
many are there

[2021-04-30 07:14] Danesprite commented on #335
All right. Just so we are on the same page, you want to have voice commands that simulate these key combinations? E.g. you speak "volume up" and the appropriate `Fn + <key>` combo is pressed. Assuming there is a volume up combo.

[2021-04-30 07:43] Treshank commented on #335
Not volume up specifically, cus it's already there, but yeah something like that

[2021-04-30 12:00] Danesprite commented on #335
Ah, well if you want to map Windows keys not defined in Dragonfly, you could do something like this:

[code]

I could add some of these in the next version if you like.

[2021-05-01 07:54] Danesprite commented on #226
I think this issue should be closed once the next version is released. X11 is done now and it should be fairly trivial to further expose clipboard formats in the future, if necessary. It is also much easier to implement `Clipboard` classes for other interfaces or platforms, e.g. for Wayland.

@LexiconCode Thanks very much for your above initial code. It was instrumental in getting the new classes

[2021-05-02 05:25] LexiconCode commented on #226
Sounds reasonable!

[2021-05-04 08:39] bijanbina opened #337 "Python 3 support for Dragonfly + NatLink"
First of all thanks for all help of the community, dragonfly is one of the best open-source projects I've seen.

I'm trying to use dragonfly with DNS but I've been lost. In the [Installation](https://dragonfly2.readthedocs.io/en/latest/installation.html) section in the document, it has been mentioned to install

Does this support python3? I think the doc is a bit unclear about that. Also, I have s

[2021-05-04 13:29] #226 closed

[2021-05-04 15:07] LexiconCode commented on #337
This only really affects DNS/DPI as they are required to use Python 32-bit 2.7.x due to its dependence on Natlink. Natlink is working towards Python 3 support. Dragonfly supports Python 3 64 bit in all other engines.

Microsoft has removed the following Microsoft Compilers for Python 2.7 as it is no longer supported. It is no longer available to download officially from Microsoft  `regex cannot co

[2021-05-05 08:12] Danesprite commented on #337
Hi @bijanbina,

I'm glad you have been helped out by the community around Dragonfly and similar projects. We do our best, however I think it is an exaggeration to say it is one of the best open-source projects out there.

As LexiconCode said, Python 2.7 is only required for using Dragonfly with DNS. I can say that the experimental Natlink support for Python 3 seems to work well with Dragonfly. You

[2021-05-05 21:48] wolfmanstout opened #338 "Error in natlink engine.py: AttributeError: 'DictListRef' object has no attribute 'list_'"
I'm not sure what triggered this, but I saw this in my Dragonfly log:

[code]

Looks like this originates from the code in this 10-month-old commit from @Danesprite:
https://github.com/dictation-toolbox/dragonfly/commit/0118da3a2a36fd62555d6a3385bb0b19025e238d

I think it might just need an additional case for DictListRef? I was tempted to make the change myself but I don't really understand this

[2021-05-07 08:36] bijanbina commented on #337
@LexiconCode Thanks for your help

Look like wxPython needed to be installed too. Thanks to your tip found the package [here](https://www.lfd.uci.edu/~gohlke/pythonlibs/) and installed it with

`pip install https://download.lfd.uci.edu/pythonlibs/w4tscw6k/cp27/wxPython-3.0.2.0-cp27-none-win32.whl`

Unfortunately, it didn't help me get past of the following error when executing `start_configurenatl

[2021-05-07 13:01] Danesprite commented on #337
@bijanbina Maybe try the `wxPython3.0-win32-3.0.2.0-py27.exe` file available [here](https://sourceforge.net/projects/wxpython/files/wxPython/3.0.2.0/).

[2021-05-07 15:56] LexiconCode commented on #337
@bijanbina connect with me over Gitter and I'm willing to help you out through some remote support using [team viewer quick support](https://www.teamviewer.com/en-us/info/quicksupport/)

[2021-05-08 13:48] Danesprite commented on #338
Ah, thanks for reporting this. This is very simple to fix; `element.list_.` should be `element.list.` instead.

This code was added as a workaround for when DNS doesn't report a difference between command and dictation words. Dragonfly requires distinct rule IDs to successfully process commands where the special `<dictation>` rule is used. This happens more with recent DNS versions, I think. The r

[2021-05-09 08:36] Danesprite commented on #338
I'll release the fix for this shortly in version 0.31.1.

[2021-05-09 08:36] #338 closed

[2021-05-09 17:46] bijanbina commented on #337
Cheers!
Finally able to run Natlink. @Danesprite , Thanks to your help now the `wxPython ` error is gone.
@LexiconCode, Thanks for your kind support. So for the time being Natlink only supports python2.
For any other user, as LexiconCode said [here](https://github.com/dictation-toolbox/natlink/issues/47#issuecomment-834353900), python3 version is unstable.

[2021-05-12 12:24] Danesprite commented on #337
Glad we could help!

Stable Python 3 support for Natlink is getting there. It is a difficult process, unfortunately. I'll give this issue a more appropriate name and leave it open for now.

[2021-05-12 18:26] LexiconCode commented on #7
This looks like a useful commitment of the project implementing DPI awareness https://github.com/yinkaisheng/Python-UIAutomation-for-Windows/commit/2e7ced934fb953a6deed21e682a4dce612ee8e2f

[2021-05-18 03:23] LexiconCode commented on #337
Unfortunately the direct links to the regex package above expire. For an end-user not too big of an issue but it does add extra steps. The following:

- Due to Python 2.7 a precompiled [regex](https://www.lfd.uci.edu/~gohlke/pythonlibs/#regex) package needs to be installed.
   - Search for and download `regex` file ending in `cp27-cp27m-win32.whl`
   - Command prompt example `pip install regex-202

[2021-05-18 06:00] Danesprite commented on #337
@LexiconCode
I have also had trouble with this package in other scenarios using Python 3. I think the best thing to do here is to remove the `regex` package as a dependency and change the relevant code under `dragonfly.accessibility` to use the built-in `re` module instead. I will do this in the next (patch) version.

[2021-05-19 10:49] Danesprite commented on #7
Hmm. Thanks for this. What they have done is quite clever. Remembering back to PR #305, neither @wolfmanstout nor myself could figure out how to actually use the [`SetThreadDpiAwarenessContext()`](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-setthreaddpiawarenesscontext) function from Python. Microsoft's documentation seemed to suggest it could only be used from C++, but c

[2021-05-19 14:18] altosaar opened #341 "Incorrect documentation for installation (with Natlink)"
The docs (https://dragonfly2.readthedocs.io/en/latest/natlink_engine.html#refnatlinkengine) state:

[code]

However, after installing natlink following the instructions at https://github.com/dictation-toolbox/natlink - there is no MacroSystem directory.

After running `start_natlinkconfig.exe`, I had to enable the user directory (I put it in Dropbox).

![image](https://user-images.githubuserconten

[2021-05-20 13:40] Danesprite commented on #341
Thank you for reporting this. This is a mistake. The typical path for the MacroSystem directory — `C:\NatLink\NatLink\MacroSystem` — is missing from this list. That directory is common using the stable versions of Natlink that require Python 2.7. It seems this is done differently using the (unstable) development version that works with Python 3.

Nevertheless, setting the Natlink User Directory wa

[2021-05-20 14:37] Danesprite commented on #337
I have added the following paragraph in the relevant documentation sections:

Does this look good/reasonable?

[2021-05-20 14:43] Danesprite commented on #341
I've updated the Natlink engine documentation page. I think it is clearer now. Do you see anything else that should be added in?

[2021-05-20 15:39] altosaar commented on #341
Thanks so much @Danesprite !

Would a 'quickstart' guide make sense to add as a top level heading in https://dragonfly2.readthedocs.io/en/latest/? It could simply be a few steps to reproduce a minimal working example with the least amount of effort, a few commands to help verify that everything is working properly.

Context: there are so many moving parts here and I still can't get natlink/dragonf

[2021-05-21 10:24] LexiconCode commented on #341
I wouldn't mind connecting remotely over TeamViewer or something similar if you would think that would be helpful.

[2021-05-21 18:15] LexiconCode commented on #341
Okay go ahead and get a hold of me through [gitter](https://gitter.im/dictation-toolbox/dragonfly) via private chat. Once you enter the chat you can click on my icon and it gives you the option for private chat.

[2021-05-22 11:41] Danesprite commented on #341
@altosaar Glad I could help!

A 'quickstart' guide would very much depend on the engine back-end you're using. So we have separate pages for each engine. It is more involved with Natlink than the others. But, clearly, the page for it could be better. There are Natlink install instructions for the stable version (4.2), along with a video guide, [here](https://qh.antenna.nl/unimacro/installation/ins

[2021-05-22 11:54] Danesprite commented on #341
I've added the link for [this page](https://qh.antenna.nl/unimacro/installation/index.html) instead, which is the page "above" it in the sitemap.

[2021-05-25 12:54] altosaar commented on #341
Thanks @Danesprite and @LexiconCode ! Just submitted a minimal working example with @LexiconCode 's template: https://github.com/dictation-toolbox/dragonfly/compare/master...altosaar:patch-1

Let me know if that looks OK!

[2021-05-26 04:59] LexiconCode commented on #341
Looks great and to the point!

[2021-05-26 12:38] #341 closed

[2021-05-30 16:43] Timoses opened #344 "MacOS No keyboard control"
Since some time keyboard input/control does not work any more (e.g. Caster dictation).

Dragonfly recognizes the command, but does not type anything.

Here's the log:
[code]

Platform: MacOS (11.2.3)

[code]

[code]

Any idea?

[2021-05-30 17:54] LexiconCode commented on #344
There are two main methods to help troubleshoot.

One is to use the text engine. This cuts the speech recognition framework out of the equation.

The second and most applicable would be to use a python file with the  '.execute()' example 'Text("test text").execute()'/'Key("w-c").execute()' or any other dragonfly action.

In both situations you can set the debugging levels for dragonfly. That way t

[2021-05-30 22:00] Timoses commented on #344
[code]

Would this work? I'd expect 'test text' to be typed when I execute it with `python test.py`.

However, nothing happens.

[2021-05-31 23:24] LexiconCode commented on #344
Yes I believe that should work although I executed through vs code.

[code]

See [logging](https://dragonfly2.readthedocs.io/en/latest/logging.html) and [setup_log](https://dragonfly2.readthedocs.io/en/latest/_modules/dragonfly/log.html#setup_log) for more options.

[2021-06-01 08:43] Danesprite commented on #344
Hi @Timoses,

Thank you for your report. Is the app running Python (e.g. Terminal) listed in the macOS preferences for apps allowed to control your computer? These apps are listed under System Preferences -> Security & Privacy -> Privacy (tab) -> Accessibility (section).

If the relevant app has accessibility access on your system, then I'm not sure what else could be causing this to happen. I was

[2021-06-01 14:06] Timoses commented on #344
Yes, Alacritty (my terminal emulator) is in the accessibility section.

I just added 'tmux' to it (System Preferences -> Security & Privacy -> Privacy (tab) -> Accessibility) and now it works..
Didn't think that would be it because it worked previously.

Thanks for the hint.

[2021-06-01 14:06] #344 closed

[2021-06-01 14:24] Danesprite commented on #344
Ah, that is odd. Glad you got that sorted out.

I have opened a *pynput* issue for this: https://github.com/moses-palmer/pynput/issues/389. *pynput* is the input library we use on macOS. I think a warning message should be printed if there is no accessibility access.

[2021-06-11 14:22] LexiconCode commented on #337
Install [Microsoft Visual C++ Compiler for Python 2.7](https://web.archive.org/web/20190720195601/http://www.microsoft.com/en-us/download/confirmation.aspx?id=44266) from web.archive.org mirror

[2021-06-14 06:30] Danesprite commented on #337
Both myself and Aaron have found this rather difficult. I'm afraid this dependency will have to stay in for the moment, unfortunately. I will make it an optional "extra" dependency for the functionality under `dragonfly.accessibility` in version 1.0.0 (see issue #238).

The other troubles with this package I referred to above are edge cases arising from the decision of the *regex* package maintain

[2021-06-23 07:48] Danesprite commented on #182
Dragonfly mostly uses scan codes for keyboard input emulation, which are hardware-dependent. I wonder if this problem is caused by a combination of this, use of certain keyboard models and Dragonfly's incorrect handling of extended keys, which may or may not include the control key depending on the hardware.

The incorrect handling of extended keys is fixed on the master branch (see #343) and will

[2021-06-24 06:38] daanzu commented on #182
@Danesprite You know more than I about the crazy intricacies of windows input, so I defer to your judgment. (All your work on it is appreciated!) All I can say is I have been unable to reproduce the problem for the past year and a half, and I run my own system with that logging fix disabled at all times in an attempt to catch it happening again, to no avail. Perhaps it was related to some internal

[2021-06-24 17:01] LexiconCode commented on #182
I would be in favor of a feature flag. That way we don't have to wait to another release and I can get a handle on how much this exists in the caster community.

[2021-06-26 08:21] Danesprite commented on #182
Okay then. It's a shame you haven't been able to replicate this, @daanzu. Thanks for trying. I think it is more likely this was caused by Dragonfly's input code, but you may be right; it might have been some Windows bug.

I will leave the logging work around in a `KaldiEngine` method that users can call. I have done something similar for the Natlink back-end. That would be helpful, @LexiconCode. K

[2021-06-26 14:07] Danesprite commented on #335
I'm closing this issue as it is not possible to support the <kbd>Fn</kbd> key in Dragonfly.

Let me know if you would like me to add additional keys as per my last comment.

[2021-06-26 14:07] #335 closed

[2021-06-26 14:55] Danesprite commented on #310
My apologies for not responding to this issue until now, @Timoses.

I would rather keep functionality like this out of Dragonfly, as it would add much more for me to maintain. You would need to have a protocol encompassing the functionality you want available on the remote client, e.g. a remote-control `Keyboard` class for using the `Key` and `Text` actions. If a user wanted *everything*, it would

[2021-06-26 14:55] #310 closed

[2021-06-26 15:04] Danesprite commented on #139
Hmm. I forgot about this issue from a better time. Closing since the Kaldi back-end `alternative_dictation` option has been available for a while now.

[2021-06-26 15:04] #139 closed

[2021-06-26 15:08] Danesprite commented on #309
I think this bug may have been fixed a while ago. Do you still get it @LexiconCode?

[2021-06-26 15:20] Danesprite commented on #182
The `KaldiEngine` method to enable the fix is `_apply_win32_kb_input_logging_fix()`.

I'd like to close this issue and reopen it if I see a report of the problem. Feel free to do the same, @LexiconCode. No news would be good news. :-)

[2021-06-26 15:20] #182 closed

[2021-06-26 19:40] LexiconCode commented on #309
Yes the issue looks like it's been resolved.

[2021-06-26 19:40] #309 closed

[2021-06-28 15:24] LexiconCode opened #350 "Having numlock on changes keypresses in dragonfly2 `0.32.0`"
Having numlock on `Key("del")` emulates `.` instead of the delete key in dragonfly2 `0.32.0`.
The same issue is not present in `0.31.2`

Other keys are affected but I'll need to research.

[2021-07-06 09:30] Danesprite commented on #350
Thank you for opening this issue. I'm fairly certain I know what is causing the problem and will fix it in the next patch version.

[2021-07-06 12:16] Danesprite commented on #255
Yes, that is correct.  Tiling window managers are actually quite old.  According to [the Wikipedia article on them](https://en.wikipedia.org/wiki/Tiling_window_manager), they date back to the 1980s.  Microsoft Windows 1.0 used tiling, for example.  You can still use it from the taskbar actually.  :-)

Agreed.  This is one barrier to partial Wayland support.

In my opinion, this is something that s

[2021-07-11 15:44] Danesprite commented on #310
@Timoses I don't think it is quite what you wanted, but I would be willing to make remote interaction easier for remote X11 systems, e.g. interaction via [OpenSSH X11 Forwarding](https://man.openbsd.org/ssh#X11_FORWARDING). This would be like locally using Dragonfly on the system running X11.

Unless I am missing something rather obvious, Dragonfly's X11 integration should be able to support this,

[2021-07-21 15:36] Danesprite commented on #350
Thank you very much for noting this issue wasn't present in 0.31.2, @LexiconCode! I see now that the issue is related to use of the `KEYEVENTF_EXTENDEDKEY` flag, which Microsoft appears to be documenting somewhat incorrectly.

This flag is mentioned [here](https://docs.microsoft.com/en-us/windows/win32/inputdev/about-keyboard-input#extended-key-flag), for instance, where the "scan code was precede

[2021-07-26 03:32] LexiconCode commented on #350
I think confusing is an understatement. Yuck.

[2021-07-31 08:14] Danesprite commented on #350
For sure.  The documentation just needs to be clearer, really.  A sentence or two in all relevant *Remarks* sections would be enough.  🤷

[2021-08-03 00:16] LexiconCode commented on #337
Here is some beta instructions to install Natlink on python 3 32-bit with PIP.

Preinstall requirements
- DPI 15 or derivative of the same version
- Python 3.8.X 32 bit is required.
- Make sure any previous versions of Natlink are unregistered and uninstalled. (Dragon must be close during that process)
- (optionally )If you have tried the the Natlink test package and/or main Natlink repository mak

[2021-08-04 13:32] LexiconCode commented on #255
It might be possible to support this in the future once the fragmentation of wayland compositors consolidate. A few helpful resources for understanding what protocols are implemented and equivalents with X11. I will update this post if I find anything that tracks/implements compositors consolidation.

https://wayland-bites.github.io/#EWMH%20(NetWM)
https://wayland.app/protocols/

[2021-08-06 21:16] dougransom opened #353 "PEP660/ compatible install for easier devs"
"Python programmers want to be able to develop packages without having to install (i.e. copy) them into site-packages, for example, by working in a checkout of the source repository."

https://www.python.org/dev/peps/pep-0660/

```flit install --symlink``` works pretty well for packages build with flit.  To move to flit from setuptools just requires a src directory structure and to move the metada

[2021-08-06 21:17] dougransom commented on #353
I don't know how to mark this as a possible enhancement for consideration as opposed to an issue that needs to be addressed to the deficiency.

[2021-08-07 01:51] LexiconCode commented on #353
As dragonfly is currently setup I use the following 'pip install -e .' The dot symbol can be replaced with the absolute path as well.

[2021-08-08 11:44] Danesprite commented on #337
Thank you for these instructions, Aaron!

[2021-08-08 11:54] Danesprite commented on #337
I'd like to say here that I have changed my mind on dropping Python 2.7 support for Dragonfly in the future.  Since this is an old, basically complete library that has always worked with Python 2 and I'm familiar enough with supporting both major versions, I'm happy to continue support for both 2.7 and 3.x.

This would be for the core functionality (i.e. non-optional features), the Natlink, SAPI 5

[2021-08-11 17:52] dougransom commented on #353
maybe it is a non-issue then - the use case is already supported?  I didn't think there was a solution for a setuptools package.   If pip -e works this should be closed?

[2021-08-12 09:07] Danesprite commented on #259
Documenting grammars or command modules can already be done with the [Configuration Toolkit](https://dragonfly2.readthedocs.io/en/latest/config.html).  Christo Butcher, the author of Dragonfly, wrote in his [dragonfly-modules](https://github.com/t4ngo/dragonfly-modules) repository many command modules and *.txt* files using this toolkit.

The following is an example configuration for commands that

[2021-08-12 18:47] lunixbochs commented on #245
I recommend closing this as per https://github.com/dictation-toolbox/dragonfly/pull/326

[2021-08-13 06:04] Danesprite commented on #245
Thanks.

[2021-08-13 06:04] #245 closed

[2021-08-14 13:45] Danesprite commented on #240
Is there still interest in this feature?  There haven't been any comments in well over a year.

I must say that I don't really understand the problem with using one of the libraries that have already solved the problem.  Breathe lets you define commands like mapping rules and reduces CCR to one boolean argument:

[code]

`add_commands()` can be used to add other global or context-specific CCR (or

[2021-08-15 07:49] Danesprite commented on #353
Aaron is correct; `pip install -e` allows this already.

Symbolic links are one way of implementing editable installations.  However, some systems place restrictions upon the creation of symbolic links.  For instance, Windows (by default) allows only members of the *Administrators* group to create symbolic links.  This is documented [here](https://docs.microsoft.com/en-us/windows/security/threat-p

[2021-09-02 17:35] MarkRx opened #354 "Update natlink import namespacing"
Now that natlink is a module that can be installed with pip it has namespacing. References need to be updated to use the proper namespacing.

`from natlinkcore import natlink`

[example](https://github.com/dictation-toolbox/dragonfly/blob/master/dragonfly/engines/backend_natlink/engine.py#L130)

[2021-09-02 22:27] matthewmcintire opened #355 "Kaldi back-end invokes AGPL license"
Could a note be made somewhere more prominently in the documentation that when using the Kaldi back end, the AGPL license from kaldi_active_grammar subsumes the LGPL license from dragonfly? AGPL is significantly more restrictive.

[2021-09-03 13:59] Danesprite commented on #255
Thanks for the links, Aaron.  The first one is especially useful.  The *xdg-shell* "standard protocol extension" looks like the best one, although it is still missing quite a bit.

The designers of Wayland seem to be quite concerned with security.  Overly so, in my opinion.  It is interesting to note that OpenBSD, a UNIX-like operating system focused largely on security, still recommends X11 in th

[2021-09-07 09:17] Danesprite commented on #354
I'll make the necessary changes.

As I have said elsewhere, Python 2.7 support will not be dropped for core features and most SR engine back-ends, including the Natlink back-end.  Dragonfly will continue to support the way this was done in previous versions of natlink, e.g. version 4.2.

[2021-09-12 12:28] Danesprite commented on #355
Certainly.  I can add the license name alongside Kaldi where the engine back-ends are listed, e.g. in the *README* file's *Introduction* section.  I'll do the same for the CMU Sphinx back-end, which is also licensed differently.

David Zurow (@daanzu) has indicated on the KaldiAG project page [here](https://github.com/daanzu/kaldi-active-grammar#license) that he is willing to be flexible for those

[2021-09-12 12:53] Danesprite commented on #355
My aside on the license for CMU Sphinx is not so accurate.  That license is permissive and appears essentially the same as the 2-clause BSD license.

[2021-09-13 12:29] #355 closed

[2021-09-13 12:43] Danesprite opened #357 "Command-line interface bug with patterns"
The command-line interface *load* and *test* commands are both documented to take zero or more command module file paths.  However, this rule is broken if a glob pattern is specified that matches no files, in which case the program exits early with an error.  The following commands should both have the same behaviour run in an empty directory:

[code]

[2021-09-23 12:38] Danesprite commented on #357
There is a bug here, but the above is not quite right.  I think the correct solution is to treat the string as a normal filename if the pattern matches no files.

[2021-10-01 14:01] #357 closed

[2021-10-08 07:58] m-spisiak opened #358 "Slow command execution on Ubuntu using Kaldi engine."
Hi,

I'm  trying to use dragonfly  for simple commands like copy and paste,  but I'm experiencing a  substantial lag between recognition and execution of the command.  that is, For example I take kaldi-grammar-main, And I say “Charlie”, the recognized command is printed in terminal correctly and fast, but then the execution, during which the cursor is frozen and waits, takes around a whole second

[2021-10-09 04:22] LexiconCode opened #359 "Launching sapi5 win32com has no attribute CLSIDToClassMap"
When launching sapi5 via cli I get;
[code]

Workaround:
- ` Remove-Item -path $env:LOCALAPPDATA\Temp\gen_py -recurse`
https://gist.github.com/rdapaz/63590adb94a46039ca4a10994dff9dbe

[2021-10-14 07:49] Danesprite commented on #359
Thanks for opening an issue on this problem.  I've been aware of it for some time and came up with a similar workaround.  Unless I am missing something, I'd say this is an external bug with pywin32.

[2021-11-14 05:35] Danesprite opened #361 "Incorrect platform check for AT-SPI accessibility controller"
CC @wolfmanstout

The following platform check for using the AT-SPI accessibility controller on Linux seems somewhat incorrect to me:
https://github.com/dictation-toolbox/dragonfly/blob/118defba2d90dfc1b21b388850e998e1735241f2/dragonfly/accessibility/__init__.py#L11-L13

My understanding is that AT-SPI is supposed to work on "Free Desktop" environments, e.g. GNOME.  This means that while the softw

[2021-11-14 06:39] wolfmanstout commented on #361
Thanks Dane for digging into this. I didn't put much research into these lines: basically I was supporting what I had tested which was only Windows and Linux. So what you describe makes sense and sounds better!

[2021-11-15 06:13] Danesprite commented on #361
Hi James,

Checking for Windows or Linux is fine in most cases, of course.  I'll make the change and adjust the documentation page appropriately.

I hope to open a separate pull request with a few minor changes to the accessibility sub-package.

[2021-11-15 07:08] Danesprite opened #362 "X Window System (X11) detection is unreliable"
According to the [X(7)](https://www.x.org/releases/X11R7.5/doc/man/man7/X.7.html) manual page, the *DISPLAY* variable, used to store the X server's display name, is the only mandatory environment variable.  Therefore, this is the one we should be checking for in Dragonfly instead of *XDG_SESSION_TYPE*, which we've had trouble with in the past.

[2021-11-15 07:25] Danesprite commented on #361
As mentioned in #362, the variable mentioned above is unreliable.  I'll check for *DISPLAY* instead.

I could also add a check for *WAYLAND_DISPLAY*, although I'm not sure if there's much point.  If there is someone really interested in that, they can get in touch.

[2021-11-21 05:25] Danesprite opened #363 "Grammar lists do not work correctly with Dragon 15 in some cases"
dictation-toolbox/natlink#82

Dragonfly's dynamic grammar list functionality does not work correctly with Dragon 15 if used in a stand-alone Python process. However, it works just fine in a command module loaded by natspeak.exe.  The problem can be replicated by running Dragonfly's test suite in the root directory of this repository:
[code]

The [test_grammar_list_doctest.txt](https://github.com/d

[2021-12-09 06:29] #361 closed

[2021-12-09 06:29] #362 closed

[2022-01-19 20:10] kendonB commented on #358
@m-spisiak did you find the workaround [here](https://github.com/jordansissel/xdotool/issues/10#issuecomment-626375187)? i.e. run `setxkbmap jp`

Does that work for you?

[2022-01-20 06:24] Danesprite commented on #358
This only occurs for some users.  The author of Xdotool goes into much detail on this in the issue Kendon linked to above (jordansissel/xdotool/issues/10).

I would recommend trying a different desktop environment and seeing if that helps.  This particular problem doesn't occur for me running Xfce.

I'm not sure how your friend was able to reproduce this on Windows.  That would be a separate issue

[2022-01-21 11:00] m-spisiak commented on #358
Hi,
@kendonB I havent found any workaround, only that of using EN-US layout for which the problem disappears, but I need my keyboard differently mapped for work, so this doesnt solve the issue really. At least not for me. Same for your advice with jp map, it messes up the keys from the keyboard...

@Danesprite it may well be as you say, that it doesnt happen to everyone, but it is not easy to just

[2022-01-21 11:12] m-spisiak commented on #358
I wonder if it would be easy to rewrite the xdotools keystroke emulation to some other emulator. Before I was using https://github.com/aidygus/LinVAM and I didnt have this problem there.
I am very far from understanding how these things work, so I would try to hire someone for that, but I would need to know if it is a lot of work or not.

[2022-01-21 15:28] kendonB commented on #358
@m-spisiak that platform references `xdotool` so it would be good to learn what they did to work around this issue (or if indeed they also experience it).

[2022-01-22 12:36] Danesprite commented on #358
Hello m-spisiak,

You are quite right to say that it is not so easy to change the environment.
Please forgive that oversight on my part.

I do have an alternative solution that should work for Dragonfly, which is
to use the library's pynput keyboard implementation instead of Xdotool.  If
you like, I can add a way to enable it.  I cannot guarantee that this will
solve your problem as I am unable to

[2022-01-22 16:36] codebold commented on #358
Hello, i experienced the same issue, and also switched from xdotool to pynput on Ubuntu #323. However, there are some issues:
- The Key action does not work in Eclipse; Text is fine.
- The Gnome interpreter (ALT+F2) does not receive any input.
Has anyone a solution/workaround for that?

[2022-01-23 02:31] Danesprite commented on #358
Hello Johannes,

The issues you mention are what I referred to above as quirks and are
related to pynput sending synthetic key events.  There is a related pynput
issue on this: moses-palmer/pynput/59.

One solution is to have pynput send non-synthetic key events like Xdotool.
As far as I know, there is no switch in the API for that.  Adding one would
be up to the author of the library and it might

[2022-01-23 11:52] codebold commented on #358
Hey Dane,

thanks for your reply! Yesterday i tried to work around these issue with individual actions using individual keyboard, as you also suggested. However, i got stuck because of an error. I will give it another try today.

I also have to reformulate my problem a little bit. Most keys are also fine with pynput. Only, if a modifier is pressed, the key combination is not recognized in Eclipse

[2022-01-23 12:37] codebold commented on #358
Okay, i fixed my issue with xdotool. I had some weird wiring in the class hierarchy, so that the xdotool key action was trying to send pynput typeables. Now i can use both libraries concurrently, but it is really some hack for now... I i would prefer to get the modifiers running with pynput I guess at some future point in time...

[2022-01-24 08:28] m-spisiak commented on #358
Hi @kendonB, I am not sure here, xdotool is an optional requirement there and I searched and didn't see it in the code anywhere. But if you looked closer than me then you're probably right.

[2022-01-24 08:34] m-spisiak commented on #358
@Danesprite Thanks a lot for the reply! I would give the pynput a go. Can you direct me to some docs that would explain how to make it work? I had a search of the official doc and didn't see it.

[2022-01-24 08:41] codebold commented on #358
@m-spisiak https://github.com/dictation-toolbox/dragonfly/blob/a2b8f8e8ed1182465b831205b9804323beea112a/dragonfly/actions/keyboard/__init__.py initializes the keyboard. It selects xdotool if you are on Linux and pynput if you are on Mac. So something like the code below should do the trick. Feel free to implement it in a nicer or more flexible way...

[code]

[2022-02-22 04:47] kendonB opened #364 "Window.close() not working correctly on Linux"
As per Gitter, @Danesprite says:

[2022-02-23 02:30] Danesprite commented on #364
Thank you Kendon for opening this issue.

I have just had a look into this and it seems that what I had observed was
an X11 quirk.  I had assumed that X11 had, like Windows, separate
mechanisms for closing and destroying application windows.  This is not the
case.  The following Stack Overflow answer goes into more detail on this:

https://stackoverflow.com/a/22612855

What seems to be happening i

[2022-02-24 11:01] #364 closed

[2022-02-24 11:18] Danesprite commented on #364
This issue is now resolved in version 0.34.1.  If the *wmctrl* program is
not installed, Dragonfly will fallback on *xdotool* and the old behaviour.
Both programs should be available from the system package manager.

I'll look into the feasibility of using *python-xlib* instead at some point.
It would make our X11 integration more portable and efficient.

[2022-03-19 11:36] #240 closed

[2022-03-23 11:43] Danesprite commented on #354
It seems that the [NatlinkModule/__init__.py](https://github.com/dictation-toolbox/natlink/blob/master/NatlinkModule/__init__.py) file was changed to import everything from *natlinkcore* in October.  This issue is out of date.

[2022-07-19 07:19] Danesprite commented on #354
That's all right, Quintijn.  I am sorry to only reply to your comment today.

I have updated the procedures that use the `natlinkstatus` module.  Dragonfly will attempt to import this module with the following incantations (in order):

 1. import natlinkstatus
 2. from natlinkcore import natlinkstatus

As we have discussed privately, no changes will be necessary to use the `natlink` ext. module, s

[2022-08-05 16:28] denvaar opened #368 "Double click not working (Kaldi, OSX)"
Single click Mouse actions work great, however I cannot get a double click to work. This seems like a bug to me, but maybe I'm doing something wrong.

[code]

I've tried many variations, like adding a pause, or chaining two single click mouse actions together, but nothing seems to do the trick. There is no error in the console either.

I use Kaldi engine and I'm on macOS Monterey Version 12.4 (Mac

[2022-08-10 09:19] Danesprite commented on #368
Hello Denver,

Thank you for reporting this problem.  It is indeed a bug with the library.  It looks like scrolling is broken on macOS too.  I'll have both fixed in the next version.  That may be some time off, however.

In the meantime, the following code will allow you to double click:

[code]

Triple click is broken too.  Invoke the `left_click` function with *3* instead to triple click.

Hope

[2022-08-11 03:07] denvaar commented on #368
Thanks @Danesprite 👍

[2022-08-11 04:47] Danesprite commented on #368
No problem.  I should have these bugs fixed soon.

[2022-08-11 20:24] denvaar opened #369 "Can't always get the title of iTerm window when maximized"
I don't think this is necessarily a dragonfly bug, but I wanted to at least mention it here since it might affect people.

I'm not sure if it's an iTerm issue, or something with Applescript itself, but I noticed that sometimes `AppContext` fails to match the title of the window, because the value was being set to "msng", which means "missing" [according to this](https://github.com/rdhyee/py-apples

[2022-08-14 00:57] Danesprite commented on #369
Hello Denver,

Thank you for reporting this problem in detail.  The cause appears to be
iTerm or macOS itself.  I do recall having similar issues with fullscreen
macOS windows in the past though.  Do you know if it happens with other
application windows?

Either way, perhaps a more general version of your workaround should be
added to the `_get_window_module' procedure?  I'll look into this.

[2022-09-04 05:43] Danesprite opened #370 "Use of Natlink's window-specific rule activation feature"
I have been requested to use this Natlink/DNS feature in Dragonfly.  It may be used to mark grammar rules as high priority, meaning that they override global DNS rules, or commands.

I have had some trouble getting this to work reliably.  But, even if that were not the case, enabling this by default would deviate from behaviour that users have come to expect.  So it will be added as off-by-default

[2022-09-04 07:59] Danesprite commented on #196
Apart from using *sounddevice* for the CMU Pocket Sphinx back-end, and for the *PlaySound* action, "unifying" the audio code no longer interests me.

As for the audio retention feature, it would be better suited to loadable (pseudo-)command modules that process the recognitions of other grammars.

I plan to move the audio/data retention part out of, at least, the Natlink back-end.  It will still e

[2022-09-04 07:59] #196 closed

[2022-09-04 08:08] Danesprite commented on #359
I don't even get this error on my system any more.  Maybe it's fixed?

Or maybe it only happens when pywin32 is installed via pip?  If I recall correctly, the installer version performs some extra steps, related to win32com, that can't feasibly be done via pip.

[2022-09-04 13:47] LexiconCode commented on #359
Yeah you can feel free to close as I have not experienced it in a while.

[2022-09-04 13:48] LexiconCode commented on #370
This is great! I'll try to test this soon. In terms of reliability, can you expand on that some?

[2022-09-04 13:59] Danesprite commented on #359
All right then.  We can always re-open it later if necessary.

[2022-09-04 13:59] #359 closed

[2022-09-04 14:13] Danesprite commented on #370
I haven't got this working yet, actually.  I just realised there wasn't a GitHub issue for it.  It is partly implemented on the master branch.  I will finish it there soon.

As to reliability, I think my code calls some Natlink functions in a way that causes problems.  Vocola uses this feature by default and, though it has been a while, I don't remember having trouble.

[2022-09-05 08:53] Danesprite commented on #370
This feature is now implemented, and currently enabled by default, on the master branch version.  Or, at least I think it is...

I'll be honest, I cannot discern any difference between normal and "high-priority" rules.  My information is from Mark Lillibridge, who wrote about this in the Dragonfly Gitter channel in June/July.

Perhaps this only makes a difference on other versions of DNS?  I'm on

[2022-09-12 08:54] Danesprite commented on #368
This is fixed on the master branch.  There is one limitation though.  Double-click and triple-click will only work when the repeat syntax is used:
[code]

The following will not work properly on macOS:
[code]

I'll make another comment, and close this issue, after the next release version is out.

[2022-09-23 03:03] #363 closed

[2022-09-23 03:08] Danesprite commented on #370
I haven't run into any problems with this, so it will be on by default in the next version.  If users report problems related to this, I'll consider adding an option.

[2022-09-23 03:08] #370 closed

[2022-09-29 04:54] Danesprite opened #372 "Process Win32 input events through Natlink when possible"
Re: #11.

It occurs to me that most Dragonfly `Key`, `Text` and `Mouse` actions could be processed using the special natlink `playEvents()` function.  Because DNS itself would "play" the events, this would allow indirect interaction with applications running in elevated mode.

This feature could either be optional or always used if the natlink module is available and DNS is running.

Assuming the

[2022-10-01 07:12] Danesprite commented on #372
I have got the `Key` and `Text` actions to work as above.  (Haven't committed the changes yet.)  I am able to use these actions to interact with applications running in elevated mode.  However, due to certain limitations of the interface, I think the feature should be disabled by default.  It will be enableable like the Unicode keyboard.

Incidentally, this interface may be used in conjunction wit

[2022-10-05 06:50] Danesprite commented on #372
This interface doesn't work well with modifier keys and is therefore unsuitable as an alternative to *SendInput*.  I'll mention the Natlink `playEvents()` and `playString()` functions in the FAQ answer for controlling administrative applications and leave it at that.